.example_pagin_button{
    display: none !important;
}

.pagin_button{
    padding: 4px 8px;
    background-color: var(--bg_color);
    display:none;
    cursor: pointer;
}

.pagin_dots{
    display: block;
}

/* Не отображаем точки если текущий элемент находится в одной кнопке до начала */
.pagin_dots:has(+ .current_pagin_button){
    display: none;
}

/* Не отображаем точки если текущий элемент находится в двух кнопках до начала */
.pagin_dots:has(+ .pagin_button + .current_pagin_button){
    display:none;
}
/* Не отображаем точки если текущий элемент находится в одной кнопке до конца */
.current_pagin_button + .pagin_dots{
    display: none;
}
/* Не отображаем точки если текущий элемент находится в двух кнопках до конца */
.current_pagin_button + .pagin_button + .pagin_dots{
    display: none;
}

/* Предыдущая кнопка */
.pagin_button:has(+ .current_pagin_button){
    display:block;
}
.pagin_button:has(+ .pagin_dots + .current_pagin_button){
    display:block;
}

/* Следующая кнопка */
.current_pagin_button + .pagin_button{
    display:block;
}
.current_pagin_button + .pagin_dots + .pagin_button{
    display:block;
}

.first_pagin_button{
    display:block;
}
.last_pagin_button{
    display:block;
}

.current_pagin_button{
    display:block;
    outline: 3px solid var(--button_action_active);
    outline-offset: 1px;
}

.hr_paginator{
    border-top-color: grey;
    border-top-width: calc(var(--devider_width)/2);
}

.paginator_container{
    transition: all;
    width: 100%;

    border-bottom: 3px solid var(--main_color);
    background: rgb(148,187,233);
    background: -moz-linear-gradient(180deg, rgba(148,187,233,0) 27%, rgba(217,167,113,0.4429972672662815) 100%);
    background: -webkit-linear-gradient(180deg, rgba(148,187,233,0) 27%, rgba(217,167,113,0.4429972672662815) 100%);
    background: linear-gradient(180deg, rgba(148,187,233,0) 27%, rgba(217,167,113,0.4429972672662815) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94bbe9",endColorstr="#d9a771",GradientType=1);
}