.nav_menu_item{
	font-size: var(--size-titleH4_font);
	color: var(--ui_text_color);
	text-align: end;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.nav_menu_item > a{
	color: var(--ui_text_color);
}

