.notificator_error{
	color: var(--error);
}

.notificator_success{
	color: var(--success);
}

.notificator_warning{
	color: var(--warning);
}

.notificator_info{
	color: var(--info);
}

.notificator-inactive{
	display: none;
}
.notificator{
	opacity: 100%;
	padding: 8px 14px 8px 14px;
	border: 3px groove grey;
	width: 100%;

	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-duration: 5s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-name: notification_fadeout;
}
.notificator-container{
	position: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--mid_pm);
	right: 0;
    margin: var(--min_pm);
	max-width: 300px;
}

@keyframes notification_fadeout {
	0% {opacity: 1;}
   100% {opacity: 0;} 
}