*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

q {
	font-family: var(--family-acent_font);
	font-weight: var(--weight-acent_font);
	font-size: var(--size-acent_font);
	font-style: italic;
}

hr {
	border-top: var(--devider_width) solid var(--devider_color);
	margin-top: var(--devider_margin);
	margin-bottom: var(--devider_margin);
}

fieldset {
	border: 1px solid black;
	padding: 10px;
	border-radius: 15px;
}

html, body {
  font-family: var(--family-main_font);
  font-size: var(--size-main_font);
  font-weight: var(--weight-mainRegular_font);
  color: var(--main_text_color);
  background-color: var(--bg_color);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--family-title_font);
  font-weight: bold;
  font-size: inherit;
}
h1{
	font-size: var(--size-titleH1_font);
}
h2{
	font-size: var(--size-titleH2_font);
}
h3{
	font-size: var(--size-titleH3_font);
}
h4{
	font-size: var(--size-titleH4_font);
}
h5{
	font-size: var(--size-titleH5_font);
}
h6{
	font-size: var(--size-titleH6_font);
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}


.wrapper {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
