.wrapper{
	padding: 0;
}
.page{
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

.page_portfolios{
	width: 100%;
	height: 400px;
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
}

.page_add__case{
	position: fixed;
	top: 25px;
	left: 25px;
	display: flex;
	align-items: center;
}

.plus {
	display:inline-block;
	width:50px;
	height:50px;
	background:
	linear-gradient(#fff 0 0),
	linear-gradient(#fff 0 0),
	#000;
	background-position:center;
	background-size: 50% 4px,4px 50%; /*thickness = 2px, length = 50% (25px)*/
	background-repeat:no-repeat;
	border-radius: 50%;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	transition: border-radius 0.5s;
}

.plus_desctipion_active{
	animation-name: show_button;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.plus_active{
	animation-name: vigle_button;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}


@keyframes vigle_button {
	from{
		
		background-size: 50% 4px,4px 50%; /*thickness = 2px, length = 50% (25px)*/

	}
	to{
		background-size: 80% 8px,0 0%; /*thickness = 2px, length = 50% (25px)*/
		background:
		linear-gradient(0 0 0),
		linear-gradient(0 0 0),
		0;
	}
}
@keyframes show_button {
	from{
		width:0;
	}
	to{
		width:200px;
		background-color: white;
	}
}

.plus_description{
	display:flex;
	width: 0%;
	background-color: black;
	height: 50px;
	padding: 10px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.plus_desription > a{
	color: black;
}

.invs_case__container{
}

.invs_case__container--left{
	opacity: 10%;
	display: flex;
	height: 50%;
	flex: 0 0 auto;
	border: 1px solid grey;
	width: 0;
}

.invs_case__container--right{
	opacity: 10%;
	display: flex;
	max-height: 50%;
	flex: 0 0 auto;
	border: 2px double black;
	width: 0;
}
.curr_case__container{
	display: flex;
	height: 100%;
	border: 4px double black;
	flex: 3 0 25%;
}
.prev_case__container{
	opacity: 50%;
	display: flex;
	height: 70%;
	border: 2px double black;
	flex: 2 0 25%;
	font-size: 14px;
}
.next_case__container{
	opacity: 50%;
	display: flex;
	height: 70%;
	border: 2px double black;
	flex: 2 0 25%;
	font-size: 14px;
}
.case__container{
	overflow: hidden;
	flex-direction: column;

}

.pager_buttons__container{
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	align-items: center;
}

.dots--separator{
	margin:10px;
	display: flex;
	align-items: center;
}
.dot{
	margin: 5px;
	border-radius: 50%;
	border: 3px solid grey;
}

.pager__triangle_right {
	position: relative;
	top: 30%;
    width: 0;
    height: 0;
    border-style: solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #000000;
    border-right: 0;
	transition: all .2s; 
}
.pager__triangle_right--tostart{
	position: relative;
	margin-left: 50px;
}
.pager__triangle_right--subtriangle{
	position: absolute;
	top: -20px;
	right: -10px;
}
.pager__triangle_right:active{
	transform: scale(0.5);
}



.pager__triangle_left {
	position: relative;
	top: 30%;
    width: 0;
    height: 0;
    border-style: solid;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #000000;
    border-left: 0;
	transition: all .2s; 
}
.pager__triangle_left--toend{
	position: relative;
	margin-right: 50px;
}
.pager__triangle_left--subtriangle{
	position: absolute;
	top: -20px;
	left: -10px;
}

.pager__triangle_left:active{
	transform: scale(0.5);
}

.push_button{
	animation-name: push_button ;
	animation-duration: 0.4s;
}

.show_invs_case{
	animation-name: show_next__invisible_one;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.show_vs_case{
	animation-name: show_next__visible_one;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.hide_invs_case{
	animation-name: hide_prev__invisible_one;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.hide_vs_case{
	animation-name: hide_prev__visible_one;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes show_next__invisible_one {
	from{
		flex: 0 0 0px;
		height: 50%;
	}
	to{
		flex: 2 0 100px;
		height: 70%;
	}
}

@keyframes show_next__visible_one {
	from{
		flex: 2 0 100px;
		height: 70%;
	}
	to{
		flex: 3 0 100px;
		height: 100%;
	}
}
@keyframes hide_prev__invisible_one {
	from{
		flex: 3 0 100px;
		height: 100%;
	}
	to{
		flex: 2 0 100px;
		height: 70%;
	}

}
@keyframes hide_prev__visible_one {
	from{
		flex: 2 0 100px;
		height: 70%;
	}
	to{
		flex: 0 0 0px;
		height: 50%;
	}
}


@media screen and (max-width: 900px){
	
	.pager__triangle_left {
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-right: 60px solid #000000;
	}
	.pager__triangle_right {
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 60px solid #000000;
	}
	.dot{
		margin: 10px;
		border: 6px solid grey;
	}
	.dots--separator{
		margin:20px;
	}
	.next_case__container{flex: 0 0 auto; width: 0;border: 0px solid grey;}
	.prev_case__container{flex: 0 0 auto; width: 0;border: 0px solid grey;}
	.invs_case__container--left{border: 0px solid grey;}
	.invs_case__container--right{border: 0px solid grey;}
	#prev_case__inner_container{display: none;}
	#next_case__inner_container{display: none;}

	@keyframes show_next__invisible_one {
		from{
			flex: 0 0 0px;
			height: 50%;
		}
		to{
			flex: 0 0 0px;
			height: 70%;
		}
	}

	@keyframes show_next__visible_one {
		from{
			flex: 0 0 0px;
			height: 70%;
		}
		to{
			flex: 3 0 100px;
			height: 100%;
		}
	}
	@keyframes hide_prev__invisible_one {
		from{
			flex: 3 0 100px;
			height: 100%;
		}
		to{
			flex: 0 0 0px;
			height: 70%;
		}

	}
	@keyframes hide_prev__visible_one {
		from{
			flex: 0 0 0px;
			height: 70%;
		}
		to{
			flex: 0 0 0px;
			height: 50%;
		}
	}
	.case__container{
		max-width: 300px;
		max-height: 80%;
	}
}

.case_header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: 30px 0 10px 0;
}

.case_avatar{
	
}

.case_avatar > img{
	max-width: 64px;
}

.case_title{
	font-size: 20px;
	font-weight: bold;
	align-self: center;
}

.case_tags{
	display: flex;
	justify-items: start;
	padding: 10px;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

.case_tags__el{
	padding: 0 5px 0 5px;
	margin-right: 10px;		
	margin-bottom: 5px;		
	background-color: #9cdae6;
	transform: skewX(-15deg);
	outline: 1px solid grey;
}

.case_description{
	margin-bottom: 10px;	
	padding:10px;
	letter-spacing: 5px;
	flex: 1 0 auto;
	max-height: 40%;
	overflow: scroll;
}

.case_footer{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: end;
	padding: 10px;
	margin-bottom: 10px;
}

.case_site{
	margin-bottom: 20px;
}

.case_email{
	padding: 10px;
	margin-bottom: 20px;
}



.case_tosite{
	padding: 10px;
}

.case_tosite > a{
	color: #84a8e3;	
	transition: padding 0.3s;
	border-bottom: 2px solid #84a8e3; 
}
.case_tosite > a:hover{
	padding-left:10px;
	padding-right:10px;
}

