.active{
	display: none;
}
.page{
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}
.selected_view, .selected_order{
	background-color: var(--acent_color);
}
.rotate_X{
	transform: rotateX(180deg);
}
#sort_actions{
	margin-bottom: 90px;
}