.share_options{
	display: flex;
	flex-direction: row;
	column-gap: var(--mid_pm);
	margin-top: var(--max_pm);
	justify-content: center;
	height: 0;
	transition: 0.2s;
	overflow: hidden;
}
.active{
	display: none;
}
