@import "tailwindcss";
@tailwind utilities;


input{
    max-width: unset;
}

#content_post_article {
  padding: 0;
}

hr{
  margin-bottom: 0;
}

img.captcha{
  width: unset;
}

.tab_button>img:not(.tab_button.tab_active>img){
  filter: brightness(0) invert(0) ;
}
