@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import './tabs.css';
@import '../../../../../Main/static/loader.css';
@import '../../../../../Main/static/images.css';
@import '../../../../../Main/static/table_of_content.css';


input{
    max-width: unset;
}

#content_post_article {
  padding: 0;
}

hr{
  margin-bottom: 0;
}
img{
  width:100%;
}

img.captcha{
  width: unset;
}
