{% load static %}
{% load i18n %}

{% for comment in comments %}
<div class="comment column min_gap">
    <div class="row mid_gap wrap">
        <div class="comment_time row min_gap nowrap">
            <img class="in_middle-self icon_small  loader" width="32" height="32" src="{% static 'Engagement/img/calendar.svg' %}" alt="Часы">
            {{comment.time_published}}
        </div>
        <div class="comment_person row min_gap nowrap">
            <img class="in_middle-self icon_small  loader" width="32" height="32" src="{% static 'Engagement/img/person.svg' %}" alt="Человек">
            {{comment.name}}
        </div>
    </div>
    {% if comment.rating != 0%}
    <div class="comment_rating">
        {% for i in '12345'|make_list%}
            {% if forloop.counter <= comment.rating %}
            <div class="selected_star"></div>
            {% else %}
            <div class="not_selected_star"></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="comment_message">
        {{comment.message}}
    </div>
</div>
{% endfor %}