{% load static %}
{% load i18n %}

{% include 'Engagement/comment_form.html'%}

<div id='comments_container' class="comments column min_gap">
{% if comments|length > 0 %}
    {% include 'Engagement/comments.html' with from="post" %}
{% else %}
    <div id='empty_comments_container' class="empty_comments_placeholder in_middle" >{% trans 'Сейчас тут пусто. Буть первым (oﾟvﾟ)ノ' %}</div>
{% endif %}
</div>

<div class="row mid_gap in_middle marger_top_max">
    {% if comments|length > 0 and all_comments_length > per_page_comments%}
    <div id="onCommentLoad" data-page-number='2' class="zIndZero see_more_button button action_button squered_button">
        {% trans "Больше ..." %}
    </div>
    {% endif %}
</div>
