{% load static %}
{% load i18n %}
{% load getInteraction %}

{% with interaction=path|getInteraction %}
    <div class="row min_col_gap">
        <div class="row min_col_gap">
            <img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Engagement/img/views.svg" %}' alt="{% trans "Глазик" %}">
            <div>{{interaction.views}}</div>
        </div>
        {% if is_likes or not isDisplayingActualAvailableInteractions %}
        <div class="row min_col_gap">
            <img class="in_middle-self icon_small dynamic_image svg_icon_inverted_black" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Engagement/img/like.svg" %}' alt="{% trans "Сердечки" %}">
            <div>{{interaction.likes}}</div>
        </div>
        {% endif %}
        {% if is_shares or not isDisplayingActualAvailableInteractions  %}
        <div class="row min_col_gap">
            <img class="in_middle-self icon_small dynamic_image svg_icon_inverted_black" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Engagement/img/share.svg" %}' alt="{% trans "Соединённые точки" %}">
            <div>{{interaction.shares}}</div>
        </div>
        {% endif %}
        {% if is_comments or not isDisplayingActualAvailableInteractions  %}
        <div class="row min_col_gap">
            <img class="in_middle-self icon_small dynamic_image svg_icon_inverted_black" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Engagement/img/comments.svg" %}' alt="{% trans "Соединённые точки" %}">
            <div>{{interaction.comments}}</div>
        </div>
        {% endif %}
        {% if is_bookmarks or not isDisplayingActualAvailableInteractions  %}
        <div class="row min_col_gap">
            <img class="in_middle-self icon_small dynamic_image svg_icon_inverted_black" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Engagement/img/bookmark.svg" %}' alt="{% trans "Соединённые точки" %}">
            <div>{{interaction.bookmarks}}</div>
        </div>
        {% endif %}
    </div>
{% endwith %}