{% load static %}
{% load i18n %}

{% for comment in comments %}
<div id="comment-{{comment.id}}" data-comment-id="{{comment.id}}" class="comment no_wrap min_gap">
    <div class="comment_time row min_gap nowrap">
        <img class="in_middle-self icon_small  loader" width="32" height="32" src="{% static 'Engagement/img/calendar.svg' %}" alt="Часы">
        {{comment.time_published}}
    </div>
    <div class="comment_person row min_gap nowrap">
        <img class="in_middle-self icon_small  loader" width="32" height="32" src="{% static 'Engagement/img/person.svg' %}" alt="Человек">
        {{comment.name}}
    </div>
    {% if comment.rating != 0%}
    <div class="comment_rating">
        {% for i in '12345'|make_list%}
            {% if forloop.counter <= comment.rating %}
            <div class="selected_star"></div>
            {% else %}
            <div class="not_selected_star"></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="comment_message">
        {{comment.message}}
    </div>
    {% if from == "home" %}
    <a href="{{comment.url}}">
    <div class="is_absolute button action_button t-r source_on_comment_button">
        {% trans 'Источник' %}
    </div>
    </a>
    {% endif %}
    {% if from == "post" %}
    <div id="show-all-replies-{{comment.id}}" class="full_width row on_end">
        <div class="row mid_gap">
            {% if comment.replies.all|length > 0 %}
            <div data-comment-id="{{comment.id}}" class="comment_reply_init button action_button b-r response_on_comment_button" >
                {% trans "Все ответы " %}({{comment.replies.all|length}})
            </div>
            {% endif %}
            <div id="reply-to-this-comment-{{comment.id}}" class=" reply-to-this-comment button action_button b-r response_on_comment_button" data-comment-reply-to={{comment.id}} data-from={{comment.name}}>
                {% trans "Ответить" %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% if from == "post" and comment.replies.all|length > 0 %}
<div id="comment-replies-{{comment.id}}" data-page-number="1" class="comment_reply is_none">
    <div id="comment-replies-body-{{comment.id}}" class="column min_gap">
    </div>

    <div id="comment-replies-next-{{comment.id}}" data-parent-comment-id="{{comment.id}}" class="row mid_gap on_middle_other marger_top_max">
        <div  data-page-number='2' class="zIndZero see_more_button button action_button squered_button">
            {% trans "Больше ..." %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}