{# Dependencied to be inserted #}
{% load static %}


<link type="text/css" rel="stylesheet" href="{% static 'modal.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'tooltip.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'notificator.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'Post/css/post.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'Engagement/css/engagement.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'Engagement/css/comments.css' %}"/>