{% extends 'Post/base_post_list.html' %}
{% load static%}
{% load i18n %}
{% load addToListInURL %}
{% load removeFromListInURL %}
{% load listToURL %}

{% block head_body %}
	{% if current_tag|length == 0 %}
		{% if current_page == 1%}
			<title>{{category.name}}</title>
		{% else %}
			<title>{{category.name}} - {% trans 'страница '%}{{current_page}}</title>
		{% endif %}
		<meta name="description" content="{{category.description}}">
		<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page}}&type=full&is_recent=true&mode=basic" />
		{% if current_page != num_pages %}
			<link rel='next' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'1'}}&type=full&is_recent=true&mode=basic">
		{% endif %}
		{% if current_page != 1%}
			<link rel='prev' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'-1'}}&type=full&is_recent=true&mode=basic">
		{% endif %}
	{% else %}
		<title>{{category.name}} {% trans 'с тегами:' %} {{current_tag_names|join:', '}}. {% trans 'Страница '%}{{current_page}}</title>
		
		<meta name="description" content="{{category.description}} {% trans ' Они были связаны и сгруппированы по следующим тегам: ' %}{{current_tag_names|join:', '}}.{% trans ' Страница '%}{{current_page}}">
		<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page}}&type=full&is_recent=true&mode=basic{{current_tag|listToURL}}" />
		{% if current_page != num_pages %}
		<link rel='next' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'1'}}&type=full&is_recent=true&mode=basic{{current_tag|listToURL}}">
		{% endif %}
		{% if current_page != 1%}
		<link rel='prev' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'-1'}}&type=full&is_recent=true&mode=basic{{current_tag|listToURL}}">
		{% endif %}
	{% endif %}
	<meta name="keywords" content="{{current_tag_names|join:', '}}">
{% endblock %}

{% block filters_body%}
<fieldset  class="fieldset_in_slider">
	<legend>
		<div>
			{% trans "ПОРЯДОК" %}
		</div>
	</legend>
	<div class="row mid_gap in_middle on_start no_wrap" >
		<img id="onSort" data-sort="{{is_recent}}" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/sort.svg' %}" alt="{% trans 'Значок сортировки' %}">
		<div>{% trans "Сортировка постов по дате публикации " %}</div>
	</div>
</fieldset>
<fieldset  class="fieldset_in_slider">
	<legend>
		<div>
			{% trans "ОТОБРАЖЕНИЕ" %}
		</div>
	</legend>
	<div id="toViews" data-view="{{mode}}" class="mid_col_gap" >
		<div class="row mid_gap in_middle no_wrap">
			{% if mode == 'basic' %}
				<img id="onBasicView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button selected_view" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/basic_view.svg' %}" alt="{% trans 'Значок базового представления' %}">
			{% else %}
				<img id="onBasicView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button " src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/basic_view.svg' %}" alt="{% trans 'Значок базового представления' %}">
			{% endif %}
			<div>{% trans "Отображение постов с превьюшкой и прочими данными"%}</div>
		</div>
		<div class="row mid_gap in_middle no_wrap">
			{% if mode == 'simple' %}
				<img id="onSimpleView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button selected_view" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/simple_view.svg' %}" alt="{% trans 'Значок упрощённого представления' %}">
			{% else %}
				<img id="onSimpleView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/simple_view.svg' %}" alt="{% trans 'Значок упрощённого представления' %}">
			{% endif %}
			<div>{% trans "Отображение постов без превьюшек"%}</div>
		</div>
	</div>
</fieldset>
<fieldset class="fieldset_in_slider">
	<legend>
		<div>
			{% trans "ТИП" %}
		</div>
	</legend>
	<fieldset class="fieldset_in_slider">
		<legend>
			<div class="row mid_gap in_middle on_start no_wrap" >
				<div  id="onTags" data-tags="{{tags_json}}">{% trans "Используемые теги для фильтрации" %}</div>
			</div>
		</legend>
		<div class="post_preview_tags">
			{% for tag in current_tag %}
			<a href="{{ category.get_absolute_url }}?page=1&type=full&is_recent={{is_recent}}&mode={{mode}}{{tag|removeFromListInURL:current_tag}}"><div class="tag text_button tag_remove">{{tag}}</div></a>
			{% endfor %}
		</div>
	</fieldset>
</fieldset>
{% endblock %}

{% block content_list %}
	<div id="meta-data" data-numpages={{num_pages}} data-currentpage="{{current_page}}" data-url="{{category.get_absolute_url}}"></div>
	<div id="page" class="page toObserve">
		{{ doc | safe}}
	</div>
{% endblock %}

{% block styles_list %}
{% endblock %}

{% block scripts_list %}
{% endblock %}
