{% extends 'Main/base.html' %}
{% load static%}
{% load i18n %}
{% load listToURL %}

{% block head %}
	{% if cfp_title and cfp_description %}
		<title>{{ cfp_title }}</title>
		<meta name="description" content="{{cfp_description}}">
		<meta name="keywords" content="{{current_tag_names|join:', '}}">
	{% else %}
		{% block head_body %}
		{% endblock %}
	{% endif %}
{% endblock %}

{% block hat %}
<div class="header_button  button squered_button"  data-body="filters_body">
	<img id="filters_hat_button" data-sort="true" width="32" height="32" class="icon dynamic_image " src="{% static 'placeholder.svg' %}" data-src="{% static 'filter.svg' %}" alt="{% trans 'one layer on top of anothe' %}">
</div>
<div class="nav_menu_item in_middle" ></div>
{% endblock %}

{% block content %}
	<div class='notificator-container'>
		<div class="notificator-blank notificator notificator-inactive"></div>
	</div>
	<div id="filters_body" class="hat_body">
		<div id="filters" class="full_width full_height padder">
			{% block filters_body%}
			{% endblock %}
			<div style='margin-top: 80px'></div>
		</div>
	</div>
	
	{% if cfp_preview %}
		<div class="post_image_container" style="background-image: url({% get_media_prefix %}{{cfp_preview}});"></div>
	{% else %}
		{% if post_list_preview %}
		<div class="post_image_container" style="background-image: url({% get_media_prefix %}{{post_list_preview}});"></div>
		{% endif %}
	{% endif %}

	<div class="limiter_list in_middle in_middle-self no_wrap padder">

	{% if current_tag|length == 0 %}
		{% if current_page == 1%}
			{% if cfp_h1 %}
				<h1>{{cfp_h1}}</h1>
			{% else %}
				<h1>{{category.name}}</h1>
			{% endif %}
		{% else %}
			{% if cfp_h1 %}
				<h1>{{cfp_h1}}</h1>
			{% else %}
				<h1>{{category.name}}{% trans ' начиная с ' %}{{current_page}}{% trans ' страницы'%}</h1>
			{% endif %}
		{% endif %}

		{% if cfp_lead %}
			<div class="text">
				{{cfp_lead}}
			</div>
		{% else %}
			<div class="text">
				{{category.description}}
			</div>
		{% endif %}
	{% else %}
		{% if cfp_h1 %}
			<h1>{{cfp_h1}}</h1>
		{% else %}
			<h1>{{category.name}} {% trans 'связанные со следующими тегами: ' %} {{current_tag_names|join:', '}}. {% trans 'Страница '%}{{current_page}}</h1>
		{% endif %}

		{% if cfp_lead %}
			<div class="text">
				{{cfp_lead}}
			</div>
		{% else %}
			<div class="text">
				{{category.description}} {% trans ' Они были связаны и сгруппированы по следующим тегам: ' %}{{current_tag_names|join:', '}}.{% trans ' Страница '%}{{current_page}}
			</div>
		{% endif %}
	{% endif %}
	<hr>

	{% block content_list %}
	{% endblock %}

	<div id="progressbar" class="marger in_middle" >
		<div class="progressbar-container">
			<div class="progress-loader"></div>
		</div>
	</div>
	</div>
	<div id="paginator_container" class="paginator_container is_sticky b-l full_width no_wrap row in_middle">
		<div id="paginator" class="paginator_limiter no_wrap row in_middle max_col_gap">
			<div id="paginator_first_page_example" data-page="" class="example_pagin_button pagin_button first_pagin_button button bordered_button squered_button"></div>
			<div id="paginator_dots_example" data-page=""  class="example_pagin_button pagin_dots">...</div>
			<div id="paginator_default_page_example" data-page=""  class="example_pagin_button pagin_button button bordered_button squered_button"></div>
			<div id="paginator_last_page_example" data-page=""  class="example_pagin_button pagin_button last_pagin_button  button bordered_button squered_button"></div>
			<div id="prev_pagin_button" data-page=""  class=" button  squered_button  action_button">
				<img width="32" height="32" class="icon flip_vert" src="{% static "chevron.svg" %}" alt="{% trans "Шеврон"%}">
			</div>
			<div id="paginator_body" class="row no_wrap full_width in_middle min_col_gap">
				{# Place to insert buttons #}
			</div>
			<div id="next_pagin_button" data-page="" class=" button  squered_button  action_button">
				<img width="32" height="32" class="icon" src="{% static "chevron.svg" %}" alt="{% trans "Шеврон"%}">
			</div>
		</div>
	</div>
	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_options.html' %}
	{% endif %}
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'progressbar.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'paginator.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/post.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/posts_preview.css' %}"/>

	{% if isEngagementMiddlewareConnected %}
		<link type="text/css" rel="stylesheet" href="{% static 'Engagement/css/engagement.css' %}"/>
		{% include 'Engagement/engagement_styles.html' %}
	{% endif %}

	{% block styles_list %}
	{% endblock %}
{% endblock %}

{% block scripts %}
	{% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const category_name = "{{category.slug}}"
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'paginator.js' %}"></script>
	<script src="{% static 'filtering.js' %}"></script>
	<script src="{% static 'infinity_scroll.js' %}"></script>
	<script src="{% static 'Post/js/post_list.js' %}"></script>
	
	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_scripts.html' %}
	{% endif %}

	{% block scripts_list %}
	{% endblock %}
{% endblock %}



