{% extends 'Main/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
	{% block head_tool %}
	{% endblock %}

    {% if isEngagementMiddlewareConnected and comments_number > 0%}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SoftwareApplication",
            "name": "{{ page_tool.name }}",
            "applicationCategory": "{{page_tool.type}}",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": {{comments_score}},
                "reviewCount": {{comments_number}},
                "bestRating": 5,
                "worstRating": 1
            },
            "offers": {
                "@type": "Offer",
                "price": {{page_tool.price}},
                "priceCurrency": "USD"
            }
        }
    </script>
    {% endif %}

{% endblock %}

{% block hat %}
	{% block hat_tool %}
	{% endblock%}
{% endblock %}


{% block content %}
    <div class='notificator-container'>
        <div class="notificator-blank notificator notificator-inactive"></div>
    </div>

    <div class="limiter in_middle-self">
        <h1 class="title">{{ post.name }}</h1>
        <div class="marger_top_min marger_bottom_max"> 
            <div class="row max_col_gap">
                <div class="row min_gap no_wrap">
                    <img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/calendar.svg" %}' alt="{% trans "Часы" %}">
                    <div>{{post.timeCreated|date:"d.m.Y"}}</div>
                </div>
                <div class="row min_gap no_wrap">
                    <img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/update.svg" %}' alt="{% trans "Часы" %}">
                    <div>{{post.timeUpdated|date:"d.m.Y"}}</div>
                </div>
            </div>
            {% if isEngagementMiddlewareConnected %}
                {% include 'Engagement/interaction.html' with path=post.get_absolute_url %}
            {% endif %}
            {% if isBreadcrumbsMiddlewareConnected %}
                {% include 'Breadcrumbs/breadcrumbs.html' with path=request.META.HTTP_REFERER %}
            {% endif %}
            {% if platforms %}
            <div class="marger_top_min row mid_gap">
                {% for platform in platforms %}
                <div class="row min_gap no_wrap on_middle_other">
                    <img class="in_middle-self icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% get_media_prefix %}{{platform.icon}}' alt="{{platform.name}}">
                    <div>{{platform.name}}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <hr>
        <div id="content_post_article">
            {% block content_tool %}
            {% endblock %}
        </div>
    </div>

    <hr class="limiter in_middle-self" style="border-top: 2px solid black;">
    {% if isEngagementMiddlewareConnected %}
	    {% include 'Engagement/engagement_options.html' %}
    {% endif %}

{% endblock %}

{% block footer %}
    {% block footer_tool %}
	{% endblock %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'modal.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'tooltip.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'dynamic.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'footer-tool.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'notificator.css' %}"/>

    {% if isEngagementMiddlewareConnected %}
        {% include 'Engagement/engagement_styles.html' %}
    {% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_styles.html' %}
	{% endif %}
	
    {% block styles_tool %}
	{% endblock %}
{% endblock %}

{% block scripts %}
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'modal.js' %}"></script>
    <script src="{% static 'notificator.js' %}"></script>
    
    {% if isEngagementMiddlewareConnected %}
        {% include 'Engagement/engagement_scripts.html' %}
    {% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_scripts.html' %}
	{% endif %}

	{% block scripts_tool %}
	{% endblock %}
{% endblock %}
