{% extends 'Main/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
	<link rel="canonical" href="https://{{domain_name}}{{ post.get_absolute_url }}" />
	{% block head_post %}
	{% endblock %}
{% endblock %}

{% block navigation_head %}
	<div class="name"><b>{{ post.name }}</b></div>
	<p class="quote">{{ post.short_description|truncatewords:6 }}</p>
{% endblock navigation_head %}



{% block content %}
	{% block content_post %}
	{% endblock %}
	<div id="interactions" class="interactions" >
		<div id="interactions_like__button" class="comment_button next_button">
			<img class="icon basic_button" src="{% static 'User/img/like.png' %}" alt="{% trans "сердце" %}">
			{{ post.likes }}
		</div>
		<div id="interactions_share__button" class="comment_button next_button">
			<img class="icon basic_button" src="{% static 'User/img/share.png' %}" alt="{% trans "3 соединённые точки" %}">
			{{ post.shares }}
		</div>
	</div>
	<div id="shares_options" class="active">
		<a target="_blank" href="http://vk.com/share.php?url={{ post.get_absolute_url }}&title={{ post.name }}&description={{ post.short_description }}">
			<div class="comment_button share_button next_button">
				<img class="icon icon_interactable  basic_button" src="{% static 'User/img/vk.png' %}" alt="{% trans "vk иконка" %}">
			</div>
		</a>
		<a target="_blank"  href="https://www.reddit.com/submit?url={{ post.get_absolute_url }}&title={{ post.name }}">
			<div class="comment_button share_button next_button">
				<img class="icon icon_interactable basic_button" src="{% static 'User/img/reddit.png' %}" alt="{% trans "reddit иконка" %}">
			</div>
		</a>
		<a target="_blank"  href="https://twitter.com/intent/tweet?url={{ post.get_absolute_url }}&text={{ post.short_description }}">
			<div class="comment_button share_button next_button">
				<img class="icon icon_interactable basic_button" src="{% static 'User/img/twitter.png' %}" alt="{% trans "twitter иконка" %}">
			</div>
		</a>
		<a target="_blank"  href="https://telegram.me/share/url?url={{ post.get_absolute_url }}&text={{ post.short_description }}">
			<div class="comment_button share_button next_button">
				<img class="icon icon_interactable basic_button" src="{% static 'User/img/telegram.png' %}" alt="{% trans "telegram иконка" %}">
			</div>
		</a>
	</div>
	<div class="comments ">  
		<div class="comments_header">
			<div class="comments_header__name">
				<div class="nav_ref">{% trans "Коментарии" %}</div>			
				<div class="comments_header__other">
				({{comments_number}})
				</div>
			</div>
			<div class="comments_header__add_comment">
			</div>
		</div>
		<div id="comments_body" class="comments_body ">
			{# Form for submiting new comment #}
			<div id="comment_add" class="comments_el">
				<div class="comments_el__meta_el comments_el__commentAdd">
					<div class="comments_el__user_avatar">
						{% if user.avatar|length > 0 %}
						<img class="icon icon_avatar" src='{{media_root}}{{ user.avatar }}' alt="{% trans "Аватар пользователя" %}" id="comments_el__user_avatar_commentAdd">
						{% else %}
						<img class="icon icon_avatar" src="{% static 'User/img/default_avatar.png' %}" alt="{% trans "Аватар по умолчанию" %}" id="comments_el__user_avatar_commentAdd">
						{% endif %}
					</div>
					<div id="comments_el__user_name_commentAdd" class="comments_el__user_name">
						{{user}}
					</div>
				</div>
				{% csrf_token %}
				<div class="form">
					<form enctype="multipart/form-data" class="form_form" id="toSignup" action="send_new_user" method="get">
						<textarea class="form_el__about" placeholder="{% trans "Ваше сообщение" %}" name="about" rows=4  id="about"></textarea>
					</form> 
				</div>
				{% if not request.session.is_auth %}
				<div id="comment_add__buttonSendGuesting" class="active">
					<div id="page_add__case" class="page_add__case">
						<div id="plus_description" class="case_tosite authorized_addComment full_height comment_button next_button">
							{% trans "Оставить комментарий" %}
						</div>
					</div>
				</div>
				<div id="comment_add__buttonShowLoginOptions">
					<div id="page_add__case" class="page_add__case">
						<div id="plus_description" class="case_tosite authorized_addComment full_height comment_button next_button">
							<div id="loginableSocialNets_text" class="">
								{% trans "Оставить комментарий" %}
							</div>
							<div id="loginableSocialNets" class="row active in_middle">
								<div id="parsingForm" class="row in_middle">
									<div class="parsingForm_text"></div>
									<div class="parsingForm_textarea">
										{% csrf_token %}
										<div class="form">
											<form enctype="multipart/form-data" class="form_form row" id="toVerifyViaSocNet"  action="prepare_user" method="get">
												<textarea class="form_el__about" placeholder="{% trans "Твоё имя" %}" name="username" rows=1  id="userID"></textarea>
											</form> 
										</div>
									</div>
								</div>
								<div id="parsingFormSubmit" class=" next_button in_middle padder basic_button">
									✔
								</div>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<div id="comment_add__buttonSendAuthorized">
					<div id="page_add__case" class="page_add__case">
						<div id="plus_description" class="case_tosite authorized_addComment full_height comment_button next_button">
							{% trans "Оставить комментарий" %}
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			{# Place which gonna be filled by comments#}

			<div id="scroll-sentinel"></div>
		</div>
	</div>
{% endblock %}


{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'User/css/comment.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'User/css/user.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'User/css/forms.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/titles.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/text.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/lists.css' %}"/>
	{% block styles_post %}
	{% endblock %}
{% endblock %}

{% block scripts %}
    <!-- Loading jQuery For AJAX behaviour --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- This is for knowing where to look for an images 
		 And csrf tokkent -->
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const post_slug = "{{post.slug}}"
    </script>
    <script src="{% static 'Comment/js/comments.js' %}"></script>
    <script src="{% static 'Main/js/button.js' %}"></script>
	{% block scripts_post %}
	{% endblock %}
{% endblock %}
