{% extends 'Post/base_post.html' %}
{% load i18n %}
{% load static %}

{% block head_post %}
    <title>{{post.question}} | {% trans "Тим Вебмастер" %}</title>
    <meta name="description" content="{{post.description}}">
{% endblock %}


{% block content_post-before %}
	
{% endblock %}

{% block content_post %}
	<h1 class="title" >{{post.question}}</h1>
	<div class="answer">
		{{post.answer}}
	</div>
	{% block content_post_qa %}
	{% endblock %}
    <div class="answer_pusher"></div>
	
{% endblock %}

{% block content_post-after %}
	{% if related_articles %}
	<h2 class="paragraph">{% trans 'Использованно в' %}</h2>
	{{related_articles|safe}}
	{% endif%}
{% endblock %}

{% block styles_post %}
	<link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'video.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'Post/css/qa.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'Post/css/posts_preview.css' %}"/>
{% endblock %}

{% block scripts_post %}
	<script src="{% static 'video.js' %}"></script>
    <script src="{% static 'image_previewer.js' %}"></script>
{% endblock %}