{% extends 'Post/base_post.html' %}
{% load i18n %}
{% load static %}
{% load markdown %}

{% block head_post %}
	{% block head_post_article %}
	{% endblock %}
    <script type="application/ld+json">
    {
		"@context": "https://schema.org",
		"@type": "Article",
		"headline": "{{post.name}}",
		{% if post.preview %}
		"image": [
			"https://{{domain_name}}{% get_media_prefix %}{{post.preview}}"
		],
		{% endif %}
		"datePublished": "{{post.timeCreated}}+03:00",
		"dateModified": "{{post.timeUpdated}}+03:00",
		"author": [{
			"@type": "Person",
			"name": "{% trans 'Тима Чудук' %}",
			"url": "https://{{domain_name}}{% url 'about' %}"
		}]
    }
    </script>
{% endblock %}

{% block hat_post %}
	<div class="header_button"  data-body="table_of_content_groups_container">
		<img id="table_of_content_group" width="32" height="32" class="icon button dynamic_image squered_button active_group_button active_more_home_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'tree.png' %}" alt="{% trans 'one layer on top of anothe' %}">
	</div>
	{% block hat_post_article %}
	{% endblock%}
{% endblock%}

{% block content_post-before %}
	<div id="table_of_content_groups_container">
	</div>
	{% block content_post_before-article %}
	{% endblock %}
{% endblock %}

{% block content_post %}
	{% if post.preview %}
		<img class="image dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{post.preview}}" alt="{{post.name}}">
	{% endif %}
	
	<div id="content_post_article">
		{% block content_post_article %}
		{% endblock %}
	</div>

{% endblock %}

{% block content_post-after %}

	<div id="ex_links">
		<h2 class="paragraph" style="margin-bottom: 0px">{% trans 'Внешние ссылки' %}</h2>
		<li id='list_el_exmpl_cont' class="is_none" ><div class="ref"><a href=""></a></div></li>
		<ul id="ex_links_list" class="numeric_list">
		</ul>
	</div>
	
	{% if post.tds.all|length > 0 %}
	<h2 class="paragraph">{% trans 'Использованные термины' %}</h2>
	<ul class="list_without_sign">
	{% for td in post.tds.all %}
		<li><span><b class="ref" style='font-size: var(--size-titleH4_font)'><a href='{{td.get_absolute_url}}'>{{td.termin}}</a></b> ⟶ {{td.definition}}
		</span></li>
	{% endfor %}
	</ul>
	{% endif %}

	{% if post.qas.all|length > 0 %}
	<h2 class="paragraph">{% trans 'Релевантные вопросы' %}</h2>
	<ul class="list_without_sign">
	{% for qa in post.qas.all %}
		<li>
			<b class="ref" style='font-size: var(--size-titleH4_font)'><a href='{{qa.get_absolute_url}}'>{{qa.question}}</a></b>
			<span class='padder'>
				{{qa.answer}}
			</span>
		</li>
	{% endfor %}
	</ul>
	{% endif %}

	{% if sim_post_doc %}
	<h2 class="paragraph">{% trans 'Похожие статьи' %}</h2>
	{{sim_post_doc|safe}}
	{% endif%}
	
	{% block content_post_after-article %}
	{% endblock %}
{% endblock %}

{% block styles_post %}
	<link type="text/css" rel="stylesheet" href="{% static 'Post/css/posts_preview.css' %}"/>	
	{% block styles_post_article %}
	{% endblock %}
{% endblock %}

{% block scripts_post %}
	<script src="{% static 'Post/js/link_gather.js' %}"></script>
	{% block scripts_post_article %}
	{% endblock %}
{% endblock %}
