{% extends 'Main/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
	<link rel="canonical" href="https://{{domain_name}}{{ post.get_absolute_url }}" />
	{% block head_post %}
	{% endblock %}
{% endblock %}

{% block hat %}
	{% block hat_post %}
	{% endblock%}
{% endblock %}


{% block content %}
<div class='notificator-container'>
	<div class="notificator-blank notificator notificator-inactive"></div>
</div>
<div class="limiter in_middle in_middle-self no_wrap toObserve">
	{% block content_post-before %}
	{% endblock %}
	<div class="marger_top_min marger_bottom_max"> 
		<div class="row min_col_gap">
			<img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/calendar.svg" %}' alt="{% trans "Часы" %}">
			<div>{{post.timeCreated|date:"d.m.Y"}}</div>
		</div>
		{% if isEngagementMiddlewareConnected %}
			{% include 'Engagement/interaction.html' with path=post.get_absolute_url %}
		{% endif %}
		{% if isBreadcrumbsMiddlewareConnected %}
			{% include 'Breadcrumbs/breadcrumbs.html' with path=request.META.HTTP_REFERER %}
		{% endif %}
	</div>
	<hr>
	{% block content_post %}
	{% endblock %}
	<hr>
	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_options.html' %}
	{% endif %}
	
	{% block content_post-after %}
	{% endblock %}
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
	{% block footer_links_post %}
	{% endblock %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'images.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/post.css' %}"/>

	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_styles.html' %}
	{% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_styles.html' %}
	{% endif %}

	{% block styles_post %}
	{% endblock %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const post_slug = "{{post.slug}}"
    </script>

	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_scripts.html' %}
	{% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_scripts.html' %}
	{% endif %}
	
	{% block scripts_post %}
	{% endblock %}
{% endblock %}
