{% extends 'Main/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
	{% block head_tool %}
	{% endblock %}

    {% if isEngagementMiddlewareConnected and comments_number > 0%}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SoftwareApplication",
            "name": "{{ page_tool.name }}",
            "applicationCategory": "{{page_tool.type}}",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": {{comments_score}},
                "reviewCount": {{comments_number}},
                "bestRating": 5,
                "worstRating": 1
            },
            "offers": {
                "@type": "Offer",
                "price": {{page_tool.price}},
                "priceCurrency": "USD"
            }
        }
    </script>
    {% endif %}

{% endblock %}

{% block hat %}
	{% block hat_tool %}
	{% endblock%}
{% endblock %}


{% block content %}
    <div class='notificator-container'>
        <div class="notificator-blank notificator notificator-inactive"></div>
    </div>
    <div class="limiter in_middle-self">
	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs.html' with path=request.META.HTTP_REFERER%}
	{% endif %}
    </div>
	
    {% block content_tool %}
	{% endblock %}
    <hr class="limiter in_middle-self" style="border-top: 2px solid black;">
    {% if isEngagementMiddlewareConnected %}
	    {% include 'Engagement/engagement_options.html' %}
    {% endif %}

{% endblock %}

{% block footer %}
    {% block footer_tool %}
	{% endblock %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'modal.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'tooltip.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'dynamic.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'footer-tool.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'notificator.css' %}"/>

    {% if isEngagementMiddlewareConnected %}
        {% include 'Engagement/engagement_styles.html' %}
    {% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_styles.html' %}
	{% endif %}
	
    {% block styles_tool %}
	{% endblock %}
{% endblock %}

{% block scripts %}
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'modal.js' %}"></script>
    <script src="{% static 'notificator.js' %}"></script>
    
    {% if isEngagementMiddlewareConnected %}
        {% include 'Engagement/engagement_scripts.html' %}
    {% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_scripts.html' %}
	{% endif %}

	{% block scripts_tool %}
	{% endblock %}
{% endblock %}
