{% load static %}
{% load i18n %}
{% load markdown %}

{% for a in posts %}

<div class="post_preview column min_row_gap">
	<div class=" post_preview_header row min_col_gap">
		{% if a.preview %}
		<div class="post_preview_image marger-10">
			<a href="{{a.get_absolute_url}}">
				<img class="image image-min_sized dynamic_image button bordered_button" width="300" height="200" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{a.preview}}" alt="{% trans "Превью статьи" %}">
			</a>
		</div>
		{% endif %}
		<div class="post_preview_meta column min_row_gap">
			<h2><a class="text_button" href="{{ a.get_absolute_url }}">{{a.title}}</a></h2>
			<div class="row min_col_gap">
				<div><b>{% trans "Опубликованно:" %}</b></div>
				<div>{{a.timeCreated|date:"d.m.Y"}}</div>
			</div>
			<div class="row min_col_gap">
				<div class="row min_col_gap">
					<div><b>{% trans "Просмотры:"%}</b></div> 
					<div>{{a.viewed}}</div>
				</div>
				<div class="row min_col_gap">
					<div><b>{% trans "Нравится:"%}</b></div> 
					<div>{{a.likes}}</div>
				</div>
				<div class="row min_col_gap">
					<div ><b>{% trans "Поделилось:" %}</b></div> 
					<div>{{a.shares}}</div>
				</div>
			</div>
			{% if a.client_name %}
				<span class="post_preview_body">
					<b>{% trans "Клиент:" %}</b>	{{a.client_name}} 	
				</span>
			{% endif %}
		</div>
	</div>
	<span class="post_preview_body">
		<b>{% trans "Описание:" %}</b>	{{a.description|truncatewords:50}} 	
	</span>
	<div class="button link_button squered_button">
		<a href="{{a.get_absolute_url}}">{% trans 'Читать'%}</a>
	</div>
</div>

{% endfor %}
