{% load static %}
{% load i18n %}

{% for a in posts %}
<div class="home_post el-expandable el-40-half el-300-min-basis column min_row_gap">
	<div class="row min_col_gap">
		{% if a.icon %}
		<img class="icon in_middle-self" width="32" height="32" src="{% get_media_prefix %}{{a.icon}}" alt="{% trans "Превью статьи" %}">
		{% endif %}
		<h3><a class="text_button" href="{{ a.get_absolute_url }}">{{a.name}}</a></h3>
	</div>
	<div class="post_description">
		{{a.description|truncatewords:50}} 	
	</div>
</div>

{% endfor %}

<div class="data-holder" data-length="{{length}}"></div>
