{% load static %}
{% load i18n %}

{% for a in posts %}

<div class="post_preview column min_row_gap">
	<div class=" post_preview_header row min_col_gap">
		{% if a.preview %}
		<div class="post_preview_image marger-10">
			<a href="{{a.get_absolute_url}}">
				<img class="image image-min_sized dynamic_image button" width="300" height="200"  src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{a.preview}}" alt="{% trans "Превью статьи" %}">
			</a>
		</div>
		{% endif %}
		<div class="post_preview_meta column min_row_gap">
			<h2><a class="text_button" href="{{ a.get_absolute_url }}">{{a.title}}</a></h2>
			<div class="row min_col_gap">
				<img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/clock.svg" %}' alt="{% trans "Часы" %}">
				<div>{{a.timeCreated|date:"d.m.Y"}}</div>
			</div>
			<div class="row min_col_gap">
				<div class="row min_col_gap">
					<img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/views.svg" %}' alt="{% trans "Глазик" %}">
					<div>{{a.viewed}}</div>
				</div>
				<div class="row min_col_gap">
					<img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/like.svg" %}' alt="{% trans "Сердечки" %}">
					<div>{{a.likes}}</div>
				</div>
				<div class="row min_col_gap">
				<img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/share.svg" %}' alt="{% trans "Соединённые точки" %}">
				<div>{{a.shares}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post_preview_body">
		{{a.description|truncatewords:30}} 	
	</div>
</div>

{% endfor %}
