{% load static %}
{% load i18n %}
{% load markdown %}
{% load addToListInURL %}

{% for a in posts %}

<div class="post_preview loader" data-numpages="{{num_pages}}">
	<h2 style='font-size: var(--size-titleH4_font)'><a  class="text_button" href='{{a.get_absolute_url}}'>{{a.termin}}</a></h2>
	<span class="marger_top_mid" style='display: block;'>{{a.definition}}<span class="ref"> <a href='{{a.get_absolute_url}}'>{% trans 'Узнать больше' %}</a></span></span>
	{% if displayTags %}
	<div class="post_preview_tags">
		{% for tag in a.tags.all %}
		<a href="{{ category.get_absolute_url }}?page=1&type=full&is_recent={{is_recent}}&mode={{mode}}{{tag.slug|addToListInURL:current_tag}}"><div class="tag text_button tag_add">{{tag}}</div></a>
		{% endfor %}
	</div>
	{% endif %}
</div>

{% endfor %}
{% if page <= num_pages %}
<div id="scroll-sentinel-{{page}}" class="scroll-sentinel" data-page="{{page}}"></div>
{% endif %}