{% extends 'Post/base_post.html' %}
{% load i18n %}
{% load static %}
{% load markdown %}

{% block head_post %}
	<title>{{post.title}} | {% trans "Тим Вебмастер" %}</title>
	<meta name="description" content="{{post.description}}">
    <script type="application/ld+json">
    {
		"@context": "https://schema.org",
		"@type": "Article",
		"headline": "{{post.title}}",
		{% if post.preview %}
		"image": [
			"https://{{domain_name}}{% get_media_prefix %}{{post.preview}}"
		],
		{% endif %}
		"datePublished": "{{post.timeCreated}}+03:00",
		"dateModified": "{{post.timeUpdated}}+03:00",
		"author": [{
			"@type": "Person",
			"name": "{% trans 'Тима Чудук' %}",
			"url": "https://{{domain_name}}{% url 'about' %}"
		}]
    }
    </script>
{% endblock %}


{% block content_post-before %}
{% endblock %}

{% block content_post %}
	{% if post.preview %}
		<img class="image preview dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{post.preview}}" alt="{{post.title}}">
	{% endif %}
	<h1 class="title" >{{post.title}}</h1>
	<div class="tabs in_middle tabs-full-width">
		<div class="tab_button tab_active" data-bodyid="1">
			{% trans "Основное" %}
		</div>
		{% if post.client_name %}
		<div class="tab_button" data-bodyid="2">
			{% trans "Клиент" %}
		</div>
		{% endif %}
		<div class="tab_button" data-bodyid="3">
			{% trans "Цели" %}
		</div>
		<div class="tab_button" data-bodyid="4">
			{% trans "Решение" %}
		</div>
		<div class="tab_button" data-bodyid="5">
			{% trans "Результат" %}
		</div>
		{% if post.additional %}
		<div class="tab_button" data-bodyid="6">
			{% trans "Дополнительно" %}
		</div>
		{% endif %}
	</div>
	<div class="tab_body">
		<div id="tab_body-1" class="tab_element tab_element__active">
			<h2 class="paragraph">{{post.subtitle}}</h2>
			{{post.resume|markdown|safe}}
		</div>
		{% if post.client_name %}
		<div id="tab_body-2" class="tab_element">
			<h2 class="paragraph">{{post.client_name}}</h2>
			{{post.client_description|markdown|safe}}
		</div>
		{% endif %}
		<div id="tab_body-3" class="tab_element">
			<h2 class="paragraph">{% trans "Цели" %}</h2>
			{{post.goals|markdown|safe}}
		</div>
		<div id="tab_body-4" class="tab_element">
			<h2 class="paragraph">{% trans "Решение" %}</h2>
			{{post.solution|markdown|safe}}
		</div>
		<div id="tab_body-5" class="tab_element">
			<h2 class="paragraph">{% trans "Результат" %}</h2>
			{{post.result|markdown|safe}}
		</div>
		<div id="tab_body-6" class="tab_element">
			<h2 class="paragraph">{% trans "Дополнительные материалы" %}</h2>
			{{post.additional|markdown|safe}}
		</div>
	</div>
{% endblock %}

{% block content_post-after %}
{% endblock %}

{% block styles_post %}
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/case.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/tabs.css' %}"/>
{% endblock %}

{% block scripts_post %}
    <script src="{% static 'Post/js/tabs.js' %}"></script>
{% endblock %}
