{% load static %}
{% load i18n%}

<div class="comments_el">
	<div class="comments_el__meta">
		<div class="comments_el__meta_el comments_el__user">
			<div class="comments_el__user_avatar">
				{% if com.user.avatar|length > 0 %}
				<img class="icon icon_avatar" src='{{media_root}}{{ com.user.avatar }}' alt="{% trans "Аватарка пользователя" %}">
				{% else %}
				<img class="icon icon_avatar" src="{% static 'User/img/default_avatar.png' %}" alt="{% trans "Аватар по умолчанию" %}">
				{% endif %}
			</div>
			<div class="comments_el__user_name">
				{{com.user}}
			</div>
		</div>
		<div class="comments_el__meta_el">
			{{com.timeCreated}}
		</div>
	</div>
	<div class="comments_el__content">
		{{com.content}}
	</div>
	{% if user.slug == com.user.slug %}
	<div id="comment_remove__button" class="comment_remove__button comment_button" commentid="{{com.id}}" >
		<div id="page_add__case" class="page_add__case">
			<div id="plus_description" class="case_tosite  plus_description_addComment">
				{% trans "Удалить" %}
			</div>
		</div>
	</div>
	{% endif %}
</div>
