{% load static %}
{% load i18n %}
{% load markdown %}
{% load addToListInURL %}

{% for a in posts %}

<div class="post_preview">
	<h2><a class="text_button" href="{{ a.get_absolute_url }}">{{a.question}}</a></h2>
	<div class="answer">
		{{a.answer|markdown|safe}}
	</div>
	<div class="post_preview_tags">
		{% for tag in a.tags.all %}
		<a href="{{ category.get_absolute_url }}?page=1&type=full&is_recent={{is_recent}}&mode={{mode}}{{tag|addToListInURL:current_tag}}"><div class="tag text_button tag_add">{{tag}}</div></a>
		{% endfor %}
	</div>
</div>

{% endfor %}
{% if page <= num_pages %}
<div id="scroll-sentinel-{{page}}" class="scroll-sentinel" data-page="{{page}}"></div>
{% endif %}
