{% load static %}
{% load i18n %}

<div class="row max_col_gap">
{% for a in posts %}

<div class="post_preview post_preview--tool-grid column min_row_gap">
	<div class=" post_preview_header--tool row min_gap">
		<div class="row no_wrap min_col_gap">
			{% if a.icon %}
			<div class="marger-10 in_middle-self">
				<a href="{{a.get_absolute_url}}">
					<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{a.icon}}" alt="{% trans "Превью статьи" %}">
				</a>
			</div>
			{% endif %}
			<div class="post_preview_meta--tool">
				<h2><a class="text_button" href="{{ a.get_absolute_url }}">{{a.name}}</a></h2>
			</div>
		</div>
	</div>
	<div>
		{{a.description}} 	
	</div>
</div>

{% endfor %}
</div>
