{% load static %}
{% load i18n %}
{% load addToListInURL %}

<div class="row max_col_gap">
{% for a in posts %}

<div class="post_preview post_preview--tool-grid column min_row_gap  loader">
	<div class=" post_preview_header--tool row min_gap">
		<div class="post_preview_meta--tool row mid_gap">
			{% if a.type == 'Ac' %}
				<div class="download_button squered_button button"><a href="{{ a.get_absolute_url }}"><img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'Post/img/download.svg' %}" alt="{% trans "Превью статьи" %}"></a></div>
				{% if a.icon %}
					<div class="marger-10 in_middle-self">
						<a href="{{a.get_absolute_url}}">
							<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{a.icon}}" alt="{% trans "Превью статьи" %}">
						</a>
					</div>
				{% else %}
					<div class="marger-10 in_middle-self">
						<a href="{{a.get_absolute_url}}">
							<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'globe_placeholder.svg'%}" alt="{% trans "Превью статьи" %}">
						</a>
					</div>
				{% endif %}
				<h2 style='font-size: var(--size-titleH3_font)' ><a class="download_text_button" href="{{ a.get_absolute_url }}">{{a.name}}</a></h2>
			{% elif a.type == 'In' %}
				<div class="internal_link_button squered_button button"><a href="{{ a.get_absolute_url }}"><img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'Post/img/internal_link.svg' %}" alt="{% trans "Превью статьи" %}"></a></div>
				{% if a.icon %}
					<div class="marger-10 in_middle-self">
						<a href="{{a.get_absolute_url}}">
							<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{a.icon}}" alt="{% trans "Превью статьи" %}">
						</a>
					</div>
				{% else %}
					<div class="marger-10 in_middle-self">
						<a href="{{a.get_absolute_url}}">
							<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'globe_placeholder.svg'%}" alt="{% trans "Превью статьи" %}">
						</a>
					</div>
				{% endif %}
				<h2 style='font-size: var(--size-titleH3_font)' ><a class="text_button" href="{{ a.get_absolute_url }}">{{a.name}}</a></h2>
			{% elif a.type == 'Ex' %}
				<div class="external_link_button squered_button button"><a href="{{ a.get_absolute_url }}"><img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'Post/img/external_link.svg' %}" alt="{% trans "Превью статьи" %}"></a></div>
				{% if a.icon %}
					<div class="marger-10 in_middle-self">
						<a href="{{a.get_absolute_url}}">
							<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{a.icon}}" alt="{% trans "Превью статьи" %}">
						</a>
					</div>
				{% else %}
					<div class="marger-10 in_middle-self">
						<a href="{{a.get_absolute_url}}">
							<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'globe_placeholder.svg'%}" alt="{% trans "Превью статьи" %}">
						</a>
					</div>
				{% endif %}
				<h2 style='font-size: var(--size-titleH3_font)' ><a class="link_text_button" href="{{ a.get_absolute_url }}">{{a.name}}</a></h2>
			{% endif %}
		</div>
	</div>
	<div>
		{{a.description}} 	
	</div>
	{% if displayTags %}
	<div class="post_preview_tags">
		{% for tag in a.tags.all %}
		<a href="{{ category.get_absolute_url }}?page=1&type=full&is_recent={{is_recent}}&mode={{mode}}{{tag|addToListInURL:current_tag}}"><div class="tag text_button tag_add">{{tag}}</div></a>
		{% endfor %}
	</div>
	{% endif %}
</div>

{% endfor %}
</div>
{% if page <= num_pages %}
<div id="scroll-sentinel-{{page}}" class="scroll-sentinel" data-page="{{page}}"></div>
{% endif %}