{% load static %}
{% load i18n %}
{% load markdown %}

<div class="row max_col_gap">
{% for a in posts %}

<div class="post_preview post_preview-service column min_row_gap">
	<div class="row on_end max_col_gap">
		<div class="duration">{% trans "Время выполнения" %}</div>
		<div class="in_middle-self">{{a.deadline}}</div>
	</div>
	<div class="row min_gap">
		<h2><a class="text_button" href="{{ a.get_absolute_url }}">{{a.name}}</a></h2>
		<div class="price in_middle-self">
			${{a.price}}
		</div>
	</div>
	<div class="row no_wrap max_col_gap ">
		{{a.description}}
	</div>
	<div id="post_preview_body-{{a.id}}" class="post_preview_body--tool">
		<div>
			{{a.benefits|markdown|safe}} 	
		</div>
	</div>
	<div class="row home_buttons mid_gap">
		<div data-id="{{a.id}}" id="next_article" class="next_post button   toggle_button action_button squered_button">
			{% trans 'Преимущества'%}
		</div>
		<div id="read_article" class="button link_button squered_button">
			<a href="{{a.get_absolute_url}}">{% trans 'Узнать подробнее'%}</a>
		</div>
		<div id="read_article" class="button link_button squered_button">
			<a href="{% url 'contacts' %}">{% trans 'Связаться'%}</a>
		</div>
	</div>
</div>

{% endfor %}
</div>
