{% load static %}
{% load i18n %}

{% for a in posts %}

<div class="post_preview post_preview--tool column min_row_gap">
	<div class=" post_preview_header--tool row min_gap">
		<div class="row no_wrap min_col_gap">
			{% if a.icon %}
			<div class="marger-10 in_middle-self">
				<a href="{{a.get_absolute_url}}">
					<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{a.icon}}" alt="{% trans "Превью статьи" %}">
				</a>
			</div>
			{% endif %}
			<div class="post_preview_meta--tool column min_row_gap">
				<h2><a href="{{ a.get_absolute_url }}">{{a.name}}</a></h2>
			</div>
		</div>
		<div class="row min_col_gap no_wrap">
			<div class="button link_button squered_button in_middle-self">
				<a href="{{a.get_absolute_url}}">{% trans 'Перейти'%}</a>
			</div>
			<div data-id="{{a.id}}" class="button action_button toggle_button squered_button in_middle-self">
				{% trans 'Ещё'%}
			</div>
		</div>
	</div>
	<div id="post_preview_body-{{a.id}}" class="post_preview_body--tool">
		<div>
			{{a.description}} 	
		</div>
	</div>
</div>

{% endfor %}
