{% load static %}
{% load i18n %}

{% for a in posts %}
<div class="post">
	<div class="column on_start">
		<div class="row on_start is_relative">
			{% if a.preview %}
			<div class="row image_width_sized post_left_el marger">
				<a href="{{a.get_absolute_url}}"><img src="{{media_root}}{{a.preview}}" alt="{% trans "Превью статьи" %}" class="image_border"></a>
			</div>
			{% endif %}
			<div class="column post_right_el">
				<div class="post_topost post_title">
					<a href="{{ a.get_absolute_url }}">{{a.name}}</a>
				</div>
				<div class="post_timing">
					<div class="post_created post_timing__el">
						<div class="post_el--description"><b>{% trans "Опубликованно:" %}</b></div><div>{{a.timeCreated|date:"d.m.Y"}}</div>
					</div>
				</div>
				<div class="post_timing">
					<div class="post_insights">
						<div class="post_insights__el">
							<div class="post_el--description"><b>{% trans "Просмотры:"%}</b></div> {{a.viewed}}
						</div>
						<div class="post_insights__el">
							<div class="post_el--description"><b>{% trans "Нравится:"%}</b></div> {{a.likes}}
						</div>
						<div class="post_insights__el">
							<div class="post_el--description"><b>{% trans "Поделилось:" %}</b></div> {{a.shares}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="post_timing">
			<div class="post_description__description">
				{{a.short_description}} 	
			</div>
		</div>
	</div>
</div>
{% endfor %}
