{% load static %}
{% load i18n %}

{% for a in posts %}
<div class="post">
	<div class="is_relative">
		{% if a.preview %}
		<div class="marger-10">
			<a href="{{a.get_absolute_url}}"><img class="image" src="{{media_root}}{{a.preview}}" alt="{% trans "Превью статьи" %}"></a>
		</div>
		{% endif %}
		<div class="news_header">
			<div class="post_topost post_title">
				<a href="{{ a.get_absolute_url }}">{{a.name}}</a>
			</div>
			<div class="post_timing">
				<div class="post_created post_timing__el">
					<div class="post_el--description"><b>{% trans "Опубликованно:" %}</b></div><div>{{a.timeCreated|date:"d.m.Y"}}</div>
				</div>
			</div>
		</div>
		<div class="post_description">
			<div class="post_description__description without_borders">
				{{a.short_description}} 	
				<span class="post_topost">
					<a href="{{ a.get_absolute_url }}">{% trans "Ещё" %}</a>
				</span>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% if is_end %}
<div class="end_list"></div>
{% endif %}
