{% load static %}
{% load i18n %}

{% for a in posts %}
<div class="post_preview column min_row_gap">
	<div class=" post_preview_header row min_col_gap">
		{% if a.preview %}
		<div class="post_preview_image marger-10">
			<a href="{{a.get_absolute_url}}">
				<img class="dynamic_image" width="300" height="200" src="{% static 'placeholder.svg' %}" data-src="{{media_root}}{{a.preview}}" alt="{% trans "Превью статьи" %}">
			</a>
		</div>
		{% endif %}
		<div class="post_preview_meta column min_row_gap">
			<h2><a href="{{ a.get_absolute_url }}">{{a.name}}</a></h2>
			<div class="row min_col_gap">
				<div><b>{% trans "Опубликованно:" %}</b></div>
				<div>{{a.timeCreated|date:"d.m.Y"}}</div>
			</div>
			<div class="row min_col_gap">
				<div class="row min_col_gap">
					<div><b>{% trans "Просмотры:"%}</b></div> 
					<div>{{a.viewed}}</div>
				</div>
				<div class="row min_col_gap">
					<div><b>{% trans "Нравится:"%}</b></div> 
					<div>{{a.likes}}</div>
				</div>
				<div class="row min_col_gap">
					<div ><b>{% trans "Поделилось:" %}</b></div> 
					<div>{{a.shares}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post_preview_body">
		{{a.short_description}} 	
	</div>
	<div class="button link_button squered_button">
		<a href="{{a.get_absolute_url}}">{% trans 'Читать'%}</a>
	</div>
</div>
{% endfor %}
