{% extends 'Main/base.html' %}
{% load static%}
{% load i18n %}

{% block head %}
	<meta name="robots" content="noindex">
	<title>{% trans "Новости Тимы, Вебмастера" %}</title>
{% endblock %}

{% block content %}
	<div class="limiter in_middle in_middle-self no_wrap padder">
		<h1 class="paragraph" >{% trans "Новости" %}</h1>
		<hr>
		<div id="page" class="page toObserve">
		{# Place to be filled by infinity_scroll script#}
		</div>
		<div id="scroll-sentinel"></div>
	</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/post.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/posts_preview.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const category_name = "News"
    </script>
    <script src="{% static 'Post/js/infinity_scroll.js' %}"></script>
{% endblock %}
