{% extends 'Post/base_post_list.html' %}
{% load static%}
{% load i18n %}

{% block filters_body%}
<div id="onSort" data-sort="true"></div>
<div id="toViews" data-view="list" data-who="{{category.slug}}" class="mid_col_gap" >
	<div class="row mid_gap in_middle no_wrap">
		<img id="onListView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button selected_view" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/list_view.svg' %}"  alt="{% trans 'Значок показа ввиде списка' %}">
		<div>{% trans "Отобразить элементы в виде списка"%}</div>
	</div>
	<div class="row mid_gap in_middle no_wrap">
		<img id="onGridView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/grid_view.svg' %}" alt="{% trans 'Значок показа ввиде плиток' %}">
		<div>{% trans "Отобразить элементы в виде плитки"%}</div>
	</div>
</div>
{% endblock %}

{% block content_list %}
	<div id="meta-data" data-numpages={{num_pages}} data-currentpage="{{current_page}}" data-url="{{category.get_absolute_url}}"></div>
	<div id="page" class="page toObserve">
		{{ doc | safe}}
	</div>
{% endblock %}

{% block styles_list %}
{% endblock %}

{% block scripts_list %}
    <script src="{% static 'Post/js/more.js' %}"></script>
{% endblock %}
