{% load static %}
{% load i18n %}
{% load addToListInURL %}

{% for a in posts %}

<div class="post_preview column min_row_gap loader">
	<div class=" post_preview_header row min_col_gap">
		<div class="column min_row_gap">
			<h2 class="post_preview_title"><a class="text_button" href="{{ a.get_absolute_url }}">{{a.title}}</a></h2>
			<div class="row min_col_gap">
				<img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/clock.svg" %}' alt="{% trans "Часы" %}">
				<div>{{a.timeCreated|date:"d.m.Y"}}</div>
			</div>
		</div>
	</div>
	<span class="post_preview_body">
		{{a.description|truncatewords:40}} 	
	</span>
	<div class="post_preview_tags">
		{% for tag in a.tags.all %}
		<a href="{{ category.get_absolute_url }}?page=1&type=full&is_recent={{is_recent}}&mode={{mode}}{{tag|addToListInURL:current_tag}}"><div class="tag text_button tag_add">{{tag}}</div></a>
		{% endfor %}
	</div>
</div>
{% endfor %}
{% if page <= num_pages %}
<div id="scroll-sentinel-{{page}}" class="scroll-sentinel" data-page="{{page}}"></div>
{% endif %}
