{% load i18n %}
{% load static %}

<div id="table_of_content" class="table_of_content column full_width content_body__text">
	<div class="on_start">
		<div class="big_text"><b>{% trans "Содержание" %}</b></div>
	</div>
	<div class="list_nested padder">
		{% for el in titles %}
		<div class="list_nested_el {{el.padding}}">
			<div class="row no_wrap">
				<div class="list_nested_el__sign">{{el.tag_name}}</div>
				<div class="list_nested_el__text ref_internal"><a href="{{el.ref}}">{{el.text}}</a></div>
			</div>
		</div>
		{% endfor %}
	</div>
</div> 

<a href="#">
	<div class="is_fixed b-l padder up_button rotate-left-90 row">
		<div class="icon_text icon_text--shadow">&#10095;</div>
	</div>
</a>
