{% extends 'Post/base_post_list.html' %}
{% load static%}
{% load i18n %}

{% block content_list %}
	<div class="row">
		<div class="row el-expandable" >
			<img id="onSort" data-sort="true" width="32" height="32" class="icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/sort.svg' %}" alt="{% trans 'Значок сортировки' %}">
		</div>
		<div id="toViews" data-view="basic" data-who="{{category.slug}}" class="row mid_col_gap" >
			<img id="onNotExtendedView" width="32" height="32" class="icon dynamic_image bordered_button button squered_button selected_view" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/collapse.svg' %}"  alt="{% trans 'Значок базового представления' %}">
			<img id="onExtendedView" width="32" height="32" class="icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/expand.svg' %}" alt="{% trans 'Значок расширенного представления' %}">
		</div>
	</div>

	<div id="page" class="page toObserve">
	{# Place to be filled by infinity_scroll script#}
	</div>
	<div id="scroll-sentinel"></div>
{% endblock %}

{% block styles_list %}
{% endblock %}

{% block scripts_list %}
    <script src="{% static 'Post/js/more.js' %}"></script>
{% endblock %}
