{% extends 'Post/base_post_list.html' %}
{% load static%}
{% load i18n %}

{% block filters_body%}
<div class="row mid_gap in_middle on_start no_wrap" >
	<img id="onSort" data-sort="true" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/sort.svg' %}" alt="{% trans 'Значок сортировки' %}">
	<div>{% trans "Сортировка постов по дате публикации " %}</div>
</div>
<div id="toViews" data-view="basic" data-who="{{category.slug}}" class="mid_col_gap" >
	<div class="row mid_gap in_middle on_start no_wrap">
		<img id="onNotExtendedView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button selected_view" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/collapse.svg' %}"  alt="{% trans 'Значок базового представления' %}">
		<div>{% trans "Спрятать все значения элементов" %}</div>
	</div>
	<div class="row mid_gap in_middle on_start no_wrap">
		<img id="onExtendedView" width="32" height="32" class="filter_button hat_button icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/expand.svg' %}" alt="{% trans 'Значок расширенного представления' %}">
		<div>{% trans "Отобразить все значения элементов" %}</div>
	</div>
</div>
{% endblock %}

{% block content_list %}
	<div id="meta-data" data-numpages={{num_pages}} data-currentpage="{{current_page}}" data-url="{{category.get_absolute_url}}"></div>
	<div id="page" class="page toObserve">
		{{ doc | safe}}
	</div>
{% endblock %}

{% block styles_list %}
{% endblock %}

{% block scripts_list %}
    <script src="{% static 'Post/js/toggle_termin.js' %}"></script>
{% endblock %}
