{% verbatim %}
{% extends 'Post/base_tool.html' %}
{% load static %}
{% load i18n %}
{% endverbatim %}

{% verbatim %}
{% block content_tool %}
    <h2 class="paragraph">{% trans 'Описание' %}</h2>
    <div class="text">
        {{post.description}}
    </div>
{% endverbatim %}


    {{ content|safe }}


{% verbatim %}
{% block styles_tool %}

    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/tool.css' %}"/>
{% endverbatim %}

    {{styles|safe}}

{% verbatim %}
{% endblock %}
{% endverbatim %}

{% verbatim %}
{% block scripts_tool %}
{% endverbatim %}

    {{scripts|safe}}

{% verbatim %}
{% endblock %}
{% endverbatim %}