.limiter{
	max-width: var(--limiter-width-big);
	
}
input{
	width:auto;
}
.canvas_bordered{
	border: 2px solid grey;
}

.canvas_flex{
	width: 100%;
	aspect-ratio: 1 / 1;
}

.canvas_as_background{
	position: absolute;
	width: 100svw;
	height: 100svh;

}
.canvas_workspace{
	width: 100%;
	height: 100%;
	padding: 8px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	column-gap: 16px;
}
.canvas_editor{
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
	width: 100%;
}
.logs_and_erros{
	margin-bottom: 16px;
	width: fit-content;
	max-width: 600px;
	padding: 8px;
	word-wrap: anywhere;
}
.tab_element__active{
	display: flex;
	flex-basis: 100%;
	width: 100%;
	height: 100%;
}

#tab_button_for_err{
	display: none;
}
#tab_button_for_save{
	/*
	display: none;
	*/
}
.save_shader{
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
#tab_body-3{
	display: flex;
	flex-direction: column;
}
#tab_body-5{
	display: flex;
	flex-direction: column;
}
#tab_body-7{
	flex-direction: column;
}
.editor{
	min-height: 400px;
	height: 100%;
	width: 100%;
}

.tab_button_shader_editor_not_active{
	display: none;
}
