.content_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid black;
	background-color: black;
	z-index: 2;
}
.content_body{
	margin: 15% 0 15% 0;
	text-align: justify;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	align-self: center;
}

.content_body__body{
	width: 100%;
}
.content_body__block{
	margin-top: 10%;
}
.content_footer{
	display: flex;
	flex-wrap: wrap;
	max-height: 300px;
	padding: 15% 2% 2% 2%;
	justify-content: space-between;
	margin-top: 15px;
	align-items: center;
	border-bottom: 2px solid black;
	background-color: black;
	color: white;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.column{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.padder{
	padding: 5px;
}
.marger{
	margin: 5px;
}

.in_middle{
	align-items: center;
	justify-content: center;
}
.in_middle-even{
	justify-content: space-around;
}
.in_middle-farapart{
	justify-content: space-between;
}
.sticky{
	position: fixed;
}

.copywrite{
	text-align: center;
}

@media screen and (max-width: 900px){
	.content_footer{
		flex-direction: column;
		justify-content: space-between;
	}
	.content_body{
		font-size: 18px;
	}
}
