.list_simple{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.list_simple_el{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.list_simple_el__sign{
	font-size: 10px;
	margin-right: 20px;
}
.list_simple_el__text{

}
