{% load static %}
{% load i18n %}

{% for template in templates %}
    <label id="template-n-{{template.id}}" class="flex justify-between items-center gap-2">
        <div class="flex gap-1 items-center">
            <div class="flex flex-nowrap gap-2 grow shrink-0 flex-auto">
                <input name="templates" type="radio">
            </div>
            <div class="max-w-[100px] text-nowrap overflow-auto">
                {{template.filename}} 
            </div>
        </div>
        <div class="flex flex-row gap-2 flex-nowrap items-center grow-0 shrink-0 flex-auto justify-end">
            <div class="ttw-button ttw-button_link ttw-button_squared bg-main">
                <a class="ttw-button_squared" href="{% get_media_prefix %}tools\wysiwyg-editor\{{template.filename}}" download="">
                    <img class=" ttw-button_squared" width="16" height="16" src="{% static 'WYSIWYGEditor/img/download.svg' %}">
                </a>
            </div>
            <div class="ttw-button ttw-button_link ttw-button_squared bg-main">
                <a class="ttw-button_squared" href="?filename={{template.filename}}">
                    <img class="ttw-button_squared" width="16" height="16" src="{% static 'WYSIWYGEditor/img/upload.svg' %}" data-ref="{{template.template}}">
                </a>
            </div>
            <div 
                hx-get="get-delete-form/?template_id={{template.id}}&template_filename={{template.filename}}"
				hx-target="#modal-content"
				hx-indicator="#context-loader-load_into_modal"
				hx-on::before-request="modal.open('');"
				hx-on::after-request="event.detail.failed && modal.close();"
                class="ttw-button ttw-button_action ttw-button_squared bg-main">
                <img class="ttw-button_squared" width="16" height="16" src="{% static 'WYSIWYGEditor/img/delete.svg' %}">
            </div>
        </div>
        </label>
{% endfor %}