{% extends 'Main/base.html' %}
{% load i18n %}
{% load static %}


{% block head %}
	<title>{% trans "Страница входа" %}</title>
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="login_page limiter column in_middle in_middle-self no_wrap padder">
	<div class="paragraph in_middle">
		<h1>{% trans "Форма входа" %}</h1>
	</div>
    {% csrf_token %}
	<form id="toLogin">
		<div>
			<p id="username-error" class="hint-required"></p>
			<input placeholder="{% trans "*Имя" %}" type="text" name="username" autocomplete="off" id="username">
		</div>
		<div>
			<p id="password-error" class="hint-required"></p>
			<input placeholder="{% trans "*Пароль" %}" type="password" name="password" autocomplete="off" id="password">
		</div>
		<div class="capcha">
		</div>
		<div class="rules">
			<ul class="list_without_sign">
				<li>{% trans "Поля отмеченые * обязательны к заполнению" %}</li>
				<li>{% trans "Имя должно состоять от 3 до 25 букв" %}</li>
				<li>{% trans "Пользователь должен существовать" %}</li>
				<li>{% trans "Пароль должен быть действительным" %}</li>
			</ul>
		</div>
		<div id="common-error" class="hint-required"></div>
		<div class="row in_middle-even">
			<div id="login" class="button squered_button action_button">
				{% trans "Вход" %}
			</div>
			<div id="send_button" class="button squered_button action_button">
				<a href="{% url 'signup' %}">
				{% trans "Регистрация" %}
				</a>
			</div>
		</div>
	</form> 
<div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'User/css/user.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'User/js/login.js' %}"></script>
{% endblock %}
