{% extends 'Main/base.html' %}
{% load static%}
{% load i18n%}

{% block head %}
	<meta name="robots" content="noindex">
	<title>{% trans "Профиль" %}</title>
{% endblock %}

{% block content %}
<div class="profile_page limiter in_middle in_middle-self no_wrap padder">
	<div class="column max_row_gap">
		<div>
			{% if user.avatar|length > 0 %}
			<img class="avatar" width="128" height="128" src="{{media_root}}{{ user.avatar }}" alt="{% trans "Аватар пользователя"%}">
			{% else %}
			<img class="avatar" width="128" height="128" src="{% static 'User/img/default_avatar.svg' %}" alt="{% trans "Аватар пользователя"%}">
			{% endif %}
		</div>
		<div>
			<h2>{% trans "Имя: " %}</h2>
			<div>{{user.name}}</div>
			<h2>{% trans "Почта: " %}</h2>
			<div>{{user.email}}</div>
			{% if user.about|length > 0%}
			<h2>{% trans "О пользователе" %}</h2>
			<div>{{user.about}}</div>
			{% endif %}
		</div>
		<div>
			<div class="column max_row_gap">  
				<div class="row">
					<h2>{% trans "Коментарии" %}</h2>			
					<div class="top_anotation">
					({{comments_number}})
					</div>
				</div>
				<div class="column mid_row_gap toObserve">
					{# Place which gonna be filled by comments#}
					<div id="scroll-sentinel"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}


{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'User/css/profile.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'User/js/profile.js' %}"></script>
{% endblock %}
