{% extends 'Main/base.html' %}
{% load static%}
{% load i18n%}

{% block head %}
	<meta name="robots" content="noindex">
	<title>{% trans "Регистрация на сайте Тим Вебмастер" %}</title>
{% endblock %}

{% block content %}
<div class="login_page limiter column in_middle in_middle-self no_wrap padder">
	<div class="paragraph in_middle">
		<h1>{% trans "Форма регистрации" %}</h1>
	</div>
    {% csrf_token %}
	<form id="toSignup" class="full_width">
		<div>
			<p id="username-error" class="hint-required"></p>
			<input placeholder="{% trans "* Имя" %}" type="text" name="username" id="username">
		</div>
		<div>
			<p id="email-error" class="hint-required"></p>
			<input placeholder="{% trans "* Почта" %}" type="email" name="email" id="email">
		</div>
		<div>
			<p id="password-error" class="hint-required"></p>
			<input placeholder="{% trans "* Пароль" %}" type="password" name="password" id="password">
		</div>
		<div>
			<p id="repassword-error" class="hint-required"></p>
			<input placeholder="{% trans "* Повтори пароль" %}" type="password" name="repeated_password"  id="repeated_password">
		</div>
		<div>
			<textarea placeholder="{% trans "Раскажи немного о себе" %}" name="about" id="about"></textarea>
		</div>
		<div>
			<input placeholder="{% trans "Выбрать файл" %}" type="file" name="file" id="file">
		</div>
		<div class="rules">
			<ul class="list_without_sign">
				<li>{% trans "Поля отмеченые * обязательны к заполнению" %}</li>
				<li>{% trans "Имя должно состоять от 3 до 25 букв" %}</li>
				<li>{% trans "Имя должно быть уникальным" %}</li>
				<li>{% trans "Пароль должен быть больше 6 знаков" %}</li>
				<li>{% trans "Пароли должны совпадать" %}</li>
				<li>{% trans "Почта должна быть действительной" %}</li>
			</ul>
		</div>
		<div id="common-error" class="hint-required"></div>
		<div id="signup" class="button squered_button action_button">
			{% trans "Регистрация" %}
		</div>
	</form> 
</div>
{% endblock %}


{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'User/css/user.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'User/js/signup.js' %}"></script>
{% endblock %}
