.paginator_container > .engagement_body_mobile{
    position: unset;
}
.engagement_body{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.engagement_body_body{
    color: var(--ui_text_color);
    background-color: var(--secondary_color);
}
.active_engagement_body_body{
    display: none;
}
.engagement_actions_button{
    transition: transform 100ms ease-in-out;
    color: var(--ui_text_color);
    
}
.active_share_options{
    display: none;
}
.onShare{
    position: relative;
}

.share_options {
    flex-direction: row;
    column-gap: var(--mid_pm);
    justify-content: center;
    transition: 0.2s;
    position: absolute;
    left: 28px;
    width: max-content;
    background-color: var(--main_color);
}

.engagement_actions_button:active{
	transform: scale(110%);
}

.active_engagement_button{
    background-color: var(--main_color);
}