@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,200;0,400;0,500;0,700;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&family=Roboto+Slab:wght@500;700&display=swap');

:root{
	/*Main limiter*/
	--limiter-width: 800px;
	--limiter-width-big: 1200px;
	/*Icons*/
	--icon_size: 32px;
	--icon_size_small: 16px;
	/*Colors*/
	--bg_color: #FFF;
	--main_color: #222228;
	--secondary_color: #2D2F2F;
	--acent_color: #D98C45;
	--main_text_color: #000;
	--ui_text_color: #fff;
	/*Links*/
	--link_color: #84a8e3;
	--link-hover_color: #D98C45;
	--link-downloadable_color: #6d9454;
	--link-hover-downloadable_color: #D98C45;
	--link-internal_color: #d4755f;
	--link-hover-internal_color: #D98C45;
	--tag_sign: "#";
	--link_sign: "➚";
	--link-downloadable_sign: "⇣";
	--link-internal_sign: "§";
	/*Images*/
	--image-border-width: 2px;
	--image-border-color: #2D2F2F;
	--image-border-style: dashed;
	/*Fonts*/
	--family-main_font: 'Open Sans', sans-serif;
	--family-acent_font: 'Advent Pro', sans-serif;
	--family-title_font: 'Roboto Slab', serif;
	--size-mini_font: 14px;
	--size-main_font: 16px;
	--size-acent_font: 16px;
	--size-table-header: 22px;
	--size-titleH1_font: 50px;
	--size-titleH2_font: 40px;
	--size-titleH3_font: 30px;
	--size-titleH4_font: 20px;
	--size-titleH5_font: 18px;
	--size-titleH6_font: 16px;
	--weight-mainThin_font: 300;
	--weight-mainRegular_font: 400;
	--weight-mainBold_font: 700;
	--weight-acent_font: 400;
	--weight-title_font: 700;
	--weight-table-header: 700;
	/*Status colors*/
	--error: #b63838;
	--success: #45c94c;
	--warning: #dfc534;
	--info: var(--main_text_color);
	/*Sizes*/
	--small_space: 8px;
	--usual_space: 16px;
	--big_space: 32px;
	/*Indentations*/
	--indent_min: 8px;
	--indent_mid: 16px;
	--indent_big: 32px;
	/*Padding Margin*/
	--min_pm: 8px;
	--mid_pm: 16px;
	--max_pm: 32px;
	--footer_top-bottom_padding: 100px;
	--text_block_margin-top: 30px;
	--paragraph_margin-top: 60px;
	--paragraph_margin-bottom: 60px;
	/*Lists*/
	--list_unordered_element_sign: "◼️";
	--list_sign_size: 10px;
	--list_unordered_element_gap: 8px;
	--list_margin-top: 16px;
	/*Buttons*/
	--button_action_bg: #D78C4f;
	--button_link_bg: #b7ccee;
	--button_danger_action_bg: #c40e0e;
	--button_padding_side: 16px;
	--button_padding_top_bot: 8px;
	/*Forms*/
	--form_el_padding: 8px;
	--form_el_margin-btw_them: 16px;
	/*Devider (<hr> tag)*/
	--devider_width: 2px;
	--devider_color: #2D2F2F;
	--devider_margin: 16px;
	/*Post preview*/
	--post_preview_margin-top: 40px;
	/*Video player*/
	--video-player_border-radius: 10px;
	/*Modal window radius*/
	--modal-radius: 10px;
}

@media screen and (max-width: 900px){
:root{
	/*Icons*/
	--icon_size: 48px;
	--icon_size_small: 24px;
	/*Fonts*/
	--size-mini_font: 14px;
	--size-main_font: 18px;
	--size-acent_font: 18px;
	--size-titleH1_font: 42px;
	--size-titleH2_font: 36px;
	--size-titleH3_font: 32px;
	--size-titleH4_font: 28px;
	--size-titleH5_font: 22px;
	--size-titleH6_font: 20px;
	--size-table-header: 20px;
}
}
