.active_more_home_button{
	display: none;
}
.active_nav{
	width: 300px !important;
}
.active_toggle_button{
}
.active_toggle_button_image{
	transform: rotateZ(90deg);
}
.active_share_options{
}


.loader{
	animation: 1s cubic-bezier(1,0,.64,.21) forwards 1 loaded;
}

@keyframes loaded {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}
