.placeholder{
	background-image: url('placeholder.svg');
	background-size: cover;
	min-width: 300px;
	max-width: 600px;
	width: 100%
}
.placeholder_no_limit{
	background-image: url('placeholder.svg');
	background-size: cover;
}

.image {
	margin-top: var(--text_block_margin-top);
	width: 100%;
	height: auto;
}

.image:hover{
	cursor: pointer;
}

.image_dragable{
	cursor: move;
	touch-action: none;
  	user-select: none;
	box-sizing: border-box;
}

.image_nomargin{
	width: 100%;
	height: auto;
}

.image-min_sized {
	min-width: 300px;
}

.image-max_height {
	max-height: 300px;
}
.image-max_width {
	max-width: 300px;
}
.landscape_image{
	height: 45vh;
	width: auto;
}

.image-bordered{
	border: var(--image-border-width) var(--image-border-style) var(--image-border-color);
}
