.list, .blank_list, .list_without_sign, .numeric_list, ul, ol{
	margin-top: var(--list_margin-top);
}
.list > li, .numeric_list > li, ul > li, ol > li{
	list-style-position: inside;
	list-style-type: disc;
	margin-top: var(--min_pm);
	margin-left: var(--mid_pm);
	word-wrap: anywhere;
}

.list_without_sign > li{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: var(--list_unordered_element_gap);
	margin-top: var(--min_pm);
}

.blank_list > li{
	list-style-position: inside;
	list-style-type: none;
	margin-top: 0;
	margin-left: 0;
	word-wrap: anywhere;
}