 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--secondary_color);
  margin: auto 10%;
  color: white;
  border: 1px solid #888;
  
  top: 50%;
  bottom: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
.modal-content > hr{
    margin:0;
    border-top-color: rgb(226, 226, 226);
}

  .modal_actions{


  }

  .modal_body{
    padding: 20px;
    
  }
  
  /* The Close Button */
  .close_modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_modal:hover,
  .close_modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 