
.interesting{
	margin-top: var(--mid_pm);
	background: yellow;
	border: 2px solid black;
	border-radius: 10px;
}
.quote > legend{
	display: flex;
	align-items: center;
	column-gap: 8px;
	background: #a3c3c4;
	border: 2px solid black;
	border-radius: 10px;
	vertical-align: middle;
	padding: 8px;
}

.quote{
	text-align: right;
	margin-left: var(--max_pm);
	margin-top: var(--mid_pm);
}

.attention{
	margin-top: var(--mid_pm);
	background: rgb(252, 129, 29);
	border: 2px solid black;
	border-radius: 10px;
}

.termin{
	margin-top: var(--mid_pm);
	padding: var(--min_pm);
	background: rgb(221, 236, 243);
	border: 2px solid black;
	border-radius: 10px;
}

.question{
	margin-top: var(--mid_pm);
	padding: var(--min_pm);
	background: rgb(255, 255, 255);
	border: 2px solid black;
	border-radius: 10px;
}

.dangerouse{
	margin-top: var(--mid_pm);
	background: rgb(255, 47, 0);
	border: 2px solid black;
	border-radius: 10px;
}
.code{
	margin-top: var(--mid_pm);
	background: rgb(140, 225, 94);
	border: 2px solid black;
	border-radius: 10px;
}

.mat-type{
	width: fit-content;
	padding: 6px;
	margin: 6px;
	border-radius: 6px;
}

.text{
	margin-top: var(--text_block_margin-top);
	text-align: justify;
	word-wrap: anywhere;
}
.paragraph{
	margin-top: var(--paragraph_margin-top);
	margin-bottom: var(--paragraph_margin-bottom);
	word-wrap: break-word;
}
.title{
	text-align: left;
	margin-top: 5svh;
	margin-bottom: 5svh;
	word-wrap: break-word;
}

.title_in_middle{
	text-align: center;
	margin-top: 45svh;
	margin-bottom: 45svh;
	word-wrap: break-word;
}
.top_anotation{
	font-family: var(--family-acent_font);
}
.to_upper_case{
	text-transform: uppercase;
}

.under_image{
	font-family: var(--family-acent_font);
	font-weight: var(--weight-acent_font);
	font-size: var(--size-acent_font);
}