{% extends 'Main/base.html' %}
{% load i18n%}
{% load static%}

{% block head %}
	<title>{% trans "Админка" %}</title>
    <meta name="robots" content="noindex">
	<meta name="description" content="{% trans "Новая админка сайта. Тим зе Вебмастер." %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'admin'%}" />
{% endblock %}

{% block hat %}
	<div class="header_button"  data-body="models_side_bar_container">
		<img id="models_side_bar_button" width="32" height="32" class="icon button dynamic_image squered_button active_group_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'tree.png' %}" alt="{% trans 'one layer on top of anothe' %}">
	</div>
	<div class="header_button"  data-body="models_last_action_container">
		<img id="models_side_bar_button" width="32" height="32" class="icon button dynamic_image squered_button active_group_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'tree.png' %}" alt="{% trans 'one layer on top of anothe' %}">
	</div>
{% endblock %}

{% block content %}
	<div id="models_side_bar_container" class="side_bar_container">
	</div>
	<div id="models_last_action_container" class="side_bar_container">
	</div>
    <h1>{% trans 'Админка' %}</h1>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'footer-tool.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Admin/css/admin.css' %}"/>
{% endblock %}


{% block scripts %}
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
{% endblock %}