{% extends 'Main/base.html' %}
{% load static%}
{% load i18n %}

{% block head %}
	<title>{% trans "Бесплатный, онлайн парсер картинок с сайта ImageScraper | Тим зе Вебмастер" %}</title>
	<meta name="description" content="{% trans "Парсер картинок, который можно скачать в виде скрипта или опробывать онлайн на сайте. Работает в режиме парсинга целого сайта или отдельных страниц." %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'image_thief'%}" />
{% endblock %}

{% block content %}
	<div class="content_body">
		<div class="tool-prefix">
			<div class="content_body__block marger flex_el_prefix">
				<div class="content_body__text">
					<fieldset>
						<legend>
							<div class="content_body__title-fieldset rounded_border">
								<h2>{%trans "Правила использования парсера"%}</h2>
							</div>
						</legend>
						<div class="list_simple">
							<div class="list_simple_el">
								<div class="list_simple_el__sign">◼️</div>
								<div class="list_simple_el__text">{% trans "Результаты парсинга храняться 1 час" %}</div>
							</div>
							<div class="list_simple_el">
								<div class="list_simple_el__sign">◼️</div>
								<div class="list_simple_el__text">{% trans "Максимум" %} {{ try_limit }} {% trans "запросов в час" %}</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="content_body__block marger flex_el_prefix">
				<div class="content_body__text">
					<fieldset form="toSteal">
						<legend>
							<div id="modes_block" class="content_body__title-fieldset rounded_border">
								<h2>{%trans "Опции, режимы работы"%}</h2>
							</div>
						</legend>
						<div class="padder">
							<input type="radio" id="mod-1_single-one" name="mod" value="single-one" checked />
							<label for="mod-1_single-one">{% trans "Одну, конкретную страницу" %}</label>
						</div>
						<div class="padder">
							<input type="radio" id="mod-2_list-pages" name="mod" value="list-pages" />
							<label for="mod-2_list-pages">{% trans "Несколько страниц, ссылки узазать через запятую" %}</label>
						</div>
						<div class="padder">
							<input type="radio" id="mod-3_full" name="mod" value="full" />
							<label for="mod-3_full">{% trans "Спарсить целый сайт." %}</label>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="search_block">
			<div id="common-error" class="hint-container hint-required hint-common_error"></div>
			{% csrf_token %}
			<div class="form">
				<form enctype="multipart/form-data" class="in_middle" id="toSteal" method="get">
					<fieldset class="fieldset-bold">
						<legend>
							<div class="main_tool_name content_body__main_title content_body__main_title--horizontal content_body__title-fieldset rounded_border no_marger-padder">
								<h1 class="no_marger-padder">ImageThief</h1>
							</div>
							<p class="content_body__text bit_text">{% trans "Бесплатный парсер изображений" %}</p>
						</legend>
						<div class="column">
							<div class="row in_middle no_wrap">
								<input class="full_width form_el search_input no_border" placeholder="http(s)://(www.)domain.com" type="text" name="url" id="url">
								<div id="start" class="button no_marger-padder no_border buttons__outline--white  basic_button">
									<div class="row no_wrap imageThief_tries">
										<div id="current_try">
											{{tries_counter}}
										</div>
										/
										<div id="total_try">
											{{try_limit}}
										</div>
									</div>
									|
									<img id="ImageThief_start" class="icon" src="{% static 'ImageThief/img/steal.png' %}" alt="{% trans "Маска со шляпой"%}"> 
									<div id="imagethief_text_inButton">
									{% trans "Начать" %}
									</div>
								</div>
							</div>
							<div class="hint-container">
								<p id="url-error" class="hint-required"></p>
							</div>
						</div>
						<fieldset id="container_imagethief-status">
							<legend>
								<div class="content_body__title-fieldset content_body__title--simple rounded_border">
									<h3>ImageThief-{% trans "Состояние" %}</h3>
								</div>
							</legend>
							<!-- Gonna showing line that gonna be replaced over time-->
							<div id="imagethief-status">
								<div class="row in_middle-even">
									<div id="imagethief-progressbar" class="marger in_middle" >
										<div class="loader"></div>
									</div>
									<div class="row imagethief_textbl in_middle">
										<div id="imagethief-statustext">
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset id="container_imagethief-results">
							<legend>
								<div class="content_body__title-fieldset content_body__title--simple rounded_border">
									<h3>ImageThief-{% trans "Результаты" %}</h3>
								</div>
							</legend>
							<!-- Gonna showing results links and files-->
							<div id="imagethief-results" class="row in_middle">
								<div class=" ref_downloadables">
									<img class="icon" src="{% static 'Main/img/zip.png'%}" alt="zip file icons">
									<a id="imagethief-results-images" href="#">{% trans "Картинки" %}</a>
								</div>
							</div>
						</fieldset>
						<fieldset  id="container_imagethief-logs">
							<legend>
								<div class="content_body__title-fieldset content_body__title--simple rounded_border">
									<h3>ImageThief-{% trans "Логи" %}</h3>
								</div>
							</legend>
							<div class="content_body__block marger full_width">
								<div class="content_body__text " >
											<pre  id="imagethief-logs_block" data-prismjs-copy="📄" data-prismjs-copy-success="✔" data-prismjs-copy-success="✖" class="content_body__codeblock no_border"><code class="content_body__codeblock_inner  language-markup" id="imagethief-logs" >
											<!--Output result to be shown-->
											</pre></code>
								</div>
							</div>
						</fieldset>
					</fieldset>
					<div class="row on_end">
						<div>
							<input class="form_el"  type="checkbox" value="verbose" id="verbose">
							<label for="verbose">{% trans "Показать работу скрипта" %}</label>
							<div class="hint-container">
								<p id="verbose-error" class="hint-required"></p>
							</div>
						</div>
					</div>
				</form> 
			</div>
		</div>
		<div class="content_body__block marger">
			<div class="content_body__title  content_body__title--simple">
				<h2>{%trans "Об парсере изображений"%}</h2>
			</div>
			<div class="content_body__text">
				{% blocktrans %}
				Это вебпарсер, который ищет и скачивает все изображения с сайта.
				{% endblocktrans %}
			</div>
			<div class="content_body__text">
				<div class="list_simple">
					{% trans "Работает в 3х режимах:" %}
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Одностраничный. Парсит картинки только с одной страницы." %}</div>
					</div>
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Многостраничный. Парсит картинки с нескольких страниц." %}</div>
					</div>
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Целый сайт. Парсит картинки со всего сайта." %}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_body__block marger">
			<div class="content_body__title  content_body__title--simple">
				<h2>{%trans "Примечания"%}</h2>
			</div>
			<div class="content_body__text">
				{% trans "Данный инструмент разработан в 2х вариантах:" %}
				<div class="list_simple">
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Как приложение на сайте(django приложение)" %}<div class="ref" ><a class="ref" href="">Django {% trans "приложение"%}</a></div></div>
					</div>
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Скачать парсер, как самостоятельный Python скрипт." %}<div class="ref_downloadables" ><a class="ref_downloadable" href="">ImageThief {% trans "скрипт"%}</a></div></div>
					</div>
				</div>
			</div>
			<div class="content_body__text">
				{% trans "Ограничения:" %}
				<div class="list_simple">
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Не парсит svg файлы" %}</div>
					</div>
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Не парсит фоновые изображения, которые прописаны в стилях" %}</div>
					</div>
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Не парсит динамически подгружаемые изображения." %}</div>
					</div>
					<div class="list_simple_el">
						<div class="list_simple_el__sign">◼️</div>
						<div class="list_simple_el__text">{% trans "Прекращает парсинг, при закрытии вкладки или браузера." %}</div>
					</div>
				</div>
			</div>
			<div class="content_body__text">
				{% blocktrans %}
				Он абсолютно бесплатен. Единственное чего я прошу, добавь этот инструмент 
				в закладки, или поделись ссылкой на него.
				{% endblocktrans %}
			</div>
			<div class="content_body__text">
				{% blocktrans %}
				Если конечно, он был полезен для тебя. Спасибо.
				{% endblocktrans %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'Main/js/button.js' %}"></script>
    <script src="{% static 'ImageThief/js/prism.js' %}"></script>
    <script src="{% static 'ImageThief/js/imageThiefController.js' %}"></script>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/codeblock.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/prism.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/text.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/form.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/lists.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/blocks.css' %}"/>
{% endblock %}
