{% extends 'Post/base_tool.html' %}
{% load static%}
{% load i18n %}

{% block head_tool %}
	<title>{% trans "Бесплатный, онлайн парсер картинок с сайта ImageScraper | Тим зе Вебмастер" %}</title>
	<meta name="description" content="{% trans "Парсер картинок, который можно скачать в виде скрипта или опробывать онлайн на сайте. Работает в режиме парсинга целого сайта или отдельных страниц." %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'image_thief'%}" />
{% endblock %}

{% block hat_tool %}
{% endblock%}

{% block content_tool %}
	<div class="limiter in_middle in_middle-self no_wrap padder">
		<div id="common-error" class="hint-container hint-required hint-common_error"></div>
		{% csrf_token %}
		<form id="toSteal" enctype="multipart/form-data">
			<fieldset class="full_width">
				<legend>
					<h1 class="title_image_thief">ImageThief</h1>
				</legend>
				<div class="column">
					<div class="row in_middle-farapart mid_gap marger_min">
						<input class="url_field" placeholder="http(s)://(www.)domain.com" type="text" name="url" id="url">
						<div id="start" class="row no_wrap in_middle mid_col_gap">
							<div id="imagethief_text_inButton" class="button squered_button action_button">
							{% trans "Начать" %}
							</div>
						</div>
					</div>
					<div class="hint-container">
						<p id="url-error" class="hint-required"></p>
					</div>
				</div>
				<fieldset id="container_imagethief-status">
					<legend>
						<h3 class="paragraph">ImageThief-{% trans "Состояние" %}</h3>
					</legend>
					<!-- Gonna showing line that gonna be replaced over time-->
					<div id="imagethief-status">
						<div class="row in_middle-even marger_min">
							<div id="imagethief-progressbar" class="marger in_middle" >
								<div class="image_thief-loader"></div>
							</div>
							<div class="row to_upper_case in_middle">
								<div id="imagethief-statustext">
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset id="container_imagethief-results">
					<legend>
						<h3 class="paragraph">ImageThief-{% trans "Результаты" %}</h3>
					</legend>
					<!-- Gonna showing results links and files-->
					<div id="imagethief-results" class="row in_middle marger_min">
						<div class=" ref_downloadables">
							<img class="icon" width="32" height="32" src="{% static 'zip.svg'%}" alt="{% trans 'Иконка zip файла' %}">
							<a id="imagethief-results-images" href="#">{% trans "Картинки" %}</a>
						</div>
					</div>
				</fieldset>
				<fieldset  id="container_imagethief-logs">
					<legend>
						<h3 class="paragraph">ImageThief-{% trans "Логи" %}</h3>
					</legend>
					<div class="marger_min full_width">
						<div class="text" >
							<pre  id="imagethief-logs_block" data-prismjs-copy="📄" data-prismjs-copy-success="✔" data-prismjs-copy-success="✖" class="content_body__codeblock no_border"><code class="content_body__codeblock_inner  language-markup" id="imagethief-logs" >
							<!--Output result to be shown-->
							</pre></code>
						</div>
					</div>
				</fieldset>
			</fieldset>
			<div class="row on_end mid_gap">
				<div>
					<input class="form_el"  type="checkbox" value="verbose" id="verbose">
					<label for="verbose">{% trans "Показать работу скрипта" %}</label>
					<div class="hint-container">
						<p id="verbose-error" class="hint-required"></p>
					</div>
				</div>
				<div>
					<input class="form_el"  type="checkbox" value="dynamic" id="dynamic" disabled>
					<abbr title="{% trans 'Парсит сайт которые используют JS для загрузки изображений.' %}" style="color: grey;">
						<label for="dynamic">{% trans "Динамический" %}</label>
					</abbr>
					<div class="hint-container">
						<p id="dynamic-error" class="hint-required"></p>
					</div>
				</div>
			</div>
		</form> 
		<div class="row max_gap">
			<fieldset id="proxy_block" class="el-expandable el-no_shrinkable  el-300-min-basis">
				<legend>
					<h2 class="marger_mid">{%trans "Прокси"%}</h2>
				</legend>
				<div class="column mid_gap">
					<div class="row mid_gap" style="align-items: center">
						<label for='proxy_file'>{% trans 'Выбрать файл с прокси:' %}</label>
						<input id='proxy_file' class="proxy_options" type='file' >
						<abbr title="{% trans 'Пример файла ты можешь посмотреть внизу' %}">
							<div class="hint_mark"><div class="hint_mark_sign">?</div></div>
						</abbr>
					</div>
					<div class="row mid_gap" style="align-items: center">
						<label for='proxy_file'>{% trans 'Или сгенерировать для целевого сайта за меня:' %}</label>
						<input id='proxy_generate' class="proxy_options" type='checkbox' disabled="true">
						<abbr title="{% trans 'Инструмент по подбору прокси для конкретного сайта ещё не перенесён на сайт.' %}">
							<div class="hint_mark"><div class="hint_mark_sign">?</div></div>
						</abbr>
					</div>
					<div class="row mid_gap" style="align-items: center">
						<label for='proxy_file'>{% trans 'Или указать самому:' %}</label>
						<input id='proxy_input' class="proxy_options" type='text' placeholder="PROTOCOL:ADDRESS:PORT">
						<abbr title="{% trans 'Пример: http:123.22.44.1:801' %}">
							<div class="hint_mark"><div class="hint_mark_sign">?</div></div>
						</abbr>
					</div>
				</div>
			</fieldset>
			<fieldset form="toSteal" class="el-expandable el-no_shrinkable el-300-min-basis">
				<legend id="modes_block">
					<h2 class="marger_mid">{%trans "Мод"%}</h2>
				</legend>
				<div class="column mid_row_gap padder">
					<div>
						<input type="radio" id="mod-1_single-one" name="mod" value="single-one" checked />
						<label for="mod-1_single-one">{% trans "Одну, конкретную страницу" %}</label>
					</div>
					<div>
						<input type="radio" id="mod-2_list-pages" name="mod" value="list-pages" />
						<label for="mod-2_list-pages">{% trans "Несколько страниц, ссылки узазать через запятую" %}</label>
					</div>
					<div>
						<input type="radio" id="mod-3_full" name="mod" value="full" />
						<label for="mod-3_full">{% trans "Спарсить целый сайт." %}</label>
					</div>
				</div>
			</fieldset>
		</div>

		<h2 class="paragraph">{%trans "Об парсере изображений"%}</h2>
		<h3 class="paragraph">{%trans "Общие сведения"%}</h3>
		<div class="text">
			{% blocktrans %}
			Это вебпарсер, который ищет и скачивает все изображения с сайта. Может работать в 3х различных режимах. В режиме одностраничного парсера, ищет и скачивает изображения только с указанной страницы. В многостраничном режиме. В таком случае, парсится список предоставленных страниц. И наконец режим парсинга целого сайта. Ищет изображения по всему сайту и по возможности скачивает их. Хоть остановить парсинг и нельзя, но можно закрыть вкладку и продолжить парсинг с последней ссылки. Просто вбей тот же адрес и мод и нажми <b>Начать</b>.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Парсинг реализован в многопоточном режиме со свопингом пользовательских агентов и прокси. Свопинг и подбор оных проводится случайным образом с использованием весов. То есть, чем больше и дольше парсишь сайт, тем лучше и быстрее парсер подберёт самые эффективные прокси и пользовательские агенты.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			<i>Для экономии места на сервере, каждые сутки в 0:00 по Москве я удаляю все собранные результаты парсинга.</i>
			{% endblocktrans %}
		</div>
		<div class="text ref">
			{% blocktrans %}
			Данный инструмент разработан в 2х вариациях. Как django приложение и как отдельный CLI инструмент. Довольно важное примечание, если Django приложение я постоянно обновляю и улучшаю, то CLI вариант нет. Учти это. Вот ссылка на 
			{% endblocktrans %}
			<a href="https://github.com/DmRafaule/TimTheWebmaster/tree/master/MyBlog/ImageThief">{% trans 'Django приложение' %}</a>. {% trans 'А вот ссылка на'%} <a  class="ref-downloadable" href="{% get_media_prefix %}{{archive}}">{% trans 'скрипт'%}</a>.
		</div>
		<h3 class="paragraph">{%trans "Про прокси"%}</h3>
		<div class="text">
			{% blocktrans %}
			Он поддерживает прокси. Пока только общедоступные, но всё же.
			{% endblocktrans %}
			<a class="ref-downloadable" href="{% get_media_prefix %}{{proxies_example}}">{% trans 'Вот пример файла с прокси.' %}</a>
			{% blocktrans %}
			Может работать с такими прокси протоколами как http, https, socks4 socks5. Так же, из-за того что инструмент проверки прокси ещё не готов, недоступна опция автоматической генерации и подборки прокси под конкретный сайт.
			{% endblocktrans %}
		</div>
		<h3 class="paragraph">{%trans "Ограничения и дисклеймер"%}</h3>
		<div class="text">
			{% blocktrans %}
			У данного инструмента существует несколько ограничений по парсингу. Такие, как не парсит svg файлы, не парсит фоновые изображения прописанные в стилях. Так же ещё не реализован мод динамического парсинга, хотя к этому иду :). Этот веб инструмент абсолютно бесплатен, единственное чего я прошу, добавь этот инструмент в <b>закладки</b>, или поделись ссылкой на него. Спасибо.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Так же автор данного инструмента не несёт никакой ответственности за то, что парсят посетители. Он создан исключительно в целях экономии времени и нервов тех, кому просто нужно собрать все изображения с сайта.
			{% endblocktrans %}
		</div>
		<div class="text row min_gap padder">
			<a target="_blank" href="http://vk.com/share.php?url={{ post.get_absolute_url }}&title={{ post.name }}&description={{ post.short_description }}">
				<div class="share_button">
					<img class="icon button rounded_button dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'Post/img/vk.svg' %}" alt="{% trans "vk иконка" %}">
				</div>
			</a>
			<a target="_blank"  href="https://www.reddit.com/submit?url={{ post.get_absolute_url }}&title={{ post.name }}">
				<div class="share_button">
					<img class="icon button rounded_button dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'Post/img/reddit.svg' %}" alt="{% trans "reddit иконка" %}">
				</div>
			</a>
			<a target="_blank"  href="https://twitter.com/intent/tweet?url={{ post.get_absolute_url }}&text={{ post.short_description }}">
				<div class="share_button">
					<img class="icon button rounded_button dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'Post/img/twitter.svg' %}" alt="{% trans "twitter иконка" %}">
				</div>
			</a>
			<a target="_blank"  href="https://telegram.me/share/url?url={{ post.get_absolute_url }}&text={{ post.short_description }}">
				<div class="share_button">
					<img class="icon button rounded_button dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'Post/img/telegram.svg' %}" alt="{% trans "telegram иконка" %}">
				</div>
			</a>
		</div>
	
	</div>
{% endblock %}

{% block footer_tool %}
{% endblock %}

{% block scripts_tool %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'ImageThief/js/prism.js' %}"></script>
    <script src="{% static 'ImageThief/js/imageThiefController.js' %}"></script>
{% endblock %}

{% block styles_tool %}
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/codeblock.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/prism.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/image_thief.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/loader.css' %}"/>
{% endblock %}
