{% load static %}

<a class="grow shrink-0 basis-[200px]" href="{{ aff.brand_link}}" rel="sponsored nofollow noopener">
    <fieldset class="affiliate_block">
        <legend class="affiliate padder flex flex-row gap-2 items-center">
            <div>
                <img width="16px" height="16px" src="{% static 'Affiliate/img/partner.svg' %}">
            </div>
            <div class="border-r-[2px] h-[16px]" ></div>
            <div>
                <img class="ttw-button_action" width="16px" height="16px" src="{% get_media_prefix %}{{ aff.brand_logo.file }}">
            </div>
        </legend>
        <div class="p-2 flex flex-col gap-2">
            <div>
                <b>
                {{ aff.brand_name}}
                </b>
            </div>
            <div>
                {{ aff.brand_description}}
            </div>
        </div>
    </fieldset>
</a>