{% load i18n %}
{% load static %}

<div class="p-2 flex flex-col h-full">

    {% if token_fail %}
        <h1>{% trans 'Ссылка больше не действительна' %}</h1>
        <hr class="grow shrink-0">
        <div class="grow shrink-0">{% trans 'Ссыла больше не действительна. Истекло время за которое она могла быть использованна. Пожалуйста повторите отправку письма и перейдите по указанной ссылке ещё раз.' %}</div>
        <hr>
        <div class="flex flex-row justify-between flex-wrap">
            <div class="ttw-button ttw-button_link">
                <a href="{% url 'password_reset' %}">
                <p class="rounded-lg bg-main border text-white p-2">{% trans "Отправить письмо" %}</p>
                </a>
            </div>
        </div>
    {% else %}
        <h1>{% trans 'Сброс пароля' %}</h1>
        <hr class="grow shrink-0">
        <div 
            hx-on::before-swap="
                switch(event.detail.xhr.status){
                    case 200:
                        event.detail.shouldSwap = false 
                        event.detail.isError = false
                        break;
                    case 400:
                        event.detail.shouldSwap = true
                        event.detail.isError = false
                        break;
                }
            "
            class="grow shrink-0 basis-2xs" id="modal-form">
            {% include 'Auth/form.html' with form_to_render=form %}
        </div>
        <hr>
        <div class="flex flex-row justify-between flex-wrap">
            <div class="ttw-button ttw-button_link">
                <a href="{% url 'login' %}">
                <p class="rounded-lg bg-main border text-white p-2">{% trans "Войти" %}</p>
                </a>
            </div>
            <div 
                hx-post=""
                hx-include="#toSend" 
                hx-indicator="loader"
                hx-target="#modal-form"
                hx-on::after-request="
                    switch(event.detail.xhr.status){
                        case 200:
                            toaster.notify('{% trans 'Пароль успешно сброшен. Перенаправляю на страницу входа.' %}', 'success');
                            setTimeout(() => { window.location.href = '{% url 'login' %}'; }, 2000);
                            break;
                        case 400:
                            toaster.notify('{% trans '✗ Возникла ошибка при попытке подтверждения ключа' %}', 'error'); 
                            break;
                    }
                "
                id="save_btn_submit" class="grow text-center ttw-button ttw-button_action">
                <p class="rounded-lg bg-main border text-white p-2">{% trans "Сбросить пароль" %}</p>
            </div>
        </div>
    {% endif %}
</div>