{% load i18n %}
{% load static %}

<div class="p-2 flex flex-col h-full">
    <h1>{% trans 'Смена пароля' %}</h1>
    <hr class="grow shrink-0">
    <div 
        hx-on::before-swap="
            switch(event.detail.xhr.status){
                case 200:
                    event.detail.shouldSwap = false 
                    event.detail.isError = false
                    break;
                case 400:
                    event.detail.shouldSwap = true
                    event.detail.isError = false
                    break;
            }
        "
        class="grow shrink-0 basis-2xs" id="modal-form">
        {% include 'Auth/form.html' with form_to_render=form_to_render %}
    </div>
    <hr>
    <div class="flex flex-row justify-between flex-wrap">
        <div class="ttw-button ttw-button_link">
            <a href="{% url 'profile' %}">
            <p class="rounded-lg bg-main border text-white p-2">{% trans "Назад" %}</p>
            </a>
        </div>
        <div 
            hx-post="{% url 'allauth_password_change' %}"
            hx-include="#toSend" 
            hx-indicator="loader"
            hx-vals="js:{csrfmiddlewaretoken: csrftoken}"
            hx-target="#modal-form"
            hx-on::after-request="
                switch(event.detail.xhr.status){
                    case 200:
                        window.location.href = '{% url 'home' %}';
                        break;
                    case 400:
                        toaster.notify('{% trans '✗ Возникла ошибка при попытке входа' %}', 'error'); 
                        break;
                }
            "
            id="save_btn_submit" class="grow text-center ttw-button ttw-button_action">
            <p class="rounded-lg bg-main border text-white p-2">{% trans "Поменять" %}</p>
        </div>
    </div>
</div>
