.active{
	display: none;
}
.page{
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}
.empty_post_placeholder{
	display: flex;
    min-height: 300px;
    background-color: #ffffff73;
    border-radius: var(--post_preview_border-radius);
    position: relative;
}
.selected_view, .selected_order{
	background-color: var(--acent_color);
}
.rotate_X{
	transform: rotateX(180deg);
}
#sort_actions{
	margin-bottom: 90px;
}

.in_post_pager{
	flex-wrap: nowrap;
}
.next_post_pager {
	border-left: 2px solid var(--main_color);
	
}
.prev_post_pager {
	border-right: 2px solid var(--main_color);
}
.post_pager_text{
	border-top: 2px solid var(--main_color);
}