{% extends 'Main/base.html' %}
{% load static%}
{% load i18n %}
{% load listToURL %}

{% block head %}
	{% if cfp_title and cfp_description %}
		{% if current_page == 1 %}
		<title>{{ cfp_title }}</title>
		{% else %}
		<title>{{ cfp_title }} - {% trans "cтраница " %}{{current_page}}</title>
		{% endif %}
		<meta name="description" content="{{cfp_description}}">
		{% if current_tag|length == 0 %}
			{% if current_page == 1 %}
				<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}" />
			{% else %}
				<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page}}" />
			{% endif %}

			{% if current_page != num_pages %}
				<link rel='next' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'1'}}">
			{% endif %}
			{% if current_page != 1%}
				<link rel='prev' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'-1'}}">
			{% endif %}

		{% else %}
			<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page}}{{current_tag|listToURL}}" />

			{% if current_page != num_pages %}
			<link rel='next' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'1'}}{{current_tag|listToURL}}">
			{% endif %}
			{% if current_page != 1%}
			<link rel='prev' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'-1'}}{{current_tag|listToURL}}">
			{% endif %}

		{% endif %}
		<meta name="keywords" content="{{current_tag_names|join:', '}}">
	{% else %}
		{% if current_tag|length == 0 %}
			{% if current_page == 1 %}
				<title>{{category.name}}</title>
			{% else %}
				<title>{{category.name}} - {% trans 'страница '%}{{current_page}}</title>
			{% endif %}

			<meta name="description" content="{{category.description}}">

			{% if current_page == 1%}
				<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}" />
			{% else %}
				<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page}}" />
			{% endif %}

			{% if current_page != num_pages %}
				<link rel='next' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'1'}}">
			{% endif %}
			{% if current_page != 1%}
				<link rel='prev' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'-1'}}">
			{% endif %}

		{% else %}
			<title>{{category.name}} {% trans 'с тегами:' %} {{current_tag_names|join:', '}}. {% trans 'Страница '%}{{current_page}}</title>
			
			<meta name="description" content="{{category.description}} {% trans ' Они были связаны и сгруппированы по следующим тегам: ' %}{{current_tag_names|join:', '}}.{% trans ' Страница '%}{{current_page}}">

			<link rel="canonical" href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page}}{{current_tag|listToURL}}" />

			{% if current_page != num_pages %}
			<link rel='next' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'1'}}{{current_tag|listToURL}}">
			{% endif %}
			{% if current_page != 1%}
			<link rel='prev' href="https://{{domain_name}}{{ category.get_absolute_url }}?page={{current_page|add:'-1'}}{{current_tag|listToURL}}">
			{% endif %}

		{% endif %}
		<meta name="keywords" content="{{current_tag_names|join:', '}}">
	{% endif %}

	{% block head_body %}
	{% endblock %}
{% endblock %}

{% block hat %}
<div class="nav_menu_item in_middle" ></div>
{% endblock %}

{% block content %}
	<div class='notificator-container'>
		<div class="notificator-blank notificator notificator-inactive"></div>
	</div>
	
	{% if cfp_preview %}
		<div class="post_image_container" style="background-image: url({% get_media_prefix %}{{cfp_preview}});"></div>
	{% else %}
		{% if post_list_preview %}
		<div class="post_image_container" style="background-image: url({% get_media_prefix %}{{post_list_preview}});"></div>
		{% endif %}
	{% endif %}

	<div class="limiter_list in_middle in_middle-self no_wrap padder">

		{% if current_tag|length == 0 %}
			{% if current_page == 1%}
				{% if cfp_h1 %}
					<h1>{{cfp_h1}}</h1>
				{% else %}
					<h1>{{category.name}}</h1>
				{% endif %}
			{% else %}
				{% if cfp_h1 %}
					<h1>{{cfp_h1}} - {% trans "страница " %}{{current_page}}</h1>
				{% else %}
					<h1>{{category.name}}{% trans ' начиная с ' %}{{current_page}}{% trans ' страницы'%}</h1>
				{% endif %}
			{% endif %}

			{% if cfp_lead %}
				<div class="text">
					{{cfp_lead}}
				</div>
			{% else %}
				<div class="text">
					{{category.description}}
				</div>
			{% endif %}
		{% else %}
			{% if cfp_h1 %}
				{% if current_page == 1%}
					<h1>{{cfp_h1}}</h1>
				{% else %}
					<h1>{{cfp_h1}} - {% trans "страница " %}{{current_page}}</h1>
				{% endif %}
			{% else %}
				<h1>{{category.name}} {% trans 'связанные со следующими тегами: ' %} {{current_tag_names|join:', '}}. {% trans 'Страница '%}{{current_page}}</h1>
			{% endif %}

			{% if cfp_lead %}
				<div class="text">
					{{cfp_lead}}
				</div>
			{% else %}
				<div class="text">
					{{category.description}} {% trans ' Они были связаны и сгруппированы по следующим тегам: ' %}{{current_tag_names|join:', '}}.{% trans ' Страница '%}{{current_page}}
				</div>
			{% endif %}
		{% endif %}

		{% if isBreadcrumbsMiddlewareConnected %}
			{% include 'Breadcrumbs/breadcrumbs_list.html' with path=request.get_full_path %}
		{% endif %}

		{% if isPostFilterMiddlewareConnected %}
			{% include 'PostFilter/post_filter.html' %}
		{% endif %}
		
		<div id="meta-data" data-sort="{{is_recent}}" data-tags="{{tags_json}}" data-view="basic" data-who="{{category.slug}}" data-numpages={{num_pages}} data-currentpage="{{current_page}}" data-url="{{category.get_absolute_url}}"></div>
		{% block content_list %}
		{% endblock %}

		<div id="progressbar" class="marger in_middle" >
			<div class="progressbar-container">
				<div class="progress-loader"></div>
			</div>
		</div>
	</div>

	<div id="paginator_container" class="paginator_container column is_sticky b-l full_width no_wrap row in_middle">
		{% if isEngagementMiddlewareConnected %}
			{% include 'Engagement/engagement_options.html' %}
		{% endif %}
		<div id="paginator" class="paginator_limiter no_wrap row in_middle max_col_gap">
			<div id="paginator_first_page_example" data-page="" class="example_pagin_button pagin_button first_pagin_button button bordered_button squered_button"></div>
			<div id="paginator_dots_example" data-page=""  class="example_pagin_button pagin_dots">...</div>
			<div id="paginator_default_page_example" data-page=""  class="example_pagin_button pagin_button button bordered_button squered_button"></div>
			<div id="paginator_last_page_example" data-page=""  class="example_pagin_button pagin_button last_pagin_button  button bordered_button squered_button"></div>
			<div id="prev_pagin_button" data-page=""  class=" button  squered_button  action_button">
				<img width="32" height="32" class="icon flip_vert" src="{% static "chevron.svg" %}" alt="{% trans "Шеврон"%}">
			</div>
			<div id="paginator_body" class="row no_wrap full_width in_middle min_col_gap">
				{# Place to insert buttons #}
			</div>
			<div id="next_pagin_button" data-page="" class=" button  squered_button  action_button">
				<img width="32" height="32" class="icon" src="{% static "chevron.svg" %}" alt="{% trans "Шеврон"%}">
			</div>
		</div>
	</div>

	

{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'progressbar.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'paginator.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/post.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/posts_preview.css' %}"/>
	{% if isPostFilterMiddlewareConnected %}
		{% include 'PostFilter/post_filter_styles.html' %}
	{% endif %}

	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_styles.html' %}
	{% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_styles.html' %}
	{% endif %}

	{% block styles_list %}
	{% endblock %}
{% endblock %}

{% block scripts %}
	{% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const category_name = "{{category.slug}}"
    </script>
	{% if isPostFilterMiddlewareConnected %}
		{% include 'PostFilter/post_filter_scripts.html' %}
	{% endif %}

	<script src="{% static 'PagiScroll/js/paginator.js' %}"></script>
	<script src="{% static 'PagiScroll/js/infinity_scroll.js' %}"></script>
	<script src="{% static 'PagiScroll/js/pagiscroll.js' %}"></script>
	
	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_scripts.html' %}
	{% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_scripts.html' %}
	{% endif %}

	{% block scripts_list %}
	{% endblock %}
{% endblock %}



