{% load static %}
{% load i18n %}

<fieldset class="el-expandable el-shrinkable el-300-min-basis">
    <legend>
        <div class="row mid_gap in_middle on_start no_wrap" >
            <div  id="onThisTime">{% trans "Сортировка постов относительно сегодня" %}</div>
        </div>
    </legend>
    <div>
        <div class="row no_wrap mid_gap">
            <input id="thistime-0" type="radio" name="thisTime" value="this_no" checked />
            <label for="thistime-0">{% trans 'Не сортировать относительно сегодня' %}</label>
        </div>
        <div class="row mid_gap">
            <input id="thistime-1" type="radio" name="thisTime" value="this_day" />
            <label for="thistime-1">{% trans 'За этот день' %}</label>
        </div>
        <div class="row mid_gap">
            <input id="thistime-2" type="radio" name="thisTime" value="this_week">
            <label for="thistime-2">{% trans 'За эту неделю' %}</label>
        </div>
        <div class="row mid_gap">
            <input id="thistime-3" type="radio" name="thisTime" value="this_month">
            <label for="thistime-3">{% trans 'За этот месяц' %}</label>
        </div>
        <div class="row mid_gap">
            <input id="thistime-4" type="radio" name="thisTime" value="this_year">
            <label for="thistime-4">{% trans 'За этот год' %}</label>
        </div>
    </div>
</fieldset>
<fieldset class="el-expandable el-shrinkable el-300-min-basis">
    <legend>
        <div class="row in_middle on_start no_wrap" >
            <div  id="onWeekDay">{% trans "Сортировка постов по дню недели" %}</div>
        </div>
    </legend>
    <div class='row min_gap'>
        <div id='mon' data-time='1' class='week_day button action_button_white squered_button bordered_button'>{% trans 'Пон'%}</div>
        <div id='tue' data-time='2' class='week_day button action_button_white squered_button bordered_button'>{% trans 'Вто'%}</div>
        <div id='wen' data-time='3' class='week_day button action_button_white squered_button bordered_button'>{% trans 'Сре'%}</div>
        <div id='thu' data-time='4' class='week_day button action_button_white squered_button bordered_button'>{% trans 'Чет'%}</div>
        <div id='fri' data-time='5' class='week_day button action_button_white squered_button bordered_button'>{% trans 'Пят'%}</div>
        <div id='sat' data-time='6' class='week_day button action_button_white squered_button bordered_button'>{% trans 'Суб'%}</div>
        <div id='sun' data-time='7' class='week_day button action_button_white squered_button bordered_button'>{% trans 'Вос'%}</div>
    </div>
</fieldset>
<fieldset class="el-expandable el-shrinkable el-300-min-basis">
    <legend>
        <div class="row mid_gap in_middle on_start no_wrap" >
            <div  id="onMonthDay">{% trans "Сортировка постов по дню месяца" %}</div>
        </div>
    </legend>
    <div class='row min_gap'>
        <div id='month-1' data-time='1' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>1</div>
        <div id='month-2' data-time='2' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>2</div>
        <div id='month-3' data-time='3' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>3</div>
        <div id='month-4' data-time='4' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>4</div>
        <div id='month-5' data-time='5' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>5</div>
        <div id='month-6' data-time='6' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>6</div>
        <div id='month-7' data-time='7' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>7</div>
        <div id='month-8' data-time='8' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>8</div>
        <div id='month-9' data-time='9' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>9</div>
        <div id='month-10' data-time='10' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>10</div>
        <div id='month-11' data-time='11' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>11</div>
        <div id='month-12' data-time='12' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>12</div>
        <div id='month-13' data-time='13' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>13</div>
        <div id='month-14' data-time='14' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>14</div>
        <div id='month-15' data-time='15' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>15</div>
        <div id='month-16' data-time='16' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>16</div>
        <div id='month-17' data-time='17' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>17</div>
        <div id='month-18' data-time='18' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>18</div>
        <div id='month-19' data-time='19' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>19</div>
        <div id='month-20' data-time='20' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>20</div>
        <div id='month-21' data-time='21' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>21</div>
        <div id='month-22' data-time='22' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>22</div>
        <div id='month-23' data-time='23' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>23</div>
        <div id='month-24' data-time='24' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>24</div>
        <div id='month-25' data-time='25' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>25</div>
        <div id='month-26' data-time='26' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>26</div>
        <div id='month-27' data-time='27' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>27</div>
        <div id='month-28' data-time='28' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>28</div>
        <div id='month-29' data-time='29' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>29</div>
        <div id='month-30' data-time='30' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>30</div>
        <div id='month-31' data-time='31' class='month_day button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>31</div>
    </div>
</fieldset>
<fieldset class="el-expandable el-shrinkable el-300-min-basis">
    <legend>
        <div class="row mid_gap in_middle on_start no_wrap" >
            <div  id="onMonth">{% trans "Сортировка постов по месяцу" %}</div>
        </div>
    </legend>
    <div class='row min_gap'>
        <div id='jan' data-time='1' class='month button action_button_white squered_button bordered_button'>{% trans 'Янв' %}</div>
        <div id='feb' data-time='2' class='month button action_button_white squered_button bordered_button'>{% trans 'Фев' %}</div>
        <div id='mar' data-time='3' class='month button action_button_white squered_button bordered_button'>{% trans 'Мар' %}</div>
        <div id='apr' data-time='4' class='month button action_button_white squered_button bordered_button'>{% trans 'Апр' %}</div>
        <div id='may' data-time='5' class='month button action_button_white squered_button bordered_button'>{% trans 'Май' %}</div>
        <div id='jun' data-time='6' class='month button action_button_white squered_button bordered_button'>{% trans 'Июн' %}</div>
        <div id='jul' data-time='7' class='month button action_button_white squered_button bordered_button'>{% trans 'Июл' %}</div>
        <div id='aug' data-time='8' class='month button action_button_white squered_button bordered_button'>{% trans 'Ауг' %}</div>
        <div id='sen' data-time='9' class='month button action_button_white squered_button bordered_button'>{% trans 'Сен' %}</div>
        <div id='oct' data-time='10' class='month button action_button_white squered_button bordered_button'>{% trans 'Окт' %}</div>
        <div id='nov' data-time='11' class='month button action_button_white squered_button bordered_button'>{% trans 'Ноя' %}</div>
        <div id='dec' data-time='12' class='month button action_button_white squered_button bordered_button'>{% trans 'Дек' %}</div>
    </div>
</fieldset>
<fieldset class="el-expandable el-shrinkable el-300-min-basis">
    <legend>
        <div class="row mid_gap in_middle on_start no_wrap" >
            <div  id="onYear">{% trans "Сортировка постов по году" %}</div>
        </div>
    </legend>
    <div class='row min_gap'>
        {% for year in years %}
            <div id='year-{{year}}' data-time='{{year}}' class='year button action_button_white squered_button bordered_button'>{{year}}</div>
        {% endfor %}
    </div>
</fieldset>