{% extends 'PagiScroll/base_post_list.html' %}
{% load static%}
{% load i18n %}
{% load listToURL %}

{% block head_body %}
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "FAQPage",
			"mainEntity": [
			{% for td in posts %}
			{% if forloop.counter == posts|length%}
				{
					"@type": "Question",
					"name": "{{td.termin}}",
					"acceptedAnswer": {
						"@type": "Answer",
						"text": "{{td.definition}}"
					}
				}
			{% else %}
				{
					"@type": "Question",
					"name": "{{td.termin}}",
					"acceptedAnswer": {
						"@type": "Answer",
						"text": "{{td.definition}}"
					}
				}, 
			{% endif %}
			{% endfor %}
			]
		}
	</script>
{% endblock %}

{% block content_list %}
	<div id="page" class="page toObserve">
		{% include 'Post/basic--post_preview-td.html' %}
	</div>
{% endblock %}

{% block styles_list %}
{% endblock %}

{% block scripts_list %}
{% endblock %}
