{% extends 'Post/base_tool.html' %}
{% load static%}
{% load i18n %}

{% block hat_tool %}
{% endblock%}

{% block content_tool %}
	<div class="limiter in_middle in_middle-self no_wrap padder">
		<div id="common-error" class="hint-container hint-required hint-common_error"></div>
		{% csrf_token %}
		<form id="toSteal" enctype="multipart/form-data">
			<fieldset class="w-full">
				<legend>
					<h2>ImageThief</h2>
				</legend>
				<div>
					<div class="flex flex-row justify-between gap-3 m-2">
						<input class="url_field" placeholder="http(s)://(www.)domain.com" type="text" name="url" id="url">
						<div id="start" class="ttw-button ttw-button_action ttw-button_squared justify-center flex flex-row w-max">
							<div id="imagethief_text_inButton" class=" ttw-button_squared border p-2 w-max">
							{% trans "Начать" %}
							</div>
						</div>
					</div>
					<div class="hint-container">
						<p id="url-error" class="hint-required"></p>
					</div>
				</div>
				<fieldset id="container_imagethief-status" class="hidden">
					<legend>
						<h3>ImageThief-{% trans "Состояние" %}</h3>
					</legend>
					<!-- Gonna showing line that gonna be replaced over time-->
					<div id="imagethief-status">
						<div class="flex flex-row justify-between m-2">
							<div id="imagethief-progressbar" class="m-1 justify-center" >
								{% include 'Main/loader.html' %}
							</div>
							<div class="flex flex-row justify-center">
								<div id="imagethief-statustext">
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset id="container_imagethief-results" class="hidden">
					<legend>
						<h3>ImageThief-{% trans "Результаты" %}</h3>
					</legend>
					<!-- Gonna showing results links and files-->
					<div id="imagethief-results" class="flex flex-row justify-start m-1">
						<div class="ref_downloadables flex flex-row gap-2">
							<img class="icon" width="32px" height="32px" src="{% static 'zip.svg'%}" alt="{% trans 'Иконка zip файла' %}">
							<a id="imagethief-results-images" href="#">{% trans "Картинки" %}</a>
						</div>
					</div>
				</fieldset>
				<fieldset  id="container_imagethief-logs" class="hidden">
					<legend>
						<h3>ImageThief-{% trans "Логи" %}</h3>
					</legend>
					<div class="m-1 w-full">
						<div class="mt-4" >
							<div  id="imagethief-logs_block" class="relative overflow-auto max-h-[900px]" >
								<div class="microlight" id="imagethief-logs" >
								<!--Output result to be shown-->
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</fieldset>
			<div class="flex flex-row justify-end gap-3">
				<div>
					<div class="flex flex-row gap-1 items-center">
						<input type="checkbox" value="verbose" id="verbose">
						<label for="verbose" class="min-w-max ">{% trans "Показать работу скрипта" %}</label>
					</div>
				</div>
				<div class="hint-container">
					<p id="verbose-error" class="hint-required form_error"></p>
				</div>
				<div>
					<div class="flex flex-row gap-1 items-center">
						<input class="form_el"  type="checkbox" value="dynamic" id="dynamic" disabled>
						<div class="tooltip min-w-max ">
							<label for="dynamic" class="min-w-max "  style="color: grey;">{% trans "Динамический" %}</label>
							<div class="tooltiptext tooltiptext_bottom">{% trans 'Парсит сайт которые используют JS для загрузки изображений.' %}</div>
						</div>
					</div>
				</div>
				<div class="hint-container">
					<p id="dynamic-error" class="hint-required form_error"></p>
				</div>
			</div>
		</form> 
		<div class="flex flex-row gap-3 flex-wrap">
			<fieldset id="proxy_block" class="grow shrink-0 basis-2xs">
				<legend>
					<h2>{%trans "Прокси"%}</h2>
				</legend>
				<div class="flex flex-col gap-3">
					<div class="flex flex-row gap-2 items-center">
						<label for='proxy_file' class="grow basis-2xs">{% trans 'Выбрать файл с прокси:' %}</label>
						<input id='proxy_file' class="proxy_options" type='file' >
						<div class="tooltip min-w-max ">
							<div class="ttw-button ttw-button_action ttw-button_squared"><div class="border text-center w-8 h-8 ttw-button_squared p-1">?</div></div>
							<div class="tooltiptext tooltiptext_bottom">{% trans 'Пример файла ты можешь посмотреть внизу' %}</div>
						</div>
					</div>
					<div class="flex flex-row gap-2 items-center">
						<label for='proxy_file' class="grow basis-2xs">{% trans 'Или сгенерировать для целевого сайта за меня:' %}</label>
						<input id='proxy_generate' class="proxy_options" style="width: auto;" type='checkbox' disabled="true">
						<div class="tooltip min-w-max ">
							<div class="ttw-button ttw-button_action ttw-button_squared"><div class="border text-center w-8 h-8 ttw-button_squared p-1">?</div></div>
							<div class="tooltiptext tooltiptext_left">{% trans 'Инструмент по подбору прокси для конкретного сайта ещё не перенесён на сайт.' %}</div>
						</div>
					</div>
					<div class="flex flex-row gap-2 items-center">
						<label for='proxy_file' class="grow basis-2xs">{% trans 'Или указать самому:' %}</label>
						<input id='proxy_input' class="proxy_options" type='text' placeholder="PROTOCOL:ADDRESS:PORT">
						<div class="tooltip min-w-max ">
							<div class="ttw-button ttw-button_action ttw-button_squared"><div class="border text-center w-8 h-8 ttw-button_squared p-1">?</div></div>
							<div class="tooltiptext tooltiptext_bottom">{% trans 'Пример: http:123.22.44.1:801' %}</div>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset form="toSteal" class="grow shrink-0 basis-2xs">
				<legend id="modes_block">
					<h2>{%trans "Мод"%}</h2>
				</legend>
				<div class="flex flex-col gap-3">
					<div class="flex flex-row gap-2">
						<input type="radio" id="mod-1_single-one" style="width: auto;" name="mod" value="single-one" checked />
						<label for="mod-1_single-one">{% trans "Одну, конкретную страницу" %}</label>
					</div>
					<div class="flex flex-row gap-2">
						<input type="radio" id="mod-2_list-pages" style="width: auto;" name="mod" value="list-pages" />
						<label for="mod-2_list-pages">{% trans "Несколько страниц, ссылки узазать через запятую" %}</label>
					</div>
					<div class="flex flex-row gap-2">
						<input type="radio" id="mod-3_full" style="width: auto;" name="mod" value="full" />
						<label for="mod-3_full">{% trans "Спарсить целый сайт." %}</label>
					</div>
				</div>
			</fieldset>
		</div>

		<h2 class="paragraph">{%trans "Об парсере изображений"%}</h2>
		<h3 class="paragraph">{%trans "Общие сведения"%}</h3>
		<div class="text">
			{% blocktrans %}
			Это вебпарсер, который ищет и скачивает все изображения с сайта. Может работать в 3х различных режимах. В режиме одностраничного парсера, ищет и скачивает изображения только с указанной страницы. В многостраничном режиме. В таком случае, парсится список предоставленных страниц. И наконец режим парсинга целого сайта. Ищет изображения по всему сайту и по возможности скачивает их. Хоть остановить парсинг и нельзя, но можно закрыть вкладку и продолжить парсинг с последней ссылки. Просто вбей тот же адрес и мод и нажми <b>Начать</b>.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Парсинг реализован в однопоточном режиме со свопингом пользовательских агентов и прокси. Свопинг и подбор оных проводится случайным образом с использованием весов. То есть, чем больше и дольше парсишь сайт, тем лучше и быстрее парсер подберёт самые эффективные прокси и пользовательские агенты.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			<i>Для экономии места на сервере, каждые сутки в 0:00 по Москве я удаляю все собранные результаты парсинга.</i>
			{% endblocktrans %}
		</div>
		<div class="text ref">
			{% blocktrans %}
			Данный инструмент разработан в 2х вариациях. Как django приложение и как отдельный CLI инструмент. Довольно важное примечание, если Django приложение я постоянно обновляю и улучшаю, то CLI вариант нет. Учти это. Вот ссылка на 
			{% endblocktrans %}
			<a href="https://github.com/DmRafaule/TimTheWebmaster/tree/master/Website/ImageThief">{% trans 'Django приложение' %}</a>. {% trans 'А вот ссылка на'%} <a  class="ref-downloadable" href="{% get_media_prefix %}{{archive}}">{% trans 'скрипт'%}</a>.
		</div>
		<h3 class="paragraph">{%trans "Про прокси"%}</h3>
		<div class="text">
			{% blocktrans %}
			Он поддерживает прокси. Пока только общедоступные, но всё же.
			{% endblocktrans %}
			<a class="ref-downloadable" href="{% get_media_prefix %}{{proxies_example}}">{% trans 'Вот пример файла с прокси.' %}</a>
			{% blocktrans %}
			Может работать с такими прокси протоколами как http, https, socks4 socks5. Так же, из-за того что инструмент проверки прокси ещё не готов, недоступна опция автоматической генерации и подборки прокси под конкретный сайт.
			{% endblocktrans %}
		</div>
		<h3 class="paragraph">{%trans "Ограничения и дисклеймер"%}</h3>
		<div class="text">
			{% blocktrans %}
			У данного инструмента существует несколько ограничений по парсингу. Такие, как не парсит svg файлы, не парсит фоновые изображения прописанные в стилях. Так же ещё не реализован мод динамического парсинга, хотя к этому иду :). Этот веб инструмент абсолютно бесплатен, единственное чего я прошу, добавь этот инструмент в <b>закладки</b>, или поделись ссылкой на него. Спасибо.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Так же автор данного инструмента не несёт никакой ответственности за то, что парсят посетители. Он создан исключительно в целях экономии времени и нервов тех, кому просто нужно собрать все изображения с сайта.
			{% endblocktrans %}
		</div>
	</div>
{% endblock %}

{% block footer_tool %}
{% endblock %}

{% block scripts_tool %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'ImageThief/js/index.min.js' %}"></script>
{% endblock %}

{% block styles_tool %}
    <link type="text/css" rel="stylesheet" href="{% static 'ImageThief/css/index.min.css' %}"/>
{% endblock %}
