{% load static %}
{% load i18n%}

<div class="column mid_row_gap">
	<div class="column min_gap">
		<div class="row mid_col_gap">
			{% if not com.anonymous_user_id|length > 0%}
				{% if com.user.avatar|length > 0 %}
				<img class="icon icon_avatar" src='{{media_root}}{{ com.user.avatar }}' alt="{% trans "Аватарка пользователя" %}">
				{% else %}
				<img class="icon icon_avatar" src="{% static 'User/img/default_avatar.svg' %}" alt="{% trans "Аватар по умолчанию" %}">
				{% endif %}
			{% else%}
				{% if com.anonymous_user_avatar|length > 0 %}
				<img class="icon icon_avatar" src='{{com.anonymous_user_avatar}}' alt="{% trans "Аватарка пользователя" %}">
				{% else %}
				<img class="icon icon_avatar" src="{% static 'User/img/default_avatar.svg' %}" alt="{% trans "Аватар по умолчанию" %}">
				{% endif %}
			{% endif %}
			<b class=" in_middle-self">
				{% if not com.anonymous_user_id|length > 0%}
					{{com.user}}
				{% else %}
					{{com.anonymous_user_name}}
				{% endif %}
			</b>
		</div>
		<div class="quote">
			{{com.timeCreated}}
		</div>
	</div>
	<div>
		{{com.content}}
	</div>
	{% if user.slug == com.user.slug and request.session.is_auth %}
	<div class="button remove_action_button squered_button" commentid="{{com.id}}" >
		{% trans "Удалить" %}
	</div>
	{% endif %}
</div>
