{% extends 'Main/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
	<link rel="canonical" href="https://{{domain_name}}{{ post.get_absolute_url }}" />
	<title>Main shader</title>
	<meta name="description" content="This is a testing web page for learning purposes in a fields called WebGL and Shaders">
{% endblock %}


{% block content %}
	<div class="canvas">
		<canvas class="glslCanvas" data-fragment-url="{% static 'ShaderTEST/shaders/rotated_sphere.frag' %}" data-textures="{% static 'ShaderTEST/img/venus.jpg' %}" width="500px" height="500px"></canvas>
	</div>
{% endblock %}

{% block footer_links %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'ShaderTEST/css/shader.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>
	<script type="text/javascript" src="{% static 'ShaderTEST/js/main.js' %}"></script>
{% endblock %}
