{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
	<title>{% trans "Тим зе Вебмастер, Лаборатория открытого тестирования. Всё о проекте и направлениях деятельности этого проекта" %}</title>
	<meta name="description" content="{% trans "Всё о проекте, зачем он был создан, кто за ним стоит(Дима Чудук), основные направления деятельности (разработка программ, SEO, ИИ, история программировани, монетизация)" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'about'%}" />
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "ProfilePage",
		  "dateCreated": "2023-10-09T12:34:00-05:00",
		  "dateModified": "2024-10-02T14:53:00-05:00",
		  "mainEntity": {
			"@type": "Person",
			"name": "{% trans 'Тима Чудук' %}",
			"description": "Defender of Truth",
			"image": "{% static '/Main/img/me1.jpg' %}",
			"sameAs": [
			  "https://vk.com/timachuduk",
			  "https://x.com/TimaChedr",
			  "https://www.reddit.com/user/DmRafaule/",
			  "https://www.instagram.com/timachedr/"
			]
		  }
		}
	</script>	
{% endblock %}

{% block content %}

<div class="justify-center flex flex-col w-full toObserve ttw-limiter">
	<div class="max-w-4xl self-center flex flex-col ttw-content">
		<div class="flex gap-3 flex-wrap mb-10">
			<div class="flex flex-col gap-2 grow shrink basis-2xs" style="flex: 1 1 300px;">
				<h1>{% trans "Всё о лаборатории открытого тестирования и авторе проекта Тиме зе Вебмастере" %}</h1>
				<div>{% trans "Расскажу зачем была сделана данная лаборатория и чем она занимается. Так же немного об авторе данного проекта Тиме зе Вебмастере(он же Дима Чудук)" %}</div>
			</div>
			<div class="flex flex-col justify-between gap-2 grow shrink-0 basis-auto uppercase">
				<a href="{% url "articles-list" %}" class="basis-auto rounded-[8px] bg-main text-white">
					<div class="ttw-button ttw-button_link rounded-[8px]">
						<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2">{% trans "Посмотреть последние статьи" %}</div>
					</div>
				</a>
				<a href="{% url "tools-list" %}?page=1&tag={{internal_tool_tag}}" class="basis-auto rounded-[8px] bg-main text-white">
					<div class="ttw-button ttw-button_link rounded-[8px]">
						<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2">{% trans "Опробовать инструменты" %}</div>
					</div>
				</a>
				<a href="{% url "home" %}" class="grow basis-auto rounded-[8px] bg-main text-white">
					<div class="ttw-button ttw-button_link rounded-[8px] h-full">
						<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2 h-full">{% trans "Или вернуться на главную" %}</div>
					</div>
				</a>
			</div>
		</div>
		<h2 class="mt-10" id="introduction"><a href="#introduction" class="ref_hidden-int_no-sign">{% trans "Немного об авторе" %}</a></h2>
		<hr>
		<div>
			{% blocktrans %}
			Я обычный программист, самоучка. Люблю посидеть часик-другой над проблемой, решать которую никто не хотел. 
			И сделать выводы, которые никто не просил. Но возможно, кому-нибудь да и будет интересно почитать про процесс решения проблемы и
			возможно даже это будет ему полезно.
			{% endblocktrans %}
		</div>
		<div>
			<img width="100%" class="dynamic_image grow shrink-0 basis-2xs rounded-2xl border" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/baranovichi.webp' %}">
			<div class="ttw-explain_under">{% trans "Железнодорожный вокзал, вид с моста" %}</div>
		</div>
		<div>
			<img width="100%" class="dynamic_image grow shrink-0 basis-2xs rounded-2xl border" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/baranovichi-2.webp' %}">
			<div class="ttw-explain_under">{% trans "Парк, перед кинотеатром 'Звезда'" %}</div>
		</div>
		<div class="text">
			{% blocktrans %}
			Родился я в Барановичах, Беларусь. Единственной достопримечательностью которого является ЖД вокзал. Не пойми не правильно, мне нравится этот город,
			просто даже этот маленький город слишком люден для меня. Ибо большую часть жизни я прожил на болотах - полессье. В деревне. Привычка, так сказать.
			{% endblocktrans %}
		</div>
		<div>
			<img width="100%" class="dynamic_image grow shrink-0 basis-2xs rounded-2xl border" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/home-1.webp' %}">
			<div class="ttw-explain_under">{% trans "Дорога через болото" %}</div>
		</div>
		<div>
			<img width="100%" class="dynamic_image grow shrink-0 basis-2xs rounded-2xl border" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/home-2.webp' %}">
			<div class="ttw-explain_under">{% trans "Болото через поле" %}</div>
		</div>
		<div>
			<img width="100%" class="dynamic_image grow shrink-0 basis-2xs rounded-2xl border" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/home-3.webp' %}">
			<div class="ttw-explain_under">{% trans "Болото рядом" %}</div>
		</div>
		<div>
			<img width="100%" class="dynamic_image grow shrink-0 basis-2xs rounded-2xl border" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/home-4.webp' %}">
			<div class="ttw-explain_under">{% trans "Посёлок, спиной к болоту через поле :)" %}</div>
		</div>
		<div class="ref">
			<div class="float-right p-3">
				<img width="150px" height="100%" src="{% static '/Main/img/me1.jpg' %}" class="rounded-2xl border">
				<div class="ttw-explain_under">{% trans 'А это я' %}</div>
			</div>
			{% blocktrans %}
			Итак, вот мне 20 лет, а у меня ни опыта, ни каких-либо нормальных навыков. 
			Я начал пробовать себя в различных сферах разработки, от фронтенда до геймдева. Спойлер, разработчиком игр я не стал.
			За два года я сделал кучу демок, но выпустил 
			{% endblocktrans %}
			<a href="https://timthewebmaster.com/en/tools/life-of-loader-game-apk/">{% trans 'только одну игру' %}</a>
			{% blocktrans %}
			на Google Play и то не очень хорошую.
			{% endblocktrans %}
			<div class="flex mt-4">
				{% blocktrans %}
				И фронтенд разработчиком я не стал. Слишком много фреймворков в которых нужно разбираться и шарить. Я предпочитаю более старый, 
				традиционный подход с обычным HTML и JS на пару. Без фреймворков. Как известно работы для такого "специалиста" не очень много.
				{% endblocktrans %}
			</div>
		</div>
		<h2 class="mt-10" id="why-this-website-exists"><a href="#why-this-website-exists" class="ref_hidden-int_no-sign">{% trans "Почему решил сделать сайт" %}</a></h2>
		<hr>
		<div>
			{% blocktrans %}
			Нужно было чем-то заняться. Вот я и решил, а давай я опубликую сайт. Черновик у меня валялся с 2022 года, когда я ещё увлекался хакатонами, devops и взломом. Изначально, я сделал этот сайт, чтобы отрабатывать и практиковать различные уязвимости в сайтах. И конечно же разобраться в том как сайты вообще работают. 
			{% endblocktrans %}
		</div>
		<div>
			{% blocktrans %}
			Сейчас я этим не особо увлекаюсь, я сосредоточился на созидании и проектировании. Ломать нее строить, как говорят. 
			{% endblocktrans %}
		</div>
		<div>
			{% blocktrans %}
			А ещё я хотел просто писать о том, что меня интересовало и интересует по сей день. То есть разработка и проектирование приложений, сайтов. Когда я тогда начинал, я понимал что быстро это не будет и это, скорее всего, проект на всю жизнь. И по этому я решил писать сайт, на том языке который мне нравится - Python и верстать на чистом HTML, CSS, JS.
			{% endblocktrans %}
		</div>
		<fieldset data-type="interesting" data-imagepath="{% static '/Post/img/blockInteresting.svg' %}" >
			<legend class="interesting"><img class="icon" width="16" height="16" src="{% static '/Post/img/blockInteresting.svg' %}"></legend>
			{% blocktrans %}
			Если быть честным, Python не мой любимый язык программирования. Это скорее будет C или C++. Я люблю эти языки программирования, но делиться программами с широкой публикой на них, очень сложно. А я хочу именно делиться и показывать результаты своих трудов другим.
			{% endblocktrans %}
		</fieldset>
		<h2 class="mt-10" id="about-open-engineering-lab"><a href="#about-open-engineering-lab" class="ref_hidden-int_no-sign">{% trans "О лаборатории открытого тестирования" %}</a></h2>
		<hr>
		<div>
			{% blocktrans %}
			Суть данной лаборатории(сайта) заключается в том, что я, выбирая определённый топик по интересам, пытаюсь изучить его со сторон
			до селе неизученных. Тестировать различные программные решения на этом и других моих сайтах. И что самое важное документировать всё это.
			Ведь в этом и заключается смысл данного сайта, что бы посетитель нашёл нужное и полезное ему исследование, будь оно связано с
			изучением нового стека технологий, отдельных библиотек или сбором и последующим анализом данных.
			{% endblocktrans %}
		</div>
		<div>
			{% blocktrans %}
			Что за топики по интересам? Это довольно обширная категория, которая будет постоянно меняться, ибо она зависит только от одного человека
			- меня. В неё входят такие топики как: программирование сайтов, поисковая(а теперь ещё и ИИ) оптимизация, изучение и внедрение различных
			библиотек и фреймворков на сайт или в другие программы. История программирования, людей и компаний стоящих за той или иной технологией.
			{% endblocktrans %}
		</div>
		<div class="mt-10"></div>
		{% include 'Engagement/Other/engagement_wide_container.html' with only_send="True" %}
	</div>
</div>
{% endblock %}


{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/index.about.min.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'Main/js/index.about.min.js' %}"></script>
{% endblock %}
