{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
	<title>{% trans "Тим, Вебмастер. Всё об авторе и его деятельности." %}</title>
	<meta name="description" content="{% trans "О вебмастере Тиме Чудуке. Его истории, интересах и оказываемых услугах разработки сайтов, тг ботов, скриптов, парсеров и копирайта" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'about'%}" />
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "ProfilePage",
		  "dateCreated": "2023-10-09T12:34:00-05:00",
		  "dateModified": "2024-10-02T14:53:00-05:00",
		  "mainEntity": {
			"@type": "Person",
			"name": "{% trans 'Тима Чудук' %}",
			"description": "Defender of Truth",
			"image": "{% static '/Main/img/me1.jpg' %}",
			"sameAs": [
			  "https://vk.com/timachuduk",
			  "https://x.com/TimaChedr",
			  "https://www.reddit.com/user/DmRafaule/",
			  "https://www.instagram.com/timachedr/"
			]
		  }
		}
	</script>	
{% endblock %}

{% block content %}

<div class="justify-center flex flex-col w-full toObserve ttw-limiter">
	<div class="max-w-4xl self-center flex flex-col ttw-content">
		<div class="flex flex-row gap-2 basis-2xs flex-wrap-reverse items-center">
			<div class="grow shrink-0 basis-2xs">
				<h1 class="ttw-title text-right" >{% trans "Всё о Тиме Вебмастере (Дмитрие Чудуке)" %}</h1>
				<div class="mb-12"><i>{% trans "Расскажу свой путь. Что было до сайта, что будет дальше и почему я этим занимаюсь. Я расскажу всё, поэтому это будет долго, и возможно не итересно. Ты предупреждён." %}</i></div>
			</div>
			<div class="flex basis-2xs grow">
				<div class="flex items-center justify-center">
					<img width="300px" height="100%" src="{% static '/Main/img/me1.jpg' %}" class="rounded-2xl">
				</div>
			</div>
		</div>
		<h2 class="paragraph">{% trans "Вступление" %}</h2>
		<div>
			{% blocktrans %}
			Начну с того, что я родился в Барановичах, Беларусь. Барановичи - это город аккурат между Минском и Брестом, главной достопримечательностью которого является железнодорожный вокзал.
			{% endblocktrans %}
		</div>
		<img width="100%" class="dynamic_image grow shrink-0 basis-2xs rounded-2xl border" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/baranovichi.webp' %}">
		<div class="text">
			{% blocktrans %}
			Хоть родился я в Барановичах, жил я всё время в деревне. Уже сейчас мне трудно вспомнить о чём я думал, или к чему стремился, или кем хотел быть. Наверное, я об этом не думал вообще, а просто был тогда в моменте.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Изначально, я решил стать следователем, но что-то пошло не так и меня не взяли. Зато в армию взяли, где я и отслужил полтора года. Не могу сказать, что там всё было плохо. Стрелять и кататься на самоходных артиллерийских установках мне нравилось. Мне не нравилось всё что было до и после боевых выездов.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Итак, вот мне 20 лет, у меня среднеспециальное юридическое, ни опыта, ни каких-либо нормальных навыков. Я начал пробовать себя в различных сферах, начиная от официанта, заканчивая фрилансом. А в свободное время я не играл, нет, (всю охоту к играм я потерял ещё до армии) я программировал, делал игры. Не очень успешно. За два года я сделал кучу демок, но выпустил 
			{% endblocktrans %}
			<a href="https://timthewebmaster.com/en/tools/life-of-loader-game-apk/">{% trans 'только одну игру' %}</a>
			{% blocktrans %} 
			на Google Play и то не очень хорошую.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			В 2022 году поступил в университет на инженер-программиста (это уже Минск), но очень скоро понял, что это не моё и забрал документы уже в 2023 году. Сказать, что мне тогда было плохо, ничего не сказать. Мне было очень херово тогда. Было такое чувство будто сердце заволокла, такая вязкая слизь из безысходности и горечи потери года подготовки к поступлению.
			{% endblocktrans %}
		</div>
		<div class="text">
			<img width="100%" class="dynamic_image image-bordered grow shrink-0 basis-2xs rounded-2xl" src="{% static 'loading.svg' %}" data-src="{% static '/Main/img/theatr.webp' %}">
		</div>
		<div class="text">
			{% blocktrans %}
			В том же 2023 году я устроился машинистом сцены в Большой театр Беларуси. Хочу сказать это была моя самая интересная, и одновременно с этим, простая работа, на которой я когда-либо работал. Одновременно с работой я учился тому, как строить сайты, приложения и как их продвигать в поиске. Результат этого вы видите перед собой. 
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			После театра устроился на работу SEO-специалистом, не понравилось, уволился. Это всё 2024 год.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Что касается текущего момента, то сейчас я работаю в книжном магазине и готовлюсь к собеседованиям на python-разработчика.
			{% endblocktrans %}
		</div>
		{% include 'Engagement/Other/engagement_wide_container.html'%}
	</div>
</div>
{% endblock %}


{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/index.about.min.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'Main/js/index.about.min.js' %}"></script>
{% endblock %}
