{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}
{% load checkLocation %}

{% block head %}
	<title>{% trans "Тим зе Вебмастер - лаборатория разработки. Всё о проекте и направлениях деятельности этого проекта(автора)" %}</title>
	<meta name="description" content="{% trans "Всё о проекте, зачем он был создан, кто за ним стоит(Тима Чудук), основные направления деятельности (разработка программ, SEO, ИИ, история программировани, монетизация)" %}">
	<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{%url 'about'%}" />
	<!-- OpenGraph -->
	<meta property="og:title" content="{% trans "Тим зе Вебмастер - лаборатория разработки. Всё о проекте и направлениях деятельности этого проекта(автора)" %}" />
	<meta property="og:description" content="{% trans "Всё о проекте, зачем он был создан, кто за ним стоит(Тима Чудук), основные направления деятельности (разработка программ, SEO, ИИ, история программировани, монетизация)" %}" />
	<meta property="og:type" content="profile" />
	<meta property="og:profile:first_name" content="{% trans 'Тима' %}" />
	<meta property="og:profile:last_name" content="{% trans 'Чудук' %}" />
	<meta property="og:profile:username" content="TimTheWebmaster" />
	<meta property="og:profile:gender" content="male" />
	{% comment %}
	Здесь, чтобы можно было пройтись по нужным языкам, нужно ещё где-то хранить локации, пока в ручную
	{% endcomment %}
	{% if LANGUAGE_CODE == "ru" %}
		<meta property="og:locale" content="{{LANGUAGE_CODE}}_{{LANGUAGE_CODE|upper}}" />
	{% else %}
		<meta property="og:locale" content="{{LANGUAGE_CODE}}_US" />
	{% endif %}
	{% if LANGUAGE_CODE == "ru" %}
		<meta property="og:locale:alternate" content="en_US" />
	{% else %}
		<meta property="og:locale:alternate" content="ru_RU" />
	{% endif %}
	<meta property="og:site_name" content="TimTheWebmaster" />
	<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{%url 'about' %}" />
	<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'Main/img/TTW-background-1.webp' %}" />
	<meta property="og:image:type" content="image/webp" />
	<meta property="og:image:width" content="629" />
	<meta property="og:image:height" content="1200" />
	<meta property="og:image:alt" content="{% trans 'Человек(мужчина) в костюме, улыбается' %}" />
    <!-- /OpenGraph -->
	<!-- Scheme.ORG -->
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "ProfilePage",
		  "dateCreated": "2023-10-09T12:34:00-05:00",
		  "dateModified": "2026-03-05T14:53:00-05:00",
		  "mainEntity": {
			"@type": "Person",
			"@id": "https://{{domain_name}}{%url 'about'%}#person",
			"birthDate": "2000-07-16",
			"jobTitle": [
				"{% trans 'Веб-разработчик' %}", 
				"{% trans 'Системный администратор' %}"
			],
			"birthPlace": {
				"@type": "Place",
				"name": "Belarus"
			},
			"knowsAbout": [
				"Python",
				"Django",
				"C",
				"C++",
				"GLSL Shaders",
				"Web Scraping",
				"Telegram Bot Development",
				"System Administration",
				"Linux Server Automation",
				"Web Security"
			],
			"name": "{% trans 'Тима Чудук' %}",
			"alternateName": "{% trans 'Тим Зе Вебмастер' %}",
			"description": "{% trans 'Программист самоучка, который занимается тем, что разрабатывает веб-приложения, сайты, скрипты и работает в качестве системного администратора.' %}",
			"image": "{{ request.scheme }}://{{ request.get_host }}{% static '/Main/img/me1.jpg' %}",
			"sameAs": [
			  "https://www.reddit.com/user/DmRafaule/",
			  "https://www.instagram.com/timachedr/",
			  "https://www.youtube.com/channel/UC7Ucv36mX3KpDipzB6rxuoQ",
			  "https://github.com/DmRafaule"
			]
		  }
		}
	</script>
	<!-- /Scheme.ORG -->	
{% endblock %}

{% block content %}

<div class="justify-center flex flex-col w-full toObserve ttw-limiter">
	<div class="max-w-5xl self-center flex flex-col ttw-content">
		<div class="flex gap-3 flex-wrap mb-10">
			<div class="flex flex-col gap-2 grow shrink basis-2xs" style="flex: 1 1 300px;">
				<h1>{% trans "Всё о лаборатории разработки и авторе проекта Тима зе Вебмастера" %}</h1>
				<div>{% trans "Расскажу зачем была сделана данная лаборатория и чем она(я) занимаюсь. Так же немного об авторе данного проекта Тиме зе Вебмастере(он же Тима Чудук)" %}</div>
			</div>
			<div class="flex flex-col justify-between gap-2 grow shrink-0 basis-auto uppercase">
				<a href="{% url "articles-list" %}" class="basis-auto rounded-[8px] bg-main text-white">
					<div class="ttw-button ttw-button_link rounded-[8px]">
						<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2">{% trans "Посмотреть последние статьи" %}</div>
					</div>
				</a>
				<a href="{% url "tools-list" %}?page=1&tag={{internal_tool_tag}}" class="basis-auto rounded-[8px] bg-main text-white">
					<div class="ttw-button ttw-button_link rounded-[8px]">
						<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2">{% trans "Опробовать инструменты" %}</div>
					</div>
				</a>
				{% if isBTCPayDonationMiddlewareConnected %}
					{% with location=donation_link_locations|checkLocation:"MAIN-ABOVE-THE-FOLD" %}
						{% if location %}
							<a href="{{location.link}}" class="grow basis-auto rounded-[8px] bg-main text-white"  target="_blank" rel="noopener noreferrer nofollow">
								<div class="ttw-button ttw-button_donation rounded-[8px] h-full">
									<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2 h-full ref-donat_no-sign">
										<img src="{% static 'bitcoin-colored.svg' %}" >
										{% trans "Или поддержать проект" %}
									</div>
								</div>
							</a>
						{% else %}
							<a href="{% url 'home' %}" class="grow basis-auto rounded-[8px] bg-main text-white">
								<div class="ttw-button ttw-button_link rounded-[8px] h-full">
									<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2 h-full">
										{% trans "Или вернуться на главную" %}
									</div>
								</div>
							</a>
						{% endif %}
					{% endwith %}
				{% else %}
					<a href="{% url 'home' %}" class="grow basis-auto rounded-[8px] bg-main text-white">
						<div class="ttw-button ttw-button_link rounded-[8px] h-full">
							<div class="flex justify-center items-center text-center rounded-[8px] pt-2 pb-2 h-full">
								{% trans "Или вернуться на главную" %}
							</div>
						</div>
					</a>
				{% endif %}
			</div>
		</div>
		<h2 class="mt-10" id="author"><a href="#author" class="ref_hidden-int_no-sign">{% trans "Немного об авторе" %}</a></h2>
		<hr>
		<div class="flex gap-2 flex-wrap">
			<div class="grow shrink-0 basis-2xs">
				<div class="flex mt-4">
					{% blocktrans %}
					Занимаюсь тем, что разрабатываю телеграм ботов, парсеры сайтов, скрипты автоматизации на сервера и декстоп а так же создаю и 
					дорабатываю сайты на django. Чиню и публикую уже готовые сайты(на любом стеке) на просторах сети. 
					Я специализируюсь на бэкенд стороне проектов. Их архитектуре и зависимостях.
					{% endblocktrans %}
				</div>
				<div class="flex mt-4">
					{% blocktrans %}
					Родился я в Барановичах, Беларусь. Единственной достопримечательностью которого является ЖД вокзал. Не пойми не правильно, мне нравится этот город,
					просто даже этот маленький город слишком люден для меня.
					{% endblocktrans %}
				</div>
				<div class="flex mt-4">
					{% blocktrans %}
					В свободное время, либо катаюсь по городам на поездах и автостопом, либо занимаюсь программированием встроенных систем(то есть микроконтроллеров).
					{% endblocktrans %}
				</div>
			</div>
			<div class="flex flex-col p-3 basis-auto grow shrink-0 justify-center items-center">
				<img width="150px" height="100%" src="{% static '/Main/img/me1.jpg' %}" class="rounded-2xl border">
				<div>{% trans 'А это я' %}</div>
			</div>
		</div>
		<h2 class="mt-10" id="project"><a href="#project" class="ref_hidden-int_no-sign">{% trans "Немного о проекте" %}</a></h2>
		<hr>
		<div>
			{% blocktrans %}
			Этот проект, Лаборатория разработки, существует с той лишь целью, чтобы иметь мою личную платформу на которой я мог бы публиковать
			свои инструменты и программы. И рассаказывать об этом, в своих статьях.
			{% endblocktrans %}
		</div>
		<div>
			{% blocktrans %}
			Меня интересует достаточно много топиков и тем:
			{% endblocktrans %}
		</div>
		<div class="relative border-2 rounded-xl">
			<div id="carousel-buttons-2" class="absolute min-w-max flex gap-1 items-center justify-between w-full bottom-0 z-10">
				<div class="ttw-button ttw-button_action">
					<img class="ttw-button_squared bg-main slider-button prev" aria-label="no previous slide available" aria-disabled="true" src="{% static 'chevron_left.svg' %}" width="32" height="32" alt="{% trans "Предыдущая вкладка на табуляторе" %}">
				</div>
				<div class="ttw-button ttw-button_action">
					<img class="ttw-button_squared bg-main slider-button next" aria-label="Next slide" src="{% static 'chevron.svg' %}" width="32" height="32" alt="{% trans "Предыдущая вкладка на табуляторе" %}">
				</div>
			</div>
			<div class="carousel w-full overflow-y-auto grow shrink" style="min-height: 100px !important;" data-buttons-id="carousel-buttons-2">
				<div class="slide" aria-label="slide two of three" aria-hidden="false">
					{% blocktrans %}
					<div><b>Администрирование серверов</b> — управления и поддержание в рабочем состоянии серверной инфраструктуры, запуск сайтов, приложений,
					настройка почты, DNS.
					</div>
					{% endblocktrans %}
				</div>
				<div class="slide" aria-label="slide one of three" aria-hidden="true">
					<div>
					{% blocktrans %}
						<b>Реклама и монетизация</b> — как использовать рекламу на сайте и как ещё можно монетизировать онлайн проекты.
					{% endblocktrans %}
					</div>
				</div>
				<div class="slide" aria-label="slide two of three" aria-hidden="true">
					{% blocktrans %}
					<div><b>Django разработка</b> — разработка сайтов и веб-приложений на открытом фреймворке, на python.</div>
					{% endblocktrans %}
				</div>
				<div class="slide" aria-label="slide two of three" aria-hidden="true">
					{% blocktrans %}
					<div><b>Telegram разработка</b> — разработка телеграм ботов и приложений под них.</div>
					{% endblocktrans %}
				</div>
				<div class="slide" aria-label="slide two of three" aria-hidden="true">
					{% blocktrans %}
					<div><b>SEO(Поисковая оптимизация)</b> — оптимизация сайтов под поисковый системы (Google/Yandex).</div>
					{% endblocktrans %}
				</div>
				<div class="slide" aria-label="slide two of three" aria-hidden="true">
					{% blocktrans %}
					<div><b>Криптовалюты/блокчейн технологии</b> — считай независимые финансы, анонимность, в сети интернет.
					</div>
					{% endblocktrans %}
				</div>
				<div class="slide" aria-label="slide two of three" aria-hidden="true">
					{% blocktrans %}
					<div><b>История программирования</b> — изучения причин и следствий развития технологий в их нынешнем виде и состоянии.
					</div>
					{% endblocktrans %}
				</div>
			</div>
		</div>
		<div>
			{% blocktrans %}
			Это конечно же не значит, что я ограничусь именно этими топиками. В будущем появятся новые, обязательно.
			{% endblocktrans %}
		</div>
		<div class="mt-10"></div>
	</div>
</div>
{% endblock %}


{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/index.about.min.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'Main/js/index.about.min.js' %}"></script>
{% endblock %}
