{% load static%}
{% load i18n %}
{% load urlToBreadcrumbs %}
{% load urlToList %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block head %}
	{% endblock %}
	<link rel="icon" href="https://{{domain_name}}/favicon.svg" type="image/svg+xml">
	<link rel="icon" href="https://{{domain_name}}/favicon.ico" sizes="32x32" type="image/x-icon">
	{% get_available_languages as LANGUAGES %}
	{% get_language_info_list for LANGUAGES as languages %}
	{% with LC_WITH_SLASHES_ON_EDGES="/"|add:LANGUAGE_CODE|add:"/" %}
		{% with new_url=request.get_full_path|cut:LC_WITH_SLASHES_ON_EDGES %}
			{% for language in languages %}
				<link rel="alternate" href="https://{{domain_name}}/{{language.code}}/{{new_url}}"  hreflang="{{language.code}}" >
			{% endfor %}
			<link rel="alternate" href="https://{{domain_name}}/ru/{{new_url}}"  hreflang="x-default" >
		{% endwith %}
	{% endwith %}
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{% for item in request.get_full_path|urlToBreadcrumbs %}
				{% if forloop.counter == request.get_full_path|urlToList|length%}
				{
					"@type": "ListItem",
					"position": {{item.level}},
					"name": "{{item.name}}",
					"item": "https://{{domain_name}}{{item.url|safe}}"
				}
				{% else %}
				{
					"@type": "ListItem",
					"position": {{item.level}},
					"name": "{{item.name}}",
					"item": "https://{{domain_name}}{{item.url|safe}}"
				},
				{% endif %}
				{% endfor %}
			]
		}
	</script>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/index.min.css' %}"/>
	{% block styles %}
	{% endblock %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9ND0H16BPP"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-9ND0H16BPP');
	</script>
	<!-- /Google tag (gtag.js) -->
	
 	<!-- Yandex.Metrika counter --> <script type="text/javascript">     (function(m,e,t,r,i,k,a){         m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};         m[i].l=1*new Date();         for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}         k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)     })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=95199635', 'ym');      ym(95199635, 'init', {ssr:true, webvisor:true, trackHash:true, clickmap:true, accurateTrackBounce:true, trackLinks:true}); </script> <noscript><div><img src="https://mc.yandex.ru/watch/95199635" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->   

</head>
<body class="flex flex-col overflow-auto h-full">
	<header class="sticky top-0 flex p-1 z-50">
		<div class="grow-0 shrink ttw-button_swap" data-body="nav">
			<div class="ttw-button ttw-button_action ttw-button_swap_front ttw-sidebar_button_open" data-body="nav">
				<img class="ttw-button_squared" width="32" height="32" src="{% static 'menu.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
			<div class="ttw-button ttw-button_action ttw-button_swap_back ttw-sidebar_button_close ttw-button_swap_not_active" data-body="nav">
				<img class="ttw-button_squared" width="32" height="32" src="{% static 'close_white.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
		</div>
		{% block hat %}
		{% endblock %}
		<div id="header-buttons-splitter" class="grow shrink">
		</div>
		<div class="grow-0 shrink ttw-button_swap" data-body="ads">
			<div class="ttw-button ttw-button_action ttw-button_swap_front ttw-sidebar_button_open" data-body="ads">
				<img class="ttw-button_circle" width="32" height="32" src="{% static 'ads.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
			<div class="ttw-button ttw-button_action ttw-button_swap_back ttw-sidebar_button_close ttw-button_swap_not_active" data-body="ads">
				<img class="ttw-button_circle" width="32" height="32" src="{% static 'close_white.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
		</div>
		<div class="grow-0 shrink ttw-button_swap" data-body="cookies">
			<div class="ttw-button ttw-button_action ttw-button_swap_front ttw-sidebar_button_open" data-body="cookies">
				<img class="ttw-button_circle" width="32" height="32" src="{% static 'cookie.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
			<div class="ttw-button ttw-button_action ttw-button_swap_back ttw-sidebar_button_close ttw-button_swap_not_active" data-body="cookies">
				<img class="ttw-button_circle" width="32" height="32" src="{% static 'close_white.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
		</div>
		<div class="grow-0 shrink ttw-button_swap ttw-button_swap_not_close_on_outsite">
			{% get_available_languages as LANGUAGES %}
			{% get_language_info_list for LANGUAGES as languages %}
			{% for language in languages %}
				{% if language.code == LANGUAGE_CODE %}
					<div class="ttw-button ttw-button_link ttw-button_swap_back ttw-button_swap_not_active">
						<a href="/{{language.code}}{{ request.get_full_path|cut:"ru/"|cut:"en/" }}"><img class="ttw-button_circle" width="32" height="32" src="{% static '' %}{{language.code}}.svg" alt="{% trans '3 горизонтальные линии, бургер' %}"></a>
					</div>
				{% else %}
					<div class="ttw-button ttw-button_link ttw-button_swap_front">
						<a href="/{{language.code}}{{ request.get_full_path|cut:"ru/"|cut:"en/" }}"><img class="ttw-button_circle" width="32" height="32" src="{% static '' %}{{language.code}}.svg" alt="{% trans '3 горизонтальные линии, бургер' %}"></a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="grow-0 shrink ttw-button ttw-button_link">
			<a href="{% url 'home' %}">
				<img class="ttw-button_circle"  width="32" height="32" src="{% static 'favicon.svg' %}" alt="{% trans 'Главная иконка сайта' %}">
			</a>
		</div>
	</header>
	<main class="flex flex-col flex-auto grow shrink overflow-x-hidden">
		<toaster>
			<div class='toaster-container flex flex-col gap-2 p-2'>
				<fieldset class="toaster-blank toaster toaster-inactive">
					<p class="toaster_text"></p>
					<legend class="flex gap-2 items-center">
						<div class="ttw-button ttw-button_action ttw-button_squared bg-main remove_one_action">
							<img class="ttw-button_squared" width="16" height="16" src="{% static 'close_white.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
						</div>
						<div class="ttw-button ttw-button_action ttw-button_squared bg-main remove_all_action text-white">
							<div class=" ttw-button_squared p-2">
							{% trans "Удалить все" %}
							</div>
						</div>
					</legend>
				</fieldset>
			</div>
		</toaster>
		<loader>
			<div id="loader_overlay" class="loader_overlay"></div>
			{% include 'Main/loader.html' %}
		</loader>
		<nav id="nav" class="ttw-sidebar_body ttw-sidebar_body_left ttw-sidebar_body_not_active p-1 justify-between flex flex-col text-center">
			<div>
				<hr>
			</div>
			<ul class="list_without_sign flex flex-col items-center">
				<li class="ttw-button ttw-button_link"><a class="" href="{% url 'home'%}"><p><h3>{% trans "Домашняя" %}</h3></p></a></li>
				<li class="ttw-button ttw-button_link"><a class="" href="{% url 'about'%}"><p><h3>{% trans "Об авторе" %}</h3></p></a></li>
				{% for cat_spec in categories_special %}
				<li class="ttw-button ttw-button_link"><a class="" href="{{ cat_spec.get_absolute_url }}"><p><h3>{{cat_spec.name}}</h3></p></a></li>
				{% endfor %}
			</ul>
			<div>
				<hr>
				<div class="min-h-[50px]"></div>
			</div>
		</nav>
		<div id="cookies" class="ttw-sidebar_body ttw-sidebar_body_right ttw-sidebar_body_not_active p-1 justify-between flex flex-col">
			<div class="text-center">
				<h2>{% trans "Про куки" %}</h2>
				<hr>
			</div>
			<div class="flex flex-col gap-4 text-justify p-2 overflow-auto">
				<div>
				{%    blocktrans %}
				Все куки могут быть поделены на необходимые, без которых работа сайта невозможна, и на опциональные, которые не влияют на работу этого сайта. 
				{% endblocktrans %}
				</div>
				<div>
				{%    blocktrans %}
				Вот все необходимые куки, которые использует мой сайт:
				{% endblocktrans %}
				</div>
				<ul style="margin-top: 0;">
				{%    blocktrans %}
					<li><i>Аутентификационные</i> - Есть, но они только для меня ^_____^</li>
					<li><i>Сессионные куки</i> - Так, например, RSSReader знает, кому и что отдавать</li>
					<li><i>Куки безопастности</i> - <b>CSRF токен</b> относится к нему</li>
				{% endblocktrans %}
				</ul>
				<div>
				{%    blocktrans %}
					А вот все опциональные куки, которые использует мой сайт:
				{% endblocktrans %}
				</div>
				<ul style="margin-top: 0;">
				{%    blocktrans %}
					<li>Куки аналитики (Яндекс Метрика, Google Analitycs)</li>
				{% endblocktrans %}
				</ul>
				<div>
				{%    blocktrans %}
				Продолжая использовать наш сайт, Вы соглашаетесь на обработку файлов <b>куки</b>, которые были перечислены выше.
				{% endblocktrans %}
				</div>
			</div>
			<div>
				<hr>
				<div class="min-h-[50px]"></div>
			</div>
		</div>
		<div id="ads" class="ttw-sidebar_body ttw-sidebar_body_right ttw-sidebar_body_not_active p-1 justify-between flex flex-col">
			<div class="text-center">
				<h2>{% trans "Про рекламу и монетизацию" %}</h2>
				<hr>
			</div>
			<div class="flex flex-col gap-4 text-justify p-2">
				<div>
				{%    blocktrans %}
					На моём сайте присутствует реклама, используется рекламная сеть Яндекс, пока в качестве эксперимента. 
					Все рекламные блоки отмечены вот такой вот иконкой:
				{% endblocktrans %}
					<span><img class="svg_icon_inverted" width="16px" height="16px" src="{% static "ads.svg" %}"></span>
				</div>
				<div>
				{%    blocktrans %}
					Так же на моём сайте располагаются партнёрские программы, от тех рекламодателей инструменты и сервисы 
					которых я сам использую или опробовал, и хочу порекомендовать.
				{% endblocktrans %}
				</div>
				<span>
				{%    blocktrans %}
					Все партнёрские ссылки отмечены вот такой вот иконкой
				{% endblocktrans %}
					<span><img class="svg_icon_inverted" width="16px" height="16px" src="{% static "Affiliate/img/partner.svg" %}"></span>
				</span>
				<div class="ref">
				{%    blocktrans %}
					Я бы хотел сделать ставку на так называемую freeminimum модель монетизации. 
					Где платят за пользование, в той или иной форме, программным обеспечением.
					Более подробно <a href="/ru/articles/?page=1&tag=delat-dengi">о способах монетизации сайтов</a> в общем, и моих сайтов в частности.
				{% endblocktrans %}
				</div>
			</div>
			<div>
				<hr>
				<div class="min-h-[50px]"></div>
			</div>
		</div>
		{% block hat_body %}
		{% endblock %}
		<aside class="sticky-container sticky-container-left lg:block">
			{% block aside_left %}
			{% endblock %}
		</aside>
		{% block content %}
		{% endblock %}
		<aside class="sticky-container sticky-container-right lg:block">
			{% block aside_right %}
			{% endblock %}
		</aside>
		<modal class="not_active_modal">
			<div id='modal-window' class="modal-window flex flex-col gap-2">
				<div class="flex gap-3">
					<div id="context-loader-load_into_modal" class="context-loader">
						{% include 'Main/loader.html'%}
					</div>
					<div class="grow shrink basis-3"></div>
					<div>
						<div class="p-0 ttw-button_action self-end">
							<img id='close_modal' width="32" height="32" class="bg-main rounded-bl-lg" src="{% static 'close_white.svg' %}" alt="{% trans 'Крестик' %}">
						</div>
					</div>
				</div>
				<div id='modal-content' class="p-2">
				</div>
			</div>
		</modal>
	</main>
	<dock class="z-20">
		{% block dock %}
		{% endblock %}
	</dock>
	<footer class="p-2.5 flex flex-col items-center gap-5 z-20">
		{% block footer %}
		{% endblock %}
		<div class="max-w-7xl flex flex-row gap-7 justify-around w-full flex-wrap">
			<div class="flex flex-col">
				<div>
					<b>{% trans "Популярные ссылки" %}</b>
				</div>
				<ul class="list_without_sign">
				{% block footer_links %}
				{% endblock %}
				</ul>
			</div>
			<div class="flex flex-col gap-7 grow shrink-0 basis-72">
				<div class="flex flex-row grow shrink-0 flex-auto justify-between">
					<div class="flex flex-col">
						<div>
							<b>{% trans "Другие ссылки" %}</b>
						</div>
						<ul class="list_without_sign">
							<li class="ref"><a href="/sitemap.xml">{% trans "Карта сайта" %}</a></li>
							<li class="ref"><a href="{% url 'about' %}">{% trans "Об авторе" %}</a></li>
						</ul>
					</div>
					<div class="flex flex-col gap-7">
						<div>
							<b>{% trans "Контакты" %}</b>
						</div>
						<div class="flex flex-row flex-wrap gap-1">
							{% for contact in contacts %}
							<div class="ttw-button ttw-button_link">
								<a target="_blank" rel="contact" rev="{{contact.description}}" href="{{contact.url}}" >
									<img class="ttw-button_squared" width="32" height="32" src="{% get_media_prefix %}{{contact.icon}}" alt="{{ contact.name }} {% trans 'иконка' %}">
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="flex flex-col gap-3">
					<div>
						<b>{% trans "Кратко о сайте" %}</b>
					</div>
					<div>
						{% blocktrans %}
						Данный сайт был создан в исключительно развлекательно-позновательном ключе. Он не несёт какой-либо специальной цели или миссии в пространстве интернета. Разве только общения и раскрытия интересных автору тем, которые, конечно же, могут и будут меняться со временем.
						{% endblocktrans %}
					</div>
				</div>
			</div>
		</div>
		<div>
			Copywrite @ {% now "Y"%} Tim the Webmaster
		</div>
	</footer>


    <!-- This is for knowing where to look for an images-->
    {% csrf_token %}
    <script>
		var DOMAIN_NAME = "{{domain_name}}"
        var PATH = "{% static .%}"
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            {% if language.code == LANGUAGE_CODE %}
				const language_code = "{{ language.code }}" 	
			{% endif %}
        {% endfor %}
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
	<script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'Main/js/index.min.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>
