{% extends 'Main/base.html' %}
{% load i18n%}
{% load static%}

{% block head %}
	<title>{% trans "Тим, Вебмастер и его контакты" %}</title>
	<meta name="description" content="{% trans "Тим, Вебмастер. Его контактные данные, ссылки на соцсети, почта и форма обратной связи" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'contacts'%}" />
{% endblock %}

{% block content %}
<div class="contact_limiter in_middle in_middle-self no_wrap padder">
	{% if feedback_message|length > 0 %}
	<div class="notification">
		{{ feedback_message }}
	</div>
	{% endif %}
	<h1>{% trans "Тим Вебмастер, его контакты и обратная связь" %}</h1>
	<div class="row in_middle-farapart mid_gap">
		<div class="el-expandable el-half">
			<h2 class="paragraph">{% trans "Я в социальных сетях" %}</h2>
			<ul class="list_without_sign max_gap column">
				{% for contact in contacts %}
					<div class="row mid_gap no_wrap">
					<li>
						<a target="_blank" rel="contact" rev="{{contact.description}}" href="{{contact.url}}" >
							<img width="32" height="32" class="icon button squered_button dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% get_media_prefix %}{{contact.icon}}" alt="{{ contact.name }} {% trans 'иконка' %}">
						</a>
					</li>
					<div>{{ contact.description }}</div>
					</div>
				{% endfor %}
			</ul>
		</div>
		<div class="el-expandable">
			<h2 class="paragraph">{% trans "Форма для обратной связи"%}</h2>
			<form action="" method="post">
				{% csrf_token %}
				{% for field in form %}
					<div>
						{{ field }}
					</div>
					{% for error in field.errors %}
					<p class="form_error">{{ error }}</p>
					{% endfor %}	
				{% endfor %}
				<div class="rules">
					<ul class="list_without_sign">
						<li>{% trans "Имя должно состоять от 3 до 25 букв" %}</li>
						<li>{% trans "Email должен быть настоящим" %}</li>
					</ul>
				</div>
				<input id="feedback" class="button squered_button action_button" type="submit" value="{% trans "Отправить" %}">
			</form> 
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/index.main.min.css' %}"/>
{% endblock %}


{% block scripts %}
{% endblock %}
