{% extends 'Main/base.html' %}
{% load i18n %}
{% load static%}


{% block head %}
	<title>{% trans "Тим, вебмастер" %}</title>
	<meta name="description" content="{% trans "Вебмастер Тим, он занимается разработкой сайтов на django, написанием тг ботов, скриптов и парсеров, а также выполняет заказы по копирайту"%}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'home'%}" />
{% endblock %}

{% block content %}
<div class="justify-center flex flex-col w-full toObserve ttw-limiter">
	<div class="max-w-7xl self-center flex flex-col ttw-content">
		<h1 class="ttw-title" >{% trans "Тим Вебмастер" %}</h1>
		<div class="flex flex-col gap-5">
			<div class="flex gap-5 flex-wrap">
				<div class="flex flex-col justify-between gap-5 grow-[7] shrink basis-2xs">
					<div class="border-r-2 border-solid">
						<h2>{% trans "Инструменты" %}</h2>
						<hr>
						<div class="tabs">
							{% for res in my_resources %}
								{% if forloop.counter == 1 %}
								<div class="tab_button tab_active" data-bodyid="{{forloop.counter}}">
									<div>
										<h3>{{res.title}}</h3>
									</div>
								</div>
								{% else %}
								<div class="tab_button" data-bodyid="{{forloop.counter}}">
									<div>
										<h3>{{res.title}}</h3>
									</div>
								</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="tab_body">
							{% for res in my_resources %}
								{% if forloop.counter == 1 %}
								<div id="tab_body-{{forloop.counter}}" class="tab_element  tab_element__active">
									<div class="flex flex-row items-start flex-wrap gap-5">
										<div class="flex flex-row flex-wrap gap-5 grow basis-2xl p-2">
											<img width="300px" class="max-w-2xs" src="{% get_media_prefix %}{{internal_tools_preview}}">
											{% include 'Post/basic--post_preview-tool.html' with posts=res.objs %}
										</div>
									</div>
									<div class="flex justify-end">
										<div class="ttw-button ttw-button_link bg-main text-white rounded-tl-xl rounded-bl-xl ref_hidden_no-sign">
											<a href="{% url 'tools-list' %}?page=1&tag={{res.tag}}">
												<p class="rounded-tl-xl rounded-bl-xl p-2">
												{% trans 'Больше ...' %}
												</p>
											</a>
										</div>
									</div>
								</div>
								{% else %}
								<div id="tab_body-{{forloop.counter}}" class="tab_element">
									<div class="flex flex-row items-start flex-wrap gap-5">
										<div class="flex flex-row p-2 flex-wrap gap-5 grow basis-2xl">
											<img width="300px" class="max-w-2xs" src="{% get_media_prefix %}{{internal_tools_preview}}">
											{% include 'Post/basic--post_preview-tool.html' with posts=res.objs %}
										</div>
									</div>
									<div class="flex justify-end">
										<div class="ttw-button ttw-button_link bg-main text-white rounded-tl-xl rounded-bl-xl ref_hidden_no-sign">
											<a href="{% url 'tools-list' %}?page=1&tag={{res.tag}}">
												<p class="rounded-tl-xl rounded-bl-xl p-2">
												{% trans 'Больше ...' %}
												</p>
											</a>
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					{% if isAffiliateLinkMiddlewareConnected and affiliates_partners|length > 0 %}
					<div class="border-r-2 border-solid">
						<h2>{% trans "Партнёры" %}</h2>
						<hr>
						<div class="flex flex-col p-2 gap-3 grow basis-2xl">
							{% include 'Affiliate/affiliate.html' with affiliates=affiliates_partners %}
						</div>
					</div>
					{% endif %}
					<div class="border-r-2 border-solid">
						<h2>{% trans "Статьи" %}</h2>
						<hr>
						<div class="tabs">
							<div class="tab_button tab_active" data-bodyid="1">
								<h3>{% trans "Последние статьи" %}</h3>
							</div>
							{% for oth in other_articles %}
								<div class="tab_button" data-bodyid="{{forloop.counter|add:1}}">
									<h3>{{oth.title}}</h3>
								</div>
							{% endfor %}
						</div>
						<div class="tab_body">
							<div id="tab_body-1" class="tab_element tab_element__active">
								<div class="flex flex-row items-start flex-wrap gap-5 " >
									<div class="flex flex-row p-2 flex-wrap gap-5 grow basis-2xl">
										<img width="300px" class="max-w-2xs" src="{% get_media_prefix %}{{articles_preview}}">
										{% include 'Post/basic--post_preview-article.html' with posts=most_popular_article_posts %}
									</div>
								</div>
								<div class="flex justify-end">
									<div class="ttw-button ttw-button_link bg-main text-white rounded-tl-xl rounded-bl-xl ref_hidden_no-sign">
										<a href="{% url 'articles-list' %}">
											<p class="rounded-tl-xl rounded-bl-xl p-2">
											{% trans 'Больше ...' %}
											</p>
										</a>
									</div>
								</div>
							</div>
							{% for oth in other_articles %}
								<div id="tab_body-{{forloop.counter|add:1}}" class="tab_element">
									<div class="flex flex-row items-start flex-wrap gap-5">
										<div class="flex flex-row p-2 flex-wrap gap-5 grow basis-2xl">
											<img width="300px" class="max-w-2xs" src="{% get_media_prefix %}{{articles_preview}}">
											{% include 'Post/basic--post_preview-article.html' with posts=oth.objs %}
										</div>
									</div>
									<div class="flex justify-end">
										<div class="ttw-button ttw-button_link bg-main text-white rounded-tl-xl rounded-bl-xl ref_hidden_no-sign">
											<a href="{% url 'articles-list' %}?page=1&tag={{oth.tag}}">
												<p class="rounded-tl-xl rounded-bl-xl p-2">
												{% trans 'Больше ...' %}
												</p>
											</a>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="flex flex-col flex-nowrap grow shrink-0 basis-2xs">
					<div class="border-r-2 border-solid h-full">
						<h2>{% trans "Заметки" %}</h2>
						<hr>
						<div class="p-2">
							{% blocktrans %}
							Это блок всех последних заметок, написанных мной. 
							{% endblocktrans %}
						</div>
						<hr>
						<div class="flex flex-col gap-5 grow shrink-0 basis-1/2">
							<div>
								<img class="max-w-2xs" src="{% get_media_prefix %}{{notes_preview}}">
							</div>
							{% include 'Post/basic--post_preview-note.html' with posts=latest_notes_posts %}
						</div>
					</div>
					<div class="flex justify-end">
						<div class="ttw-button ttw-button_link bg-main text-white rounded-tl-xl rounded-bl-xl ref_hidden_no-sign">
							<a href="{% url 'notes-list' %}">
								<p class="rounded-tl-xl rounded-bl-xl p-2">
								{% trans 'Больше ...' %}
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="flex flex-col gap-3 border-r-2 border-solid">
				{% if isEngagementMiddlewareConnected %}
				<h2>{% trans "Комментарии" %}</h2>
				<hr>
				<div>
					{% blocktrans %}
					Тут я собираю все последние комментарии на сайте.
					{% endblocktrans %}
				</div>
				<div class="flex gap-5 p-2">
					<div class="masonry grow shrink-0 basis-1/2">
						{% include 'Engagement/Commenting/comments.html' with from="home" %}
					</div>
				</div>
				<div class="absolute gap-2 top-[0] right-[0] basis-1/3" style="display: none;"></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/index.main.min.css' %}"/>
	{% if isAffiliateLinkMiddlewareConnected %}
		{% include 'Affiliate/affiliate_styles.html' %}
	{% endif %}
{% endblock %}

{% block scripts %}
	<script>
		var STATIC = "{% static '.' %}"
	</script>
    <script src="{% static 'Main/js/index.main.min.js' %}"></script>
	{% if isAffiliateLinkMiddlewareConnected %}
		{% include 'Affiliate/affiliate_scripts.html' %}
	{% endif %}
{% endblock %}
