{% extends 'Main/base.html' %}
{% load i18n %}
{% load static%}


{% block head %}
	<title>{% trans "Тим, вебмастер" %}</title>
	<meta name="description" content="{% trans "Вебмастер Тим, он занимается разработкой сайтов на django, написанием тг ботов, скриптов и парсеров, а также выполняет заказы по копирайту"%}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'home'%}" />
{% endblock %}

{% block content %}
<div class="limiter in_middle in_middle-self no_wrap padder">
	<div class="row in_middle">
		<h1 class="home_title" >{% trans "Тим Вебмастер" %}</h1>
		<canvas id='canvas' class="canvas_as_element" data-vertex-shader="{% static "WebGLEngine/shaders/home_gik.vert" %}" data-fragment-shader="{% static "WebGLEngine/shaders/home_gik.frag" %}"></canvas>
	</div>
	<div class="column in_middle-even max_gap">

		<div class="row max_gap">
			<div class="column in_middle-farapart max_gap el-expandable el-shrinkable el-300-min-basis ">
				<div class="home_main_block">
					<h2>{% trans "Инструменты" %}</h2>
					<hr class="home_hr_before_tab">
					<div class="tabs tabs-full-width">
						{% for res in my_resources %}
							{% if forloop.counter == 1 %}
							<div class="tab_button tab_active" data-bodyid="{{forloop.counter}}">
								<h3>{{res.title}}</h3>
							</div>
							{% else %}
							<div class="tab_button" data-bodyid="{{forloop.counter}}">
								<h3>{{res.title}}</h3>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="tab_body">
						{% for res in my_resources %}
							{% if forloop.counter == 1 %}
							<div id="tab_body-{{forloop.counter}}" class="tab_element  tab_element__active">
								<div class="post_previews--category mid_gap el-expandable el-no_shrinkable el-half on_start_other">
									<div class="post_preview row ">
										<img class="image" src="{% get_media_prefix %}{{internal_tools_preview}}">
									</div>
									{% include 'Post/basic--post_preview-tool.html' with posts=res.objs %}
								</div>
								<a class="see_more_button white_text_button " href="{% url 'tools-list' %}?page=1&tag={{res.tag}}">
									<div class="button action_button">
										{% trans 'Больше ...' %}
									</div>
								</a>
							</div>
							{% else %}
							<div id="tab_body-{{forloop.counter}}" class="tab_element">
								<div class="row ">
									<div class="post_previews--category mid_gap el-expandable el-no_shrinkable el-half on_start_other">
										<div class="post_preview row ">
											<img class="image" src="{% get_media_prefix %}{{internal_tools_preview}}">
										</div>
										{% include 'Post/basic--post_preview-tool.html' with posts=res.objs %}
									</div>
								</div>
								<a class="see_more_button white_text_button " href="{% url 'tools-list' %}?page=1&tag={{res.tag}}">
									<div class="button action_button">
										{% trans 'Больше ...' %}
									</div>
								</a>
							</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="home_main_block">
					<h2>{% trans "Статьи" %}</h2>
					<hr class="home_hr_before_tab">
					<div class="tabs tabs-full-width">
						<div class="tab_button tab_active" data-bodyid="1">
							<h3>{% trans "Последние статьи" %}</h3>
						</div>
						{% for oth in other_articles %}
							<div class="tab_button" data-bodyid="{{forloop.counter|add:1}}">
								<h3>{{oth.title}}</h3>
							</div>
						{% endfor %}
					</div>
					<div class="tab_body">
						<div id="tab_body-1" class="tab_element tab_element__active">
							<div class="row " style="flex-wrap: wrap-reverse;">
								<div class="post_previews--category-forNews mid_gap  el-expandable el-no_shrinkable el-half">
									<div class="post_preview row ">
										<img class="image"  src="{% get_media_prefix %}{{articles_preview}}">
									</div>
									{% include 'Post/basic--post_preview-article.html' with posts=most_popular_article_posts %}
								</div>
							</div>
							<a class="see_more_button white_text_button " href="{% url 'articles-list' %}">
								<div class="button action_button">
									{% trans 'Больше ...' %}
								</div>
							</a>
						</div>
						{% for oth in other_articles %}
							<div id="tab_body-{{forloop.counter|add:1}}" class="tab_element">
								<div class="row " style="flex-wrap: wrap-reverse;">
									<div class="post_previews--category row mid_gap el-expandable el-no_shrinkable el-half">
										<div class="post_preview row ">
											<img class="image" src="{% get_media_prefix %}{{articles_preview}}">
										</div>
										{% include 'Post/basic--post_preview-article.html' with posts=oth.objs %}
									</div>
								</div>
								<a class="see_more_button white_text_button " href="{% url 'articles-list' %}?page=1&tag={{oth.tag}}">
									<div class="button action_button">
										{% trans 'Больше ...' %}
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="no_wrap el-no_expandable el-no_shrinkable el-300-min-basis" style="display: flex; flex-direction: column">
				<div class="home_main_block full_height">
					<h2>Услуги</h2>
					<hr>
					<div class="post_previews--category mid_gap el-expandable el-no_shrinkable el-half on_start_other">
					{% include 'Post/basic--post_preview-service.html' with posts=services %}
					</div>
				</div>
				<a class="see_more_button white_text_button on_end" href="{% url 'services-list' %}">
					<div class="button action_button">
						{% trans 'Больше ...' %}
					</div>
				</a>
			</div>
		</div>

		<div class="home_main_block">
			{% if isEngagementMiddlewareConnected %}
			<h2 class="">{% trans "Комментарии" %}</h2>
			<hr>
			<div class="description_text padder">
				{% blocktrans %}
				Тут я собираю все последние комментарии на сайте.
				{% endblocktrans %}
			</div>
			<div class="row max_gap">
				<div class="post_previews--category-forSeries mid_gap  el-expandable el-no_shrinkable el-half">
					{% include 'Engagement/comments.html' with from="home" %}
				</div>
			</div>
			{% endif %}
		</div>

		<div class="home_main_block">
			<h2 class="">{% trans "Заметки" %}</h2>
			<hr>
			<div class="description_text padder">
				{% blocktrans %}
				Это блок всех последних заметок, написанных мной. Заметки, в моём случае можно считать неким журналом, где я могу отметить те или иные события
				произошедшие со мной или с сайтом. Просто, иногда хочется что-нибудь написать, но создавать для 5 строчек отдельную статью ... Я считаю это перебором.
				{% endblocktrans %}
			</div>
			<div class="post_previews--category-forSeries mid_gap  el-expandable el-no_shrinkable el-half on_start_other">
				<div class="post_preview row ">
					<img class="image" src="{% get_media_prefix %}{{notes_preview}}">
				</div>
				{% include 'Post/basic--post_preview-note.html' with posts=latest_notes_posts %}
			</div>
			<a class="see_more_button white_text_button on_end" href="{% url 'notes-list' %}">
				<div class="button action_button">
					{% trans 'Больше ...' %}
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/tabs.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'Post/css/posts_preview.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/home.css' %}"/>
	{% if isEngagementMiddlewareConnected %}
		<link type="text/css" rel="stylesheet" href="{% static 'Engagement/css/comments.css' %}"/>
	{% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
		var STATIC = "{% static . %}"
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'Post/js/tabs.js' %}"></script>
	<!-- Простой 3д рендерер для сайта -->
    <script src="{% static 'WebGLEngine/js/webgl_engine_v1.js' %}"></script>
	<script src="{% static 'WebGLEngine/shaders/shader-simple_pcp.js' %}"></script>
	<!-- Скрипт для рендеринга на определённом канвасе -->
    <script src="{% static 'WebGLEngine/js/home_gik.js' %}"></script>
{% endblock %}
