{% extends 'Main/base.html' %}
{% load i18n %}
{% load static%}
{% load checkLocation %}

{% get_current_language as LANGUAGE_CODE %}
{% block head %}
	<title>{% trans "Страница тестирования и хранения моих UI элементов" %}</title>
	<meta name="description" content="{% trans "Просто страница наборов UI элементов, которые используются или могут использоваться на сайте" %}">
	<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'ui-website' %}" />
	<!-- OpenGraph -->
	<meta property="og:title" content="{% trans "Страница тестирования и хранения моих UI элементов" %}" />
	<meta property="og:description" content="{% trans "Просто страница наборов UI элементов, которые используются или могут использоваться на сайте" %}" />
	<meta property="og:type" content="website" />
	{% comment %}
	Здесь, чтобы можно было пройтись по нужным языкам, нужно ещё где-то хранить локации, пока в ручную
	{% endcomment %}
	{% if LANGUAGE_CODE == "ru" %}
		<meta property="og:locale" content="{{LANGUAGE_CODE}}_{{LANGUAGE_CODE|upper}}" />
	{% else %}
		<meta property="og:locale" content="{{LANGUAGE_CODE}}_US" />
	{% endif %}
	{% if LANGUAGE_CODE == "ru" %}
		<meta property="og:locale:alternate" content="en_US" />
	{% else %}
		<meta property="og:locale:alternate" content="ru_RU" />
	{% endif %}
	<meta property="og:site_name" content="TimTheWebmaster" />
	<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'ui-website' %}" />
	<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'Main/img/TTW-background-1.webp' %}" />
	<meta property="og:image:type" content="image/webp" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="750" />
	<meta property="og:image:alt" content="{% trans 'Оранжевые волны, огибающие белый фон' %}" />
    <!-- /OpenGraph -->
{% endblock %}

{% block content %}

{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/index.main.min.css' %}"/>
{% endblock %}

{% block scripts %}
	<script>
		var STATIC = "{% static '.' %}"
	</script>
    <script src="{% static 'Main/js/index.main.min.js' %}"></script>
{% endblock %}
