@import '../../../../Main/static/Components/Blocks/image.css'; 
@import '../../../../Main/static/Components/Blocks/icon.css'; 
@import "../../../../Main/static/Components/Blocks/tag.css";
@import "../../../../Main/static/Components/Blocks/Codeblock/microlight.css";
@import "../../../../Main/static/Components/Base/ImagePreviewer/image_previewer.css";
@import '../../../../Main/static/Components/Containers/TableOfContent/table_of_content.css';
@import "../../../../Main/static/Components/Containers/Dropdown/dropdown.css";
@import "../../../../Main/static/Components/Containers/Tabs/tabs.css";
@import "../../../../Main/static/Components/Containers/table.css";
@import "../../../../Main/static/Components/Buttons/Download/button_download.css";
@import "../../../../Main/static/Components/Blocks/attention.css";
@import "../../../../Main/static/Components/Blocks/video.css";
@import "../../../../Main/static/Components/Blocks/text.css";
@import "tailwindcss";
@tailwind utilities;

.post-content-root{
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 8px;
  box-shadow: -5px -5px 0px 0px var(--secondary_color), -10px -7px 0px 0px #00000057, -17px -10px 0px 0px #04040433;
}
