@import '../../../../Main/static/Components/Blocks/image.css'; 
@import '../../../../Main/static/Components/Blocks/icon.css'; 
@import "../../../../Main/static/Components/Blocks/tag.css";
@import "../../../../Main/static/Components/Blocks/Codeblock/microlight.css";
@import "../../../../Main/static/Components/Base/ImagePreviewer/image_previewer.css";
@import "../../../../Main/static/Components/Containers/Dropdown/dropdown.css";
@import "../../../../Main/static/Components/Containers/Tabs/tabs.css";
@import "../../../../Main/static/Components/Containers/table.css";
@import "../../../../Main/static/Components/Buttons/Download/button_download.css";
@import "../../../../Main/static/Components/Blocks/attention.css";
@import "../../../../Main/static/Components/Blocks/video.css";
@import "../../../../Main/static/Components/Blocks/text.css";
@import '../../../../Main/static/Components/Containers/Carousel/carousel.css'; 
@import "tailwindcss";
@tailwind utilities;

.post-content-root{
  width: 100%;
}
