
.home_ui_el {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    min-width: 300px;
    background-color: #ffffff29;
    border-radius: 10px;
    padding: 5px;
}

.post_previews--category, .post_previews--category-forNews, .post_previews--category-forSeries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid var(--main_color);
    border-right: 2px solid var(--main_color);
    padding: 8px;
    border-top-right-radius: 10px;
}

.post_preview {
    margin-top: 0;
}

.see_more_button {
    display: flex;
    align-self: self-end;
}
.action_button {
    background-color: var(--secondary_color);
    padding: var(--button_padding_top_bot);
}