.form_error{
    color: var(--error);
}
.form_warning{
    color: var(--warning);
}
.form_success{
    color: var(--success);
}
.form_info{
    color: var(--info);
}
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 16px;
}