{% load static %}
{% load i18n %}
{% load urlToBreadcrumbs %}
{% load urlToList %}

<div class="flex flex-row items-center gap-2 flex-wrap">
{% for item in path|urlToBreadcrumbs%}
    {% if forloop.counter == path|urlToList|length %} {# Last element #}
        <i class="ref_no-sign"><a href="{{item.url}}">{{item.name|safe}}</a></i>/
        {% if post_title %}
        <i>{{post_title}}</i>
        {% endif %}
    {% else %} {# All other elements #}
        <i class="ref_no-sign"><a href="{{item.url}}">{{item.name|safe}}</a></i>/
    {% endif %}
{% endfor %}
</div>