{% load static %}
{% load i18n %}

<form>
    {% for field in feed_form %}
        {% if field.name == 'user_id' or field.name == 'previos_user_id' %}
        <fieldset class="flex flex-row gap-[10px]">  
            <legend><div>{{field.label}}</div></legend>
            <div class="flex flex-col w-full">
                {{ field }}
            </div>
        </fieldset>
        <div class="form_error">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    <div class="flex flex-row gap-[10px] flex-wrap" >
        {% for field in feed_form %}
            {% if field.name != 'user_id' and field.name != 'previos_user_id'  %}
            <fieldset class="flex flex-row gap-[10px]">  
                <legend><div>{{field.label}}</div></legend>
                <div class="flex flex-col w-full">
                    {{ field }}
                </div>
            </fieldset>
            <div class="form_error">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="flex flex-row justify-start">
        <button 
            hx-put="user-id/{{user_id}}/" 
            hx-target="#user_settings_container" 
            hx-headers='js:{"X-CSRFTOKEN": csrftoken}' 
            hx-vals='js:{"user_id": "{{user_id}}"}' 
            class="ttw-button ttw-button_link ttw-button_squared" type="submit">
            <div class="border ttw-button_squared p-1">
                <img width="16px" height="32px" class="svg_icon_inverted_black" src="{% static 'RSSAggregator/img/update.svg' %}">
            </div>
        </button>
    </div>
</form>