{% load i18n %}
{% load static %}

{% for p in posts %}
    <div class="post_preview column min_row_gap mt-[20px]">
        {% if isPreview %}
            {% if p.image_link|length > 0 %}
            <img class="image dynamic_image" src="{% static 'image-not-found.webp' %}" data-src="{{p.image_link}}">
            {% else %}
            <img class="image" src="{% static 'image-not-found.webp' %}">
            {% endif %}
        {% endif %}
        <h2><a class="text_button" href="{{ p.link }}">{{ p.title | safe | truncatewords:10 }}</a></h2>
        <div class="row min_col_gap">
            <img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/calendar.svg" %}' alt="{% trans "Часы" %}">
            <div>{{ p.date_published | safe }}</div>
        </div>
        <div class="post_preview_body">
            {{ p.description | truncatewords:50 }}
        </div>
    </div>
{% endfor %}
{% if next_link %}
<div id="rss-pagination-container">
    <hr>
    <div class="flex flex-row justify-center">
        <div 
        hx-get="{{next_link}}"
        hx-target="#rss-pagination-container"
        hx-swap="outerHTML"
        hx-indicator="#loader"
        class="button action_button padder">{% trans 'Загрузить ещё ...' %}</div>
    </div>
    <div id="loader" class="htmx-indicator min-h-[40px]">
        {% include 'Post/tool-status-bar.html' with statustext="loading" %}
    </div>
</div>
{% endif %}