{% extends 'Post/base_tool.html' %}

{% load static%}
{% load i18n %}
{% load RSSA_addToListInURL %}
{% load RSSA_removeFromListInURL %}

{% block hat_tool %}
{% endblock %}

{% block content_tool %}
	<div id="loader" class="marger in_middle" >
		<div class="progressbar-container">
			<div class="progress-loader"></div>
		</div>
	</div>
	<div class="limiter in_middle in_middle-self no_wrap padder">
		<div class="tabs w-full">
			<div class="tab_button tab_active" data-bodyid="1">
            	<img width="16px" height="16px"class="" src="{% static 'RSSAggregator/img/home.svg' %}">
			</div>
			<div class="tab_button" data-bodyid="2">
            	<img width="16px" height="16px" class="" src="{% static 'RSSAggregator/img/groups.svg' %}">
			</div>
			<div class="tab_button" data-bodyid="3">
            	<img width="16px" height="16px" class="" src="{% static 'RSSAggregator/img/question_mark.svg' %}">
			</div>
			<div class="tab_button" data-bodyid="4">
            	<img width="16px" height="16px" class="" src="{% static 'RSSAggregator/img/settings.svg' %}">
			</div>
		</div>
		<div class="tab_body">
			<div id="tab_body-1" class="tab_element tab_element__active">
				<form id="update_feed_form">
					{% for feed in feed_add_not_empty_list %}
						{% include 'RSSAggregator/feed_add.html' with feed_form=feed.form feed_id=feed.id to_add_ness=feed.to_add%}
					{% endfor %}
					{% include 'RSSAggregator/feed_add.html' with feed_form=feed_add_empty %}
					<div id="common_feed_container"></div>
				</form>
				<hr class="mt-3">
				{% if feed_urls %}
				<div class="flex flex-row gap-[10px]">
					<div class="flex-auto"></div>
					<div class="ttw-button_link ">
						<div class="border p-1">
						<a  href="{% url 'rss-reader' %}">
							{% trans 'Удалить все' %}
						</a>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			<div id="tab_body-2" class="tab_element">
    			<div id="new_added_feed"></div>
				{% for feed in user_feeds %}
					{% include 'RSSAggregator/feed_edit.html' with feed_form=feed.form feed_id=feed.id to_add_ness=feed.to_add%}
				{% endfor %}
				<hr class="mt-3">
			</div>
			<div id="tab_body-3" class="tab_element">
				<div class="table_of_contents">
					<h2 style="margin-top: 0px; border-bottom: 2px solid gray; margin-bottom: 0px;">{% trans 'Содержание' %}</h2>
					<div class="padder-5" style="display: flex; gap: 8px; align-items: center; margin-top: 10px;">
						<p style="border: 1px solid grey; border-radius: 50%; padding: 5px; color: grey; font-size: 10px;">h2</p>
						<p>{% trans 'Как использовать инструмент' %}</p>
					</div>
					<div class="padder-5" style="display: flex; gap: 8px; align-items: center; margin-top: 10px;">
						<p style="border: 1px solid grey; border-radius: 50%; padding: 5px; color: grey; font-size: 10px;">h2</p>
						<p>{% trans 'Про библиотеку RSS-каналов' %}</p>
					</div>
					<div class="padder-5" style="display: flex; gap: 8px; align-items: center; margin-top: 10px;">
						<p style="border: 1px solid grey; border-radius: 50%; padding: 5px; color: grey; font-size: 10px;">h2</p>
						<p>{% trans 'Про настройки' %}</p>
					</div>
					<div class="padder-5" style="display: flex; gap: 8px; align-items: center; margin-top: 10px;">
						<p style="border: 1px solid grey; border-radius: 50%; padding: 5px; color: grey; font-size: 10px;">h2</p>
						<p>{% trans 'Важные особенности' %}</p>
					</div>
					<br>
				</div>
				<h2 class="paragraph">{% trans 'Как использовать инструмент' %}</h2>
				<div class="text">{% trans 'Для того чтобы использовать данный инструмент тебе потребуются ссылки на нужные тебе RSS-фиды (RSS-каналы). Просто найди такие RSS и вставь в соответствующее поле, нажми <b>ENTER </b>или знак "<b>+</b>".' %}</div>
				<div class="text"><img src="{% static 'loading.svg' %}" class="image dynamic_image image-bordered" data-src="{% get_media_prefix %}{{images.0.file}}" alt="{{images.0.text}}"></div>
				<div class="text">{% trans 'Где цифрами представлены следующие элементы:' %}</div>
				<ol>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Иконка главной рабочей области. Здесь будут отображены все подгружаемые и отображаемые rss-каналы соответственно' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Поле ввода rss-канала' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Кнопка загрузки и отображения rss-каналов по ссылке' %}</li>
				</ol>
				<h2 class="paragraph">{% trans 'Про библиотеку RSS-каналов' %}</h2>
				<div class="text">{% trans 'После того как ты добавил очередной фид, ты можешь:' %}</div>
				<ol>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Убрать его' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Сохранить в библиотеку' %}</li>
				</ol>
				<div class="text"><img src="{% static 'loading.svg' %}" class="image dynamic_image image-bordered" data-src="{% get_media_prefix %}{{images.1.file}}" alt="{{images.1.text}}"></div>
				<div class="text">{% trans 'Перейдя по вкладке 1 - "<b>Библиотеки</b>" ты сможешь посмотреть на все свои сохранённые фиды и их названия.' %}</div>
				<div class="text"><img src="{% static 'loading.svg' %}" class="image dynamic_image image-bordered" data-src="{% get_media_prefix %}{{images.2.file}}" alt="{{images.2.text}}"></div>
				<div class="text">{% trans 'И тебе доступны следующие кнопки и операции:' %}</div>
				<ol>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Вкладка твоей библиотеки rss-каналов' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Удаление rss-канала из библиотеки' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Сохранение или обновление данных об rss-канале' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Кнопка отображения rss-канала на главной ленте' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Так выглядит кнопка после нажатия, то есть этот канал сейчас отображается' %}</li>
				</ol>
				<h2 class="paragraph">{% trans 'Про настройки' %}</h2>
				<div class="text">{% trans 'Теперь поговорим про настройки. Ты можешь:' %}</div>
				<ol>
					<li data-list="undefined" style="list-style-type: disc;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Указать количество подгружаемых постов в rss-фидах за раз' %}</li>
					<li data-list="undefined" style="list-style-type: disc;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Указать порядок отображения данных постов' %}</li>
					<li data-list="undefined" style="list-style-type: disc;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Указать отображать ли при это превьюшки для данных постов' %}</li>
					<li data-list="undefined" style="list-style-type: disc;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Связать различные браузеры для использования одних и тех же фидов' %}</li>
				</ol>
				<div class="text"><img src="{% static 'loading.svg' %}" class="image dynamic_image image-bordered" data-src="{% get_media_prefix %}{{images.3.file}}" alt="{{images.3.text}}"></div>
				<ol>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Вкладка с настройками' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Поле текущего ID пользователя (сохрани его)' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Поле предыдущего ID пользователя (другой браузер или устройство)' %}</li>
					<li data-list="undefined" style="list-style-type: decimal;"><span class="ql-ui" contenteditable="false"></span>{% trans 'Кнопка пересохранения твоих настроек' %}</li>
				</ol>
				<div class="text">
					<br>
				</div>
				<h2 class="paragraph">{% trans 'Важные особенности' %}</h2>
				<div class="text">{% trans 'Перед разработкой данного инструмента было решено, что он будет использовать как классические методы работы, так более новые динамические технологии работы с веб страницей. ' %}</div>
				<div class="text">{% trans 'Твоя адресная строка будет меняться в зависимости от введённых rss-каналов и может выглядеть как-то так:' %}</div>
				<div class="text"><img src="{% static 'loading.svg' %}" class="image dynamic_image image-bordered" data-src="{% get_media_prefix %}{{images.4.file}}" alt="{{images.4.text}}"></div>
				<div class="ttw-explain_under">{% trans 'Как верхняя, так и нижняя строка содержат адрес фида.' %}</div>
				<div class="text">{% trans 'Почему это важно? Ну, ты можешь сохранить страницу в закладки и потом заново её открыть.' %}</div>
				<div class="text">
					<br>
				</div>
				<hr class="mt-3">
			</div>
			<div id="tab_body-4" class="tab_element">
				<div id="user_settings_container">
				{% include 'RSSAggregator/feedId_settings_form.html' with feed_form=feedId_form user_id=user_id %}
				</div>
				<hr>
			</div>
		</div>
		<div id="rss-pagination" class="toObserve">
			{% include 'RSSAggregator/rss-pagination.html' with posts=posts %}
			{% if feed_urls|length > 0 %}
				<div id="rss-pagination-container">
					<hr>
					<div class="flex flex-row justify-center">
						<div 
						hx-get="{% url 'rss-reader-posts'%}{{""|RSSA_removeFromListInURL:feed_urls}}&{{page_size_query_param}}=10&{{page_query_param}}=2"
						hx-target="#rss-pagination-container"
						hx-swap="outerHTML"
						hx-indicator="#loader"
						class="ttw-button ttw-button_action ttw-button_squared w-full">
							<div class=" border  text-center ttw-button_squared p-2 ">
							{% trans 'Загрузить ещё ...' %}
							</div>
						</div>
					</div>
					<div id="loader" class="htmx-indicator min-h-[40px]">
						{% include 'Main/loader.html' %}
					</div>
				</div>
			{% else %}
				<div>
				{% blocktrans %}
				У тебя не выбран ни один фид. Начни с ввода первого или с выбора уже сохранённых!
				{% endblocktrans %}
				</div>
			{% endif %}
		</div>
		<h2 class="paragraph">{% trans 'О данном RSS сервисе' %}</h2>
		<div class="text">
			{% blocktrans %}
			Этот онлайн агрегатор лент позволяет добавлять, регистрировать и подключатть любые rss фиды по ссылке на этот фид. Количество подписок не ограничено. Поддерживается 1-я и 2-я версия rss, также ленты работающие на атоме.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Он доступен как на десктопах, так и на мобильных устройствах.
			{% endblocktrans %}
		</div>
	</div>
{% endblock %}

{% block footer_tool %}
{% endblock %}

{% block styles_tool %}
	<link type="text/css" rel="stylesheet" href="{% static 'RSSAggregator/css/index.min.css' %}"/>
{% endblock %}

{% block scripts_tool %}
    <script src="{% static 'RSSAggregator/js/index.min.js' %}"></script>
{% endblock %}

