{% load i18n %}
{% load static %}

{% for p in posts %}
    <div class="post_preview column min_row_gap mt-[20px]">
        <h2 class="ref_hidden"><a href="{{ p.link }}">{{ p.title | safe | truncatewords:10 }}</a></h2>
        <div class="flex flex-row gap-2">
            <img width="16px" class="justify-center" src='{% static "Post/img/calendar.svg" %}' alt="{% trans "Часы" %}">
            <div>{{ p.date_published | safe }}</div>
        </div>
        <div class="post_preview_body">
            {{ p.description | truncatewords:50 }}
        </div>
    </div>
{% endfor %}
{% if isYandexAdManagerMiddlewareConnected %}
    {% for adlocation in adlocations %}
        {% if adlocation.adlocation_name == "TOOL_AFTER_USE" %}
            {% include 'YandexAdManager/admanager_element.html' with adblock=adlocation.adblock unificator="tool-after-use" %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if next_link %}
<div id="rss-pagination-container">
    <hr class="mt-2">
    <div class="flex flex-row justify-center">
        <div 
        hx-get="{{next_link}}"
        hx-target="#rss-pagination-container"
        hx-swap="outerHTML"
        hx-indicator="#loader"
        class="ttw-button ttw-button_action ttw-button_squared w-full">
        <div class=" border text-center ttw-button_squared p-2 ">
            {% trans 'Загрузить ещё ...' %}
        </div>
    </div>
    </div>
    <div id="loader" class="htmx-indicator min-h-[40px]">
        {% include 'Main/loader.html' %}
    </div>
</div>
{% endif %}