@import "../../../../Main/static/Components/Containers/Dropdown/dropdown.css";
@import "../../../../Main/static/Components/Blocks/Paginator/paginator.css";
@import "../../../../Main/static/Components/Blocks/tag.css";
@import "../../../../Main/static/Components/Buttons/Download/button_download.css";
@import "tailwindcss";
@tailwind utilities;

fieldset.filter_fildset{
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    margin-top: 0;
}
