{% load i18n %}
{% load static %}
{% get_current_language as LC %}

{% if is_likes %}
    <div 
        hx-post="/{{LC}}/like_post/"
        hx-swap="none"
        hx-on::after-request="
        switch(event.detail.xhr.status){ 
            case 200: 
                toaster.notify('{% trans 'Спасибо \(￣︶￣*\))' %}', 'success'); 
                break; 
            case 201: 
                toaster.notify('{% trans 'Большое спасибо, но ты уже лайкнул (*￣3￣)╭' %}', 'info'); 
                break; 
            default: 
                toaster.notify('{% trans 'Произошла ошибка при отправке лайка (' %}', 'error'); 
                break; 
        }"
        hx-vals="js:{csrfmiddlewaretoken: csrftoken, url: '{{request.get_full_path}}'}"
        id="onLike" class="ttw-button ttw-button_action ttw-button_squared" onclick="yaCounter95199635.reachGoal('onLike')">
        <img class=" ttw-button_squared border" width="32" height="32" src="{% static 'Engagement/img/like.svg' %}" alt="{% trans "сердце" %}">
    </div>
{% endif %}
{% if is_shares %}
    {% comment %}
        Из-за того, как работает HTML, я не могу использовать HTMX на ссылках,
        ибо просто они перестают работать.

        По этому, на каждую ссылку я добавляю кастомный евент который триггерит 
        запрос счётчика, того как много людей поделились.
    {% endcomment %}
    <div
        id="onShare"
        hx-post="/{{LC}}/share_post/"
        hx-swap="none"
        hx-trigger="share_click"
        hx-on::after-request='toaster.notify("{% trans "Спасибо что поделился （￣︶￣）↗　" %}", "info"); yaCounter95199635.reachGoal("onShare")'
        hx-vals="js:{csrfmiddlewaretoken: csrftoken, url: '{{request.get_full_path}}'}"
        class="hidden"
    ></div>
    <div 
        hx-on:click="document.getElementById('onShare').dispatchEvent(new Event('share_click'))"
        class="ttw-button ttw-button_link">
        <a target="_blank" href="http://vk.com/share.php?url={{ url_to_share }}&title={{ title_to_share }}&description={{ description_to_share }}">
            <img 
                class="ttw-button_squared" width="32" height="32" src="{% static 'vk.svg' %}" alt="{% trans "vk иконка" %}">
        </a>
    </div>
    <div
        hx-on:click="document.getElementById('onShare').dispatchEvent(new Event('share_click'))" class="ttw-button ttw-button_link htmx-share_button">
        <a target="_blank"  href="https://www.reddit.com/submit?url={{ url_to_share }}&title={{ title_to_share }}">
            <img class="ttw-button_squared" width="32" height="32" src="{% static 'reddit.svg' %}" alt="{% trans "reddit иконка" %}">
        </a>
    </div>
    <div
        hx-on:click="document.getElementById('onShare').dispatchEvent(new Event('share_click'))" class="ttw-button ttw-button_link htmx-share_button">
        <a target="_blank"  href="https://twitter.com/intent/tweet?url={{ url_to_share }}&text={{ description_to_share }}">
            <img class="ttw-button_squared" width="32" height="32" src="{% static 'twitter.svg' %}" alt="{% trans "twitter иконка" %}">
        </a>
    </div>
    <div
        hx-on:click="document.getElementById('onShare').dispatchEvent(new Event('share_click'))" class="ttw-button ttw-button_link htmx-share_button">
        <a target="_blank"  href="https://telegram.me/share/url?url={{ url_to_share }}&text={{ description_to_share }}">
            <img class="ttw-button_squared" width="32" height="32" src="{% static 'telegram.svg' %}" alt="{% trans "telegram иконка" %}">
        </a>
    </div>
    <div class="ttw-button ttw-button_action" id="onShareCopyLink" onclick='
        navigator.clipboard.writeText("{{ url_to_share }}"); 
        toaster.notify("{% trans "Ссылка успешно скопированна" %}", "info"); 
        yaCounter95199635.reachGoal("onShare");'
    >
        <img class="ttw-button_squared border" width="32" height="32" src="{% static 'Engagement/img/link.svg' %}" alt="{% trans "telegram иконка" %}">
    </div>
{% endif %}
{% if is_comments %}
    <div id="onComment" class="ttw-button ttw-button_action">
        <img  class="ttw-button_squared border" width="32" height="32" src="{% static 'Engagement/img/comments.svg' %}" alt="{% trans "облачко" %}">
    </div>
{% endif %}
{% if is_bookmarks %}
    <div 
        hx-post="/{{LC}}/bookmark_post/"
        hx-swap="none"
        hx-on::after-request="
        switch(event.detail.xhr.status){ 
            case 200: 
                toaster.notify('{% trans '=[。。]= Извини, JS не позволяет создавать собственные кнопки создания закладок и по этому, чтобы создать закладку нажми ctrl+d' %}', 'success'); 
                break; 
            default: 
                toaster.notify('{% trans 'Произошла ошибка при попытке создать закладку (' %}', 'error'); 
                break; 
        }"
        hx-vals="js:{csrfmiddlewaretoken: csrftoken, url: '{{request.get_full_path}}'}"
        id="onBookmark" class="ttw-button ttw-button_action"  onclick="yaCounter95199635.reachGoal('onBookmark')">
        <img  class="ttw-button_squared border" width="32" height="32" src="{% static 'Engagement/img/bookmark.svg' %}" alt="{% trans "облачко" %}">
    </div>
{% endif %}
{% if is_email %}
    <div 
        hx-get="/{{LC}}/email_subscription_form/" 
        hx-target="#modal-content"
        hx-indicator="#context-loader-load_into_modal"
        hx-on::before-request="modal.open('');"
        hx-on::after-request="event.detail.failed && modal.close();"
        class="ttw-button ttw-button_action">
        <img  class="ttw-button_squared border" width="32" height="32" src="{% static 'Engagement/img/email.svg' %}" alt="{% trans "письмо" %}">
    </div>
{% endif %}