{% load i18n %}
{% load static %}
{% get_current_language as LC %}

<div class="flex flex-col gap-5 w-full">
    <h3>{% trans 'Форма обратной связи' %}</h3>
    <hr>
    {% comment %}
        Событие beforeSwap должно быть расположено на том элементе
        где производиться свап
    {% endcomment %}
    <div 
        hx-on::before-swap="
            switch(event.detail.xhr.status){
                case 400:
                    event.detail.shouldSwap = true
                    break;
                case 503:
                    event.detail.shouldSwap = true
                    break;
            }
        "
        id="modal-form">
        {% include 'Engagement/Other/engagement_feedback_form.html' with feedback_form=feedback_form %}
    </div>
    <hr>
    <div class="flex flex-row justify-between flex-wrap">
        <div 
            hx-post="/{{LC}}/feedback_post/"
            hx-include="#toSendFeedback" 
            hx-indicator="#context-loader-load_into_modal"
            hx-vals="js:{csrfmiddlewaretoken: csrftoken, url: '{{request.get_full_path}}'}"
            hx-target="#modal-form"
            hx-on::after-request="
            if (event.detail.successful){
                modal.close();
                toaster.notify('{% trans '✔ Вы успешно отправили сообщение (＠＾０＾)' %}', 'success'); 
            }else{
                toaster.notify('{% trans '✗ Возникла ошибка при отправке формы ＼（〇_ｏ）／' %}', 'error'); 
            }"
            class="ttw-button ttw-button_action grow ">
            <p class="ttw-button_squared bg-main border text-white p-2">{% trans "Отправить" %}</p>
        </div>
        {% if not only_send %}
        <div class="ttw-button ttw-button_action grow" onclick="modal.close()">
            <p class="ttw-button_squared bg-main border text-white p-2">{% trans "Отмена" %}</p>
        </div>
        {% endif %}
    </div>
</div>