{% extends "Admin/base_admin.html" %}
{% load i18n %}
{% load static%}


{% block head %}
	<title>{% trans "Админка" %}</title>
	<meta name="description" content="{% trans "Админка сайта"%}">
	<meta name="robots" content="noindex, follow">
{% endblock %}

{% block content %}
    <div class="h-full">
		<div class="justify-center flex flex-col w-full toObserve ttw-limiter">
			<div class="max-w-7xl self-center flex flex-col ttw-content w-full">
				<h1 class="ttw-title" >{% trans "Админка" %}</h1>
				<hr>
				<div class="tabs">
					<div class="tab_button tab_active" data-bodyid="1">
						<div>
							<h3>{% trans 'Модели' %}</h3>
						</div>
					</div>
					<div class="tab_button" data-bodyid="2">
						<div>
							<h3>{% trans 'Последние записи' %}</h3>
						</div>
					</div>
				</div>
				<div class="tab_body">
					<div id="tab_body-1" class="tab_element  tab_element__active max-h-[500px]">
						<table>
							<thead>
								<tr>
									<th>{% trans 'Имя модели' %}</th>
									<th>{% trans 'Приложение' %}</th>
									<th>{% trans 'Последняя запись' %}</th>
									<th>{% trans 'Кол-во записей' %}</th>
								</tr>
							</thead>
							<tbody >
								{% for model in models %}
								<tr>
									<td class="ref">
										<a href="{% url model.name|lower|add:'-list' %}"> 
											{{model.name}}
										</a>
									</td>
									<td><b>{{model.app}}</b></td>
									<td class="ref">
										{% if model.last_edited %}
											<a href="{% url model.name|lower|add:'-detail' model.last_edited.pk %}">
												{{model.last_edited}}
											</a>
										{% else %}
											{{model.last_edited}}
										{% endif  %}
									</td>
									<td>{{model.num_records}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="tab_body-2" class="tab_element">
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Admin/css/index.min.css' %}"/>
{% endblock %}

{% block scripts %}
	<script>
		var STATIC = "{% static '.' %}"
	</script>
    <script src="{% static 'Admin/js/index.min.js' %}"></script>
{% endblock %}
