{% extends 'Main/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
	<link rel="canonical" href="https://{{domain_name}}{{ post.get_absolute_url }}" />

	{% if isAdManagerMiddlewareConnected %}
		{% include 'AdManager/admanager_header.html' %}
	{% endif %}

	{% block head_post %}
	{% endblock %}
{% endblock %}

{% block hat %}
	{% block hat_post %}
	{% endblock%}
{% endblock %}

{% block hat_body %}
	{% block hat_body_post %}
	{% endblock%}
{% endblock %}



{% block content %}
<div class="flex flex-col gap-2 p-1 max-w-4xl justify-center self-center flex-nowrap text-wrap wrap-anywhere break-all ttw-limiter toObserve">
	{% block content_post-before %}
	{% endblock %}

	<hr>

	{% block content_post %}
	{% endblock %}

	{% if isAdManagerMiddlewareConnected %}
		{% include 'AdManager/admanager_element.html' with adblock=adblock_3 page=2 %}
	{% endif %}
	
	<div class="flex flex-row flex-wrap justify-between gap-3 m-1">
		{% if next_post %}
		<div class="ttw-button ttw-button_link ref_no-sign grow shrink-0 basis-full">
			<a href="{{next_post.get_absolute_url}}"><div class="flex flex-col gap-2 p-2 border-l-4">
				<div>{{next_post.title}}</div>
				<hr>
				<div><b>{% trans 'Следующая статья' %}</b></div>
			</div></a>
		</div>
		{% else %}
		<div></div>
		{% endif %}
		{% if prev_post %}
		<div class="ttw-button ttw-button_link ref_no-sign grow shrink-0 basis-full">
			<a href="{{prev_post.get_absolute_url}}"><div class="border-r-4 text-right flex flex-col gap-2 p-2">
				<div>{{prev_post.title}}</div>
				<hr>
				<div><b>{% trans 'Предыдущая статья' %}</b></div>
			</div></a>
		</div>
		{% else %}
		<div></div>
		{% endif %}
	</div>
	<hr>

	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/Other/engagement_under_post_container.html' %}
        {% if is_comments %}
            {{comments_doc}}
        {% endif %}
	{% endif %}
	
	{% block content_post-after %}
	{% endblock %}
</div>
{% endblock %}

{% block dock %}
	<div class="flex flex-row w-full justify-start p-2">
	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/Other/engagement_dock_container.html' %}
	{% endif %}
	</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref}}</a></li>
	{% endfor %}
	{% block footer_links_post %}
	{% endblock %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/index.article.min.css' %}"/>
	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_styles.html' %}
	{% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_styles.html' %}
	{% endif %}

	{% if isAffiliateLinkMiddlewareConnected %}
		{% include 'Affiliate/affiliate_styles.html' %}
	{% endif %}

	{% if isAdManagerMiddlewareConnected %}
		{% include 'AdManager/admanager_styles.html' %}
	{% endif %}

	{% block styles_post %}
	{% endblock %}
{% endblock %}

{% block scripts %}
    <script>
		const post_slug = "{{post.slug}}"
    </script>
    <script src="{% static 'Post/js/index.article.min.js' %}"></script>
	{% if isEngagementMiddlewareConnected %}
		{% include 'Engagement/engagement_scripts.html' %}
	{% endif %}

	{% if isBreadcrumbsMiddlewareConnected %}
		{% include 'Breadcrumbs/breadcrumbs_scripts.html' %}
	{% endif %}

	{% if isAffiliateLinkMiddlewareConnected %}
		{% include 'Affiliate/affiliate_scripts.html' %}
	{% endif %}

	{% if isAdManagerMiddlewareConnected %}
		{% include 'AdManager/admanager_scripts.html' %}
	{% endif %}
	
	{% block scripts_post %}
	{% endblock %}
{% endblock %}
