{% load static %}
{% load i18n %}

{% for a in posts %}

<div class="flex flex-row flex-wrap gap-2 p-2 loader grow basis-1/2" data-numpages="{{num_pages}}">
	<img width="300px" class="image-bordered dynamic_image" src="{% static 'loading.svg' %}" data-src="{% get_media_prefix %}{{a.preview}}">
	<div class="flex flex-col gap-1 grow basis-1/2">
		{% if in_post %}
		<h4 class="ref_hidden">
			<a href="{{ a.get_absolute_url }}">{{a.title}}</a>
		</h4>
		{% else %}
		<h2 class="ref_hidden">
			<a href="{{ a.get_absolute_url }}">{{a.title}}</a>
		</h2>
		{% endif %}
		<div class="flex flex-wrap items-center gap-3">
			<div class="flex gap-3">
				<img width="16" height="16" src='{% static "Post/img/calendar.svg" %}' alt="{% trans "Часы" %}">
				<div>{{a.timeCreated|date:"d.m.Y"}}</div>
			</div>
			/
			<div class="flex flex-nowrap gap-3">
				<img width="16" height="16" src='{% static "Post/img/update.svg" %}' alt="{% trans "Часы" %}">
				<div>{{a.timeUpdated|date:"d.m.Y"}}</div>
			</div>
		</div>
		{% if isEngagementMiddlewareConnected %}
			{% include 'Engagement/Other/interaction.html' with path=a.get_absolute_url%}
		{% endif %}
		<div>
			{{a.description|truncatewords:30}}
		</div>
		{% if displayTags %}
			{% include 'Post/tags.html' with post=a %}
		{% endif %}
	</div>
</div>

{% endfor %}

{% if isYandexAdManagerMiddlewareConnected %}
	{% for adlocation in adlocations %}
		{% if adlocation.adlocation_name == "ON_PAGISCROLL_ARTICLES_BETWEEN_PAGES" %}
			{% include 'YandexAdManager/admanager_element_in_pagination.html' with page=page  adblock=adlocation.adblock %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if page <= num_pages %}
<div id="scroll-sentinel-{{page}}" class="scroll-sentinel" data-page="{{page}}"></div>
{% endif %}
