{% load static %}
{% load i18n %}
{% load addToListInURL %}
{% load removeFromListInURL %}
{% load hasInList %}

{% for a in posts %}

<div class="flex flex-col gap-1 loader p-2 grow basis-1/3" data-numpages="{{num_pages}}">
	<div class="flex gap-3">
		<div class="flex flex-col gap-1 ">
			<h2>{{a.title}}</h2>
			<div class="flex gap-3 flex-wrap">
				<div class="flex gap-3">
					<img width="16" height="16" src='{% static "Post/img/calendar.svg" %}' alt="{% trans "Часы" %}">
					<div>{{a.timeCreated|date:"d.m.Y"}}</div>
				</div>
				/
				<div class="flex gap-3 flex-nowrap">
					<img width="16" height="16" src='{% static "Post/img/update.svg" %}' alt="{% trans "Часы" %}">
					<div>{{a.timeUpdated|date:"d.m.Y"}}</div>
				</div>
			</div>
		</div>
	</div>
	<span>
		{{a.description}} 	
	</span>
	{% if displayTags %}
		{% include 'Post/tags.html' with post=a %}
	{% endif %}
</div>
{% endfor %}

{% if isYandexAdManagerMiddlewareConnected %}
	{% for adlocation in adlocations %}
		{% if adlocation.adlocation_name == "ON_PAGISCROLL_NOTES_BETWEEN_PAGES" %}
			{% include 'YandexAdManager/admanager_element_in_pagination.html' with page=page  adblock=adlocation.adblock %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if page <= num_pages %}
<div id="scroll-sentinel-{{page}}" class="scroll-sentinel" data-page="{{page}}"></div>
{% endif %}
