{% load hasInList %}
{% load removeFromListInURL %}
{% load addToListInURL %}

<div class="post_preview_tags">
    {% for tag in post.tags.all %}
        {% if tag.slug|hasInList:current_tag %}
        <a rel="tag" href="{{ category.get_absolute_url }}?page=1{{tag.slug|removeFromListInURL:current_tag}}"><div class="tag_selected text_button tag_remove">{{tag}}</div></a>
        {% else %}
        <a rel="tag" href="{{ category.get_absolute_url }}?page=1{{tag.slug|addToListInURL:current_tag}}"><div class="tag text_button tag_add">{{tag}}</div></a>
        {% endif %}
    {% endfor %}
</div>