{% load static %}
{% load i18n %}
{% load listToURL %}

<fieldset id="filters" class="flex p-2 border-t-2  border-solid filter_fildset">
    <legend class="flex gap-2  items-center">

		<div id="onSort" class="grow-0 shrink ttw-button_swap">
			<div class="border ttw-button_action ttw-button_squared ttw-button_swap_front">
				<img class="ttw-button_squared" width="32" height="32" src="{% static 'sort.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
			<div class="border ttw-button_action ttw-button_squared ttw-button_swap_back ttw-button_swap_not_active">
				<img class="ttw-button_squared" width="32" height="32" src="{% static 'sort-reversed.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
			</div>
		</div>
        {% with category.slug|add:'-rss' as rss_feed_path %}
        <div id="onRSS" class="border ttw-button_action ttw-button_squared" onclick="
            var text = this.dataset.rss ;
            navigator.clipboard.writeText(`${text}`); 
            toaster.notify('{% trans 'Скопировал ссылку на RSS фид' %}','info');
            yaCounter95199635.reachGoal('onRSS');
        " data-rss="https://{{domain_name}}{% url rss_feed_path %}?{{current_tag|listToURL}}">
            <div class="ttw-button_squared">
                <img width="32" height="32" style="padding: 4px"  class="ttw-button_squared" src="{% static 'rss.svg' %}" alt="{% trans 'Значок сортировки' %}">
            </div>
        </div>
        <a class="hidden" href="{% url rss_feed_path %}?{{current_tag|listToURL}}"></a>
        {% endwith %}
    </legend>
</fieldset>