
.ttw-button_link:hover > a > img, .ttw-button_link:hover > a > p, .ttw-button_link:hover > div{
	outline: var(--button_width_hover) solid var(--button_link_hover);
	cursor: pointer;
}
.ttw-button_link:active > a > img, .ttw-button_link:active > a > p, .ttw-button_link:active > div{
	outline: var(--button_width_active) solid var(--button_link_active);
	cursor: pointer;
}

.ttw-button_donation:hover > a > img, .ttw-button_donation:hover > a > p, .ttw-button_donation:hover > div{
	outline: var(--button_width_hover) solid var(--link-donat_color);
	cursor: pointer;
}
.ttw-button_donation:active > a > img, .ttw-button_donation:active > a > p, .ttw-button_donation:active > div{
	outline: var(--button_width_active) solid var(--link-donat-hover_color);
	cursor: pointer;
}
