@import url(tabs.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


input{
    max-width: unset;
}

#content_post_article {
  padding: 0;
}

hr{
  margin-bottom: 0;
}
img{
  width:100%;
}

img.captcha{
  width: unset;
}
