{% extends 'Post/base_tool.html' %}
{% load static %}
{% load i18n %}

{% block hat_tool %}
  <div class="header_button  button squered_button"  data-body="toolbar_settings_body">
    <img id="filters_hat_button" data-sort="true" width="32" height="32" class="icon dynamic_image svg_icon_inverted " src="{% static 'placeholder.svg' %}" data-src="{% static 'PostEditor/img/settings.svg' %}" alt="{% trans 'one layer on top of anothe' %}">
  </div>
{% endblock %}

{% block content_tool %}
  <div id="toolbar_settings_body" class="hat_body">
    <div class='full_width full_height padder'>
      <div>
        {% trans "Модули" %}
      </div>
      <hr class='hr-white'>
      <div class="column min_gap padder-10">
        <div>
          <input type="checkbox" id="toc_module" name="toc" checked />
          <label for="toc">Table of content</label>
        </div>
        <div>
          <input type="checkbox" id="word_counter_module" name="word_counter" disabled />
          <label for="word_counter">Words counter</label>
        </div>
        <div>
          <input type="checkbox" id="words_cloud_module" name="words_cloud" disabled />
          <label for="words_cloud">Words cloud</label>
        </div>
        <div>
          <input type="checkbox" id="history_module" name="history" disabled />
          <label for="history">History</label>
        </div>
      </div>
    </div>
  </div>
  {# This is a text to be used in PostEditor/js/quill_customized.js #}
  <div style="display: none">
    <div id='table_of_content_text'>{% trans 'Содержание' %}</div>
    <div id='save_text'>{% trans 'Сохранить' %}</div>
    <div id='copy_text'>{% trans 'Копировать' %}</div>
    <div id='remove_text'>{% trans 'Удалить' %}</div>
    <div id='insertRowAbove_text'>{% trans 'Вставка ряда выше' %}</div>
    <div id='insertRowBelow_text'>{% trans 'Вставка ряда ниже' %}</div>
    <div id='insertColumnAfter_text'>{% trans 'Вставка колонки после' %}</div>
    <div id='insertColumnBefore_text'>{% trans 'Вставка колонки перед' %}</div>
    <div id='insertTopHeader_text'>{% trans 'Вставка верхнего хедера' %}</div>
    <div id='insertLeftHeader_text'>{% trans 'Вставка левого хедера' %}</div>
    <div id='removeRow_text'>{% trans 'Удалить ряд' %}</div>
    <div id='removeCol_text'>{% trans 'Удалить колонку' %}</div>
    <div id='removeTable_text'>{% trans 'Удалить таблицу' %}</div>
    <div id='main_placeholder_quill'>{% trans 'Да начни творить' %}</div>
    <div id='abbr_placeholder'>{% trans 'Введи аббревиатуру' %}</div>
  </div>
  <div id='toSaveModal' class="modal modal-window" data-btn-id="save_btn" data-btn-close-id='close_btn'>
    <div class="modal-content">
      <div class="modal_body">
        <div class="row in_middle">
          <div class="row mid_gap on_end_other">
            <form class="vertical" action='' id="toSave"  method="post" enctype='multipart/form-data'>
              {% csrf_token %}
              {% for field in form_save %}
                <div>
                  {{ field }}
                </div>
                {% for error in field.errors %}
                <p class="form_error">{{ error }}</p>
                {% endfor %}	
              {% endfor %}
            </form>
          </div>
        </div>
      </div>
      <hr>
      <div class="modal_actions">
        <img id="save_btn_submit" width="32" height="32" class="close_modal svg_icon_inverted icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'ok.svg' %}" alt="{% trans 'Крестик' %}"  style='border-bottom-left-radius: var(--modal-radius)'>
        <img id='close_btn' width="32" height="32" class="close_modal svg_icon_inverted icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'close.svg' %}" alt="{% trans 'Крестик' %}" style='border-bottom-right-radius: var(--modal-radius)'>
      </div>
    </div>
  </div>

  <div id='toListModal' class="modal modal-window" data-btn-id="load_btn" data-btn-close-id='close_btn'>
      <div class="modal-content">
        <div class="modal_body">
          <div class="row in_middle">
            <div class="row mid_gap on_end_other">
              <div id='toList' class=" templates mid_gap no_wrap">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="modal_actions">
          <img id='close_btn' width="32" height="32" class="close_modal svg_icon_inverted icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'close.svg' %}" alt="{% trans 'Крестик' %}" style='border-bottom-right-radius: var(--modal-radius);border-bottom-left-radius: var(--modal-radius)'>
        </div>
      </div>
  </div>

  <div id='toConfirmModal' class="modal modal-window" data-btn-id="confirm_modal" data-btn-close-id='close_btn'>
    <div class="modal-content">
      <div class="modal_body">
        <div class="row in_middle">
          <div class="row mid_gap on_end_other">
            {% trans 'Ты уверен в том, что хочешь удалить этот шаблон ?' %}
          </div>
        </div>
      </div>
      <hr>
      <div class="modal_actions">
        <img id="delete_btn_submit" width="32" height="32" class="close_modal svg_icon_inverted icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'ok.svg' %}" alt="{% trans 'Крестик' %}"  style='border-bottom-left-radius: var(--modal-radius)'>
        <img id='close_btn' width="32" height="32" class="close_modal svg_icon_inverted icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'close.svg' %}" alt="{% trans 'Крестик' %}" style='border-bottom-right-radius: var(--modal-radius)'>
      </div>
    </div>
  </div>
  <div id="editor-side-menu" class="limiter padder is_sticky in_middle-self column zIndPl0">
    <div class="row min_gap">
      <select class="ql-font">
        <option value="open-sans" selected>Open Sans</option>
        <option value="advent-pro">Advent Pro</option>
        <option value="roboto-slab">Roboto Slab</option>
      </select>
      <select class="ql-size">
        <option value="16px" selected>16px</option>
        <option value="14px">14px</option>
      </select>
      <select class="ql-color">
        <option value="#000000" selected>T #000000</option>
        <option value="#ffffff">T #ffffff</option>
        <option value="#a33939">T #a33939</option>
        <option value="#39a344">T #39a344</option>
        <option value="#2f3091">T #2f3091</option>
        <option value="#39dbc3">T #39dbc3</option>
        <option value="#8739db">T #8739db</option>
        <option value="#c98036">T #c98036</option>
        <option value="#bdbf34">T #bdbf34</option>
      </select>
      <select class="ql-background">
        <option value="#000000" selected>B #000000</option>
        <option value="#ffffff">B #ffffff</option>
        <option value="#a33939">B #a33939</option>
        <option value="#39a344">B #39a344</option>
        <option value="#2f3091">B #2f3091</option>
        <option value="#39dbc3">B #39dbc3</option>
        <option value="#8739db">B #8739db</option>
        <option value="#c98036">B #c98036</option>
        <option value="#bdbf34">B #bdbf34</option>
      </select>
      <div class="quill-drop-down-list">
        <img class="quill-drop-down-button icon button squered_button action_button_black" src="{% static "PostEditor/img/common/text_options.svg" %}"  data-src="{% static "PostEditor/img/common/text_options.svg" %}"  data-close-btn="{% static 'close_white.svg' %}">
        <div class="quill-drop-down-container quill-drop-down-container_notactive">
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-bold"><img class="icon button squered_button dynamic_image loader action_button_black " src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/bold.svg" %}"></button>
            <div>{% trans 'Жирный' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-italic"><img class="icon button squered_button dynamic_image loader action_button_black " src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/italic.svg" %}"></button>
            <div>{% trans 'Скошеный' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-underline"><img class="icon button squered_button dynamic_image loader action_button_black " src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/underline.svg" %}"></button>
            <div>{% trans 'Подчёркнутый' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-strike"><img class="icon button squered_button dynamic_image loader action_button_black " src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/strikethrough.svg" %}"></button>
            <div>{% trans 'Перечёркнутый' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-abbr"><img class="icon button squered_button dynamic_image loader action_button_black " src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/abbr.svg" %}"></button>
            <div>{% trans 'Аббревиатура' %}</div>
          </div>
        </div>
      </div>
      <select class="ql-header">
        <option selected value="1">H1</option>
        <option value="2">H2</option>
        <option value="3">H3</option>
        <option value="4">H4</option>
        <option value="5">H5</option>
        <option value="6">H6</option>
      </select>
      <div class="quill-drop-down-list">
        <img class="quill-drop-down-button icon button squered_button action_button_black" src="{% static "PostEditor/img/common/blocks.svg" %}" data-src="{% static "PostEditor/img/common/blocks.svg" %}" data-close-btn="{% static 'close_white.svg' %}">
        <div class="quill-drop-down-container quill-drop-down-container_notactive">
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-quote" value="{% static "Post/img/blockQuote.svg" %},quote"><img class="icon button squered_button dynamic_image loader action_button_black " src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/blockQuote.svg" %}"></button>
            <div>{% trans 'Цитата' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-attention" value="{% static "Post/img/blockAttention.svg" %},attention"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/blockAttention.svg" %}"></button>
            <div>{% trans 'Внимание' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-danger" value="{% static "Post/img/blockDangerouse.svg" %},danger"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/blockDangerouse.svg" %}"></button>
            <div>{% trans 'Опасно' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-interesting" value="{% static "Post/img/blockInteresting.svg" %},interesting"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/blockInteresting.svg" %}"></button>
            <div>{% trans 'Это интересно' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-question" value="{% static "Post/img/blockQuestion.svg" %},question"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/blockQuestion.svg" %}"></button>
            <div>{% trans 'Вопрос' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-termin" value="{% static "Post/img/blockTermin.svg" %},termin"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/blockTermin.svg" %}"></button>
            <div>{% trans 'Определение' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-code-block"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/blockCode.svg" %}"></button>
            <div>{% trans 'Блок кода' %}</div>
          </div>
        </div>
      </div>
      <div class="quill-drop-down-list">
        <img class="quill-drop-down-button icon button squered_button action_button_black" src="{% static "PostEditor/img/common/structurizers.svg" %}" data-src="{% static "PostEditor/img/common/structurizers.svg" %}" data-close-btn="{% static 'close_white.svg' %}">
        <div class="quill-drop-down-container quill-drop-down-container_notactive">
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-list" value="decimal"><img class="icon button squered_button dynamic_image action_button_black loader" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/list-decimal.svg" %}"></button>
            <div>{% trans 'Список нумерованный' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-list" value="disc"><img class="icon button squered_button dynamic_image action_button_black loader" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/list-disc.svg" %}"></button>
            <div>{% trans 'Список ненумерованный' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-list" value="lower-alpha"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/list-alpha.svg" %}"></button>
            <div>{% trans 'Список латиницей' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-table"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/table.svg" %}"></button>
            <div>{% trans 'Таблица' %}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-horizontal-line"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/hr.svg" %}"></button>
            <div>{% trans 'Горизонтальная линия' %}</div>
          </div>
        </div>
      </div>
      <div class="quill-drop-down-list">
        <img class="quill-drop-down-button icon button squered_button action_button_black" src="{% static "PostEditor/img/common/links.svg" %}" data-src="{% static "PostEditor/img/common/links.svg" %}" data-close-btn="{% static 'close_white.svg' %}">
        <div class="quill-drop-down-container quill-drop-down-container_notactive">
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-external-link"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/link.svg" %}"></button>
            <div>{% trans 'Ссылка на внешний рессурс'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-internal-link"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/paragraph.svg" %}"></button>
            <div>{% trans 'Ссылка на часть статьи'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-downloadable-link"><img class="icon button squered_button dynamic_image loader action_button_black" src='{% static "placeholder.svg" %}' data-src="{% static "PostEditor/img/download.svg" %}"></button>
            <div>{% trans 'Ссылка на скачиваеммый контент'%}</div>
          </div>
        </div>
      </div>
      <div class="quill-drop-down-list">
        <img class="quill-drop-down-button icon button squered_button action_button_black" src="{% static "PostEditor/img/common/media.svg" %}" data-src="{% static "PostEditor/img/common/media.svg" %}" data-close-btn="{% static 'close_white.svg' %}">
        <div class="quill-drop-down-container quill-drop-down-container_notactive">
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-my-video" type="button">
              <img class="icon button squered_button action_button_black" src="{% static "PostEditor/img/common/video.svg" %}">
            </button>
            <div>{% trans 'Видео'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-image" type="button">
              <img class="icon button squered_button action_button_black" src="{% static "PostEditor/img/common/img.svg" %}">
            </button>
            <div>{% trans 'Изображение'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <button class="ql-text-under-image" type="button">
              <img class="icon button squered_button action_button_black" src="{% static "PostEditor/img/text_under_img.svg" %}">
            </button>
            <div>{% trans 'Текст под изображением'%}</div>
          </div>
        </div>
      </div>
      <div class="quill-drop-down-list">
        <img class="quill-drop-down-button icon button squered_button action_button_black" src="{% static "PostEditor/img/emodji.svg" %}" data-src="{% static "PostEditor/img/emodji.svg" %}" data-close-btn="{% static 'close_white.svg' %}">
        <div class="quill-drop-down-container quill-drop-down-container_notactive">
          <div class="row min_gap no_wrap on_middle_other">
            <select class="ql-kaomodji">
              <option selected value="=)">=)</option>
              <option value="(* ^ ω ^) 	">(* ^ ω ^) 	</option>
              <option value="(´ ∀ ` *) 	">(´ ∀ ` *) 	</option>
              <option value="٩(◕‿◕｡)۶ 	">٩(◕‿◕｡)۶ 	</option>
              <option value="(o^▽^o) 	">(o^▽^o) 	</option>
              <option value="(⌒▽⌒)☆ 	">(⌒▽⌒)☆ 	</option>
              <option value="<(￣︶￣)> 	"><(￣︶￣)> 	</option>
              <option value="ヽ(・∀・)ﾉ 	">ヽ(・∀・)ﾉ 	</option>
              <option value="(´｡• ω •｡`) 	">(´｡• ω •｡`) 	</option>
              <option value="(￣ω￣) 	">(￣ω￣) 	</option>
              <option value="(o･ω･o) 	">(o･ω･o) 	</option>
              <option value="(＠＾◡＾) 	">(＠＾◡＾) 	</option>
              <option value="ヽ(*・ω・)ﾉ 	">ヽ(*・ω・)ﾉ 	</option>
              <option value="( ´ ω ` ) 	">( ´ ω ` ) 	</option>
              <option value="(((o(*°▽°*)o))) 	">(((o(*°▽°*)o))) 	</option>
              <option value="(´• ω •`) 	">(´• ω •`) 	</option>
              <option value="(＾▽＾) 	">(＾▽＾) 	</option>
              <option value="(⌒ω⌒) 	">(⌒ω⌒) 	</option>
              <option value="╰(▔∀▔)╯ 	">╰(▔∀▔)╯ 	</option>
              <option value="(─‿‿─) 	">(─‿‿─) 	</option>
              <option value="(*^‿^*) 	">(*^‿^*) 	</option>
              <option value="(◕‿◕) 	">(◕‿◕) 	</option>
              <option value="(⌒‿⌒) 	">(⌒‿⌒) 	</option>
              <option value="＼(≧▽≦)／ 	">＼(≧▽≦)／ 	</option>
              <option value="ヽ(o＾▽＾o)ノ 	">ヽ(o＾▽＾o)ノ 	</option>
              <option value="☆ ～('▽^人)">☆ ～('▽^人)</option>
              <option value="(*°▽°*) 	">(*°▽°*) 	</option>
              <option value="٩(｡•́‿•̀｡)۶ 	">٩(｡•́‿•̀｡)۶ 	</option>
              <option value="(✧ω✧) 	">(✧ω✧) 	</option>
              <option value="ヽ(*⌒▽⌒*)ﾉ">ヽ(*⌒▽⌒*)ﾉ</option>
              <option value="(´｡• ᵕ •｡`) 	">(´｡• ᵕ •｡`) 	</option>
              <option value="( ´ ▽ ` ) 	">( ´ ▽ ` ) 	</option>
              <option value="(￣▽￣) 	">(￣▽￣) 	</option>
              <option value="╰(*´︶`*)╯">╰(*´︶`*)╯</option>
              <option value="(o˘◡˘o) 	">(o˘◡˘o) 	</option>
              <option value="\(★ω★)/ 	">\(★ω★)/ 	</option>
              <option value="\(^ヮ^)/ 	">\(^ヮ^)/ 	</option>
              <option value="(〃＾▽＾〃)">(〃＾▽＾〃)</option>
              <option value="(╯✧▽✧)╯ 	">(╯✧▽✧)╯ 	</option>
              <option value="o(>ω<)o 	">o(>ω<)o 	</option>
              <option value="( ‾́ ◡ ‾́ ) 	">( ‾́ ◡ ‾́ ) 	</option>
              <option value="(ﾉ´ヮ`)ﾉ*: ･ﾟ 	">(ﾉ´ヮ`)ﾉ*: ･ﾟ 	</option>
              <option value="(b ᵔ▽ᵔ)b 	">(b ᵔ▽ᵔ)b 	</option>
              <option value="(๑˃ᴗ˂)ﻭ">(๑˃ᴗ˂)ﻭ</option>
              <option value="( ˙꒳​˙ ) 	">( ˙꒳​˙ ) 	</option>
              <option value="(*꒦ິ꒳꒦ີ) 	">(*꒦ິ꒳꒦ີ) 	</option>
              <option value="(´･ᴗ･ ` ) 	">(´･ᴗ･ ` ) 	</option>
              <option value="(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ 	">(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ 	</option>
              <option value="(„• ֊ •„) 	">(„• ֊ •„) 	</option>
              <option value="(.❛ ᴗ ❛.)">(.❛ ᴗ ❛.)</option>
              <option value="(⁀ᗢ⁀) 	">(⁀ᗢ⁀) 	</option>
              <option value="(￢‿￢ ) 	">(￢‿￢ ) 	</option>
              <option value="(¬‿¬ ) 	">(¬‿¬ ) 	</option>
              <option value="(*￣▽￣)b">(*￣▽￣)b</option>
              <option value="( ˙▿˙ ) 	">( ˙▿˙ ) 	</option>
              <option value="(¯▿¯) 	">(¯▿¯) 	</option>
              <option value="( ◕▿◕ ) 	">( ◕▿◕ ) 	</option>
              <option value="＼(٥⁀▽⁀ )／">＼(٥⁀▽⁀ )／</option>
              <option value="(„• ᴗ •„) 	">(„• ᴗ •„) 	</option>
              <option value="(ᵔ◡ᵔ) 	">(ᵔ◡ᵔ) 	</option>
              <option value="( ´ ▿ ` ) 	">( ´ ▿ ` ) 	</option>
              <option value="(๑>◡<๑)">(๑>◡<๑)</option>
              <option value="( = ⩊ = ) 	">( = ⩊ = ) 	</option>
              <option value="( ´ ꒳ ` ) 	">( ´ ꒳ ` ) 	</option>
              <option value="⸜( ´ ꒳ ` )⸝ 	">⸜( ´ ꒳ ` )⸝ 	</option>
              <option value="⸜(⸝⸝⸝´꒳`⸝⸝⸝)⸝">⸜(⸝⸝⸝´꒳`⸝⸝⸝)⸝</option>
              <option value="⸜(*ˊᗜˋ*)⸝ 	">⸜(*ˊᗜˋ*)⸝ 	</option>
              <option value="⸜( *ˊᵕˋ* )⸝ 	">⸜( *ˊᵕˋ* )⸝ 	</option>
              <option value="(ᗒ⩊ᗕ)">(ᗒ⩊ᗕ)</option>
              <option value="(•⩊•) 	">(•⩊•) 	</option>
              <option value="( • ⩊ • )">( • ⩊ • )</option>
            </select>
            <div>{% trans 'Радость'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <select class="ql-kaomodji">
              <option selected value=":D">:D</option>
              <option value="(*・ω・)ﾉ 	">(*・ω・)ﾉ 	</option>
              <option value="(￣▽￣)ノ 	">(￣▽￣)ノ 	</option>
              <option value="(°▽°)/ 	">(°▽°)/ 	</option>
              <option value="( ´ ∀ ` )ﾉ">( ´ ∀ ` )ﾉ</option>
              <option value="(^-^*)/ 	">(^-^*)/ 	</option>
              <option value="(＠´ー`)ﾉﾞ 	">(＠´ー`)ﾉﾞ 	</option>
              <option value="(´• ω •`)ﾉ 	">(´• ω •`)ﾉ 	</option>
              <option value="( ° ∀ ° )ﾉﾞ">( ° ∀ ° )ﾉﾞ</option>
              <option value="ヾ(*'▽'*) 	">ヾ(*'▽'*) 	</option>
              <option value="＼(⌒▽⌒) 	">＼(⌒▽⌒) 	</option>
              <option value="ヾ(☆▽☆) 	">ヾ(☆▽☆) 	</option>
              <option value="( ´ ▽ ` )ﾉ">( ´ ▽ ` )ﾉ</option>
              <option value="(^０^)ノ 	">(^０^)ノ 	</option>
              <option value="~ヾ(・ω・) 	">~ヾ(・ω・) 	</option>
              <option value="(・∀・)ノ 	">(・∀・)ノ 	</option>
              <option value="ヾ(・ω・*)">ヾ(・ω・*)</option>
              <option value="(*°ｰ°)ﾉ 	">(*°ｰ°)ﾉ 	</option>
              <option value="(・_・)ノ 	">(・_・)ノ 	</option>
              <option value="(o´ω`o)ﾉ 	">(o´ω`o)ﾉ 	</option>
              <option value="( ´ ▽ ` )/">( ´ ▽ ` )/</option>
              <option value="(￣ω￣)/ 	">(￣ω￣)/ 	</option>
              <option value="( ´ ω ` )ノﾞ 	">( ´ ω ` )ノﾞ 	</option>
              <option value="(⌒ω⌒)ﾉ 	">(⌒ω⌒)ﾉ 	</option>
              <option value="(o^ ^o)/">(o^ ^o)/</option>
              <option value="(≧▽≦)/ 	">(≧▽≦)/ 	</option>
              <option value="(✧∀✧)/ 	">(✧∀✧)/ 	</option>
              <option value="(o´▽`o)ﾉ 	">(o´▽`o)ﾉ 	</option>
              <option value="(￣▽￣)/">(￣▽￣)/</option>
            </select>
            <div>{% trans 'Приветствие'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <select class="ql-kaomodji">
              <option selected value=";P">;P</option>
              <option value="(づ￣ ³￣)づ 	">(づ￣ ³￣)づ 	</option>
              <option value="(つ≧▽≦)つ 	">(つ≧▽≦)つ 	</option>
              <option value="(つ✧ω✧)つ 	">(つ✧ω✧)つ 	</option>
              <option value="(づ ◕‿◕ )づ">(づ ◕‿◕ )づ</option>
              <option value="(⊃｡•́‿•̀｡)⊃ 	">(⊃｡•́‿•̀｡)⊃ 	</option>
              <option value="(つ . •́ _ʖ •̀ .)つ 	">(つ . •́ _ʖ •̀ .)つ 	</option>
              <option value="(っಠ‿ಠ)っ 	">(っಠ‿ಠ)っ 	</option>
              <option value="(づ◡﹏◡)づ">(づ◡﹏◡)づ</option>
              <option value="⊂(´• ω •`⊂) 	">⊂(´• ω •`⊂) 	</option>
              <option value="⊂(･ω･*⊂) 	">⊂(･ω･*⊂) 	</option>
              <option value="⊂(￣▽￣)⊃">⊂(￣▽￣)⊃</option>
              <option value="⊂( ´ ▽ ` )⊃">⊂( ´ ▽ ` )⊃</option>
              <option value="( ~*-*)~ 	">( ~*-*)~ 	</option>
              <option value="(ノ= ⩊ = )ノ">(ノ= ⩊ = )ノ</option>
              <option value="(っ ᵔ◡ᵔ)っ">(っ ᵔ◡ᵔ)っ</option>
              <option value="(っ╹ᆺ╹)っ">(っ╹ᆺ╹)っ</option>
            </select>
            <div>{% trans 'Обнимашки'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <select class="ql-kaomodji">
              <option selected value="┐(シ)┌">┐(シ)┌</option>
              <option value="ヽ(ー_ー )ノ">ヽ(ー_ー )ノ</option>
              <option value="ヽ(´ー` )┌">ヽ(´ー` )┌</option>
              <option value="ヽ(　￣д￣)ノ">ヽ(　￣д￣)ノ</option>
              <option value="┐(￣ヘ￣)┌">┐(￣ヘ￣)┌</option>
              <option value="ヽ(￣～￣　)ノ">ヽ(￣～￣　)ノ</option>
              <option value="╮(￣_￣)╭">╮(￣_￣)╭</option>
              <option value="ヽ(ˇヘˇ)ノ">ヽ(ˇヘˇ)ノ</option>
              <option value="┐(￣～￣)┌">┐(￣～￣)┌</option>
              <option value="┐(︶▽︶)┌">┐(︶▽︶)┌</option>
              <option value="╮(￣～￣)╭">╮(￣～￣)╭</option>
              <option value="¯\_(ツ)_/¯">¯\_(ツ)_/¯</option>
              <option value="┐( ´ д ` )┌">┐( ´ д ` )┌</option>
              <option value="╮(︶︿︶)╭">╮(︶︿︶)╭</option>
              <option value="┐(￣∀￣)┌">┐(￣∀￣)┌</option>
              <option value="┐( ˘ ､ ˘ )┌">┐( ˘ ､ ˘ )┌</option>
              <option value="╮(︶▽︶)╭">╮(︶▽︶)╭</option>
              <option value="┐(￣ヮ￣)┌ 	">┐(￣ヮ￣)┌ 	</option>
              <option value="┐(シ)┌">┐(シ)┌</option>
            </select>
            <div>{% trans 'Безразличие'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <select class="ql-kaomodji">
              <option selected value=":-(">:-(</option>
              <option value="(ノ_<。)">(ノ_<。)</option>
              <option value="(-_-)">(-_-)</option>
              <option value="(´-ω-`)">(´-ω-`)</option>
              <option value=".･ﾟﾟ･(／ω＼)･ﾟﾟ･.">.･ﾟﾟ･(／ω＼)･ﾟﾟ･.</option>
              <option value="(μ_μ)">(μ_μ)</option>
              <option value="(ﾉД`)">(ﾉД`)</option>
              <option value="(-ω-、)">(-ω-、)</option>
              <option value="。゜゜(´Ｏ`) ゜゜。">。゜゜(´Ｏ`) ゜゜。</option>
              <option value="o(TヘTo)">o(TヘTo)</option>
              <option value="( ; ω ; )">( ; ω ; )</option>
              <option value="(｡╯︵╰｡)">(｡╯︵╰｡)</option>
              <option value="( ﾟ，_ゝ｀)">( ﾟ，_ゝ｀)</option>
              <option value="(个_个)">(个_个)</option>
              <option value="(╯︵╰,)">(╯︵╰,)</option>
              <option value="｡･ﾟ(ﾟ><ﾟ)ﾟ･｡">｡･ﾟ(ﾟ><ﾟ)ﾟ･｡</option>
              <option value="( ╥ω╥ )">( ╥ω╥ )</option>
              <option value="(╯_╰)">(╯_╰)</option>
              <option value="(╥_╥)">(╥_╥)</option>
              <option value="(／ˍ・、)">(／ˍ・、)</option>
              <option value="(ノ_<、)">(ノ_<、)</option>
              <option value="(╥﹏╥)">(╥﹏╥)</option>
              <option value="｡ﾟ(｡ﾉωヽ｡)ﾟ｡">｡ﾟ(｡ﾉωヽ｡)ﾟ｡</option>
              <option value="(つω`｡)">(つω`｡)</option>
              <option value="(｡T ω T｡)">(｡T ω T｡)</option>
              <option value="(ﾉω･､)">(ﾉω･､)</option>
              <option value="･ﾟ･(｡>ω<｡)･ﾟ･">･ﾟ･(｡>ω<｡)･ﾟ･</option>
              <option value="(T_T)">(T_T)</option>
              <option value="(>_<)">(>_<)</option>
              <option value="(っ˘̩╭╮˘̩)っ">(っ˘̩╭╮˘̩)っ</option>
              <option value="｡ﾟ･ (>﹏<) ･ﾟ｡">｡ﾟ･ (>﹏<) ･ﾟ｡</option>
              <option value="o(〒﹏〒)o">o(〒﹏〒)o</option>
              <option value="(｡•́︿•̀｡)">(｡•́︿•̀｡)</option>
              <option value="(ಥ﹏ಥ)">(ಥ﹏ಥ)</option>
              <option value="(ಡ‸ಡ)">(ಡ‸ಡ)</option>
            </select>
            <div>{% trans 'Грусть'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <select class="ql-kaomodji">
              <option selected value=">:(">>:(</option>
              <option value="(＃`Д´)">(＃`Д´)</option>
              <option value="(`皿´＃) 	">(`皿´＃) 	</option>
              <option value="( ` ω ´ )">( ` ω ´ )</option>
              <option value="ヽ( `д´*)ノ">ヽ( `д´*)ノ</option>
              <option value="(・`ω´・)">(・`ω´・)</option>
              <option value="(`ー´)">(`ー´)</option>
              <option value="ヽ(`⌒´メ)ノ">ヽ(`⌒´メ)ノ</option>
              <option value="凸(`△´＃)">凸(`△´＃)</option>
              <option value="( `ε´ )">( `ε´ )</option>
              <option value="ψ( ` ∇ ´ )ψ">ψ( ` ∇ ´ )ψ</option>
              <option value="ヾ(`ヘ´)ﾉﾞ">ヾ(`ヘ´)ﾉﾞ</option>
              <option value="ヽ(‵﹏´)ノ">ヽ(‵﹏´)ノ</option>
              <option value="(ﾒ` ﾛ ´)">(ﾒ` ﾛ ´)</option>
              <option value="(╬`益´)">(╬`益´)</option>
              <option value="┌∩┐(◣_◢)┌∩┐">┌∩┐(◣_◢)┌∩┐</option>
              <option value="凸( ` ﾛ ´ )凸">凸( ` ﾛ ´ )凸</option>
              <option value="Σ(▼□▼メ)">Σ(▼□▼メ)</option>
              <option value="(°ㅂ°╬)">(°ㅂ°╬)</option>
              <option value="ψ(▼へ▼メ)～→">ψ(▼へ▼メ)～→</option>
              <option value="(ノ°益°)ノ">(ノ°益°)ノ</option>
              <option value="(҂ `з´ )">(҂ `з´ )</option>
              <option value="(‡▼益▼)">(‡▼益▼)</option>
              <option value="(҂` ﾛ ´)凸">(҂` ﾛ ´)凸</option>
              <option value="((╬◣﹏◢))">((╬◣﹏◢))</option>
              <option value="٩(╬ʘ益ʘ╬)۶">٩(╬ʘ益ʘ╬)۶</option>
              <option value="(╬ Ò﹏Ó)">(╬ Ò﹏Ó)</option>
              <option value="(凸ಠ益ಠ)凸">(凸ಠ益ಠ)凸</option>
              <option value="୧((#Φ益Φ#))୨">୧((#Φ益Φ#))୨</option>
              <option value="٩(ఠ益ఠ)۶">٩(ఠ益ఠ)۶</option>
              <option value="(ﾉಥ益ಥ)ﾉ">(ﾉಥ益ಥ)ﾉ</option>
            </select>
            <div>{% trans 'Злость'%}</div>
          </div>
          <div class="row min_gap no_wrap on_middle_other">
            <select class="ql-kaomodji">
              <option selected>:O</option>
              <option value="w(°ｏ°)w">w(°ｏ°)w</option>
              <option value="ヽ(°〇°)ﾉ">ヽ(°〇°)ﾉ</option>
              <option value="Σ(O_O)">Σ(O_O)</option>
              <option value="Σ(°ロ°)">Σ(°ロ°)</option>
              <option value="(⊙_⊙)">(⊙_⊙)</option>
              <option value="(o_O)">(o_O)</option>
              <option value="(O_O;) ">(O_O;) </option>
              <option value="(O.O)">(O.O)</option>
              <option value="(°ロ°) !">(°ロ°) !</option>
              <option value="(o_O) !">(o_O) !</option>
              <option value="(□_□) ">(□_□) </option>
              <option value="Σ(□_□)">Σ(□_□)</option>
              <option value="∑(O_O;)">∑(O_O;)</option>
              <option value="( : ౦ ‸ ౦ : )">( : ౦ ‸ ౦ : )</option>
            </select>
            <div>{% trans 'Удивление'%}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="column limiter in_middle-self " style="white-space: pre-wrap;">
    <div id="editor" class="full_width full_height"></div>
  </div>
  {% if not request.user.is_authenticated %}
  <div class="column limiter in_middle-self ">
    <h1 class="title"> {% trans 'WYSIWYG онлайн редактор на quilljs' %} </h1>
      <div class="text">
      {% blocktrans %}
        Данный редактор был разработан только в развлекательных и общеобразовательных целях. Он может и должен использоваться только как пример реализации редактора с использованием <b>quilljs</b>. С его помощью вы сможете подготовить и создать <i>html страничку</i>, которую после сможете вставить туда, куда вам нужно.
      {% endblocktrans %}
      </div>
      <div class="text">
        {% trans 'Все обучающиеся материалы:' %}
      </div>
      <ol class="numeric_list">
        <li class="ref" ><a href="{% url 'articles-list' %}?page=1&tag={{quilljs_module_tag}}&tag={{quilljs_tag}}">{% trans 'По разработке модулей для редактора на quilljs' %}</a></li>
        <li class="ref"><a href="{% url 'articles-list' %}?page=1&tag={{quilljs_tag}}">{% trans 'По редактированию и кастомизации редактора на quilljs' %}</a></li>
      </ol>
  </div>
  {% endif %}
  <div id="editor-side-menu-vertical-limiter" class="full_width"></div>

{% endblock %}

{% block footer_tool %}
    <div class="row min_gap in_middle">
        {% if request.user.is_authenticated %}
        <abbr class="row" title="{% trans 'Сохранить' %}">
            <img id='save_btn' width="32" height="32" class="icon button   bordered_button dynamic_image loader" alt="{% trans 'Сохранить' %}" src="{% static 'placeholder.svg' %}" data-src="{% static 'PostEditor/img/save.svg' %}">
        </abbr>
        <abbr class="row" title="{% trans 'Загрузить' %}">
            <img id='load_btn' width="32" height="32" class="icon button  bordered_button dynamic_image loader" alt="{% trans 'Загрузить' %}" src="{% static 'placeholder.svg' %}" data-src="{% static 'PostEditor/img/list.svg' %}">
        </abbr>
        <abbr class="row" title="{% trans 'Скачать всё' %}">
          <a id='download_btn' href='#'>
            <img width="32" height="32" class=" icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'PostEditor/img/download.svg' %}" alt="{% trans 'Крестик' %}">
          </a>
        </abbr>
        {% else %}
        <abbr class="row" title="{% trans 'Скачать содержимое' %}">
            <img id='download_btn_raw' width="32" height="32" class=" icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'PostEditor/img/download.svg' %}" alt="{% trans 'Крестик' %}">
        </abbr>
        {% endif %}
    </div>
    <div class="el-expandable"></div>
{% endblock %}

{% block styles_tool %}
  <link type="text/css" rel="stylesheet" href="{% static 'Post/css/post.css' %}"/>
  {# Need for html_media_checker, which stylesheet to check, start point #}
  <link id='post_styles_exporter_top_line' type="text/css" rel="stylesheet" href="{% static 'PostEditor/css/main.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'video.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'tables.css' %}"/>
    {# Specified a special keyword to trigger check function #}
    <link data-special='table_of_content' type="text/css" rel="stylesheet" href="{% static 'table_of_content.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/tabs.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"/>
  {# Need for html_media_checker, which stylesheet to check, end point #}
  <link id='post_styles_exporter_bottom_line' type="text/css" rel="stylesheet" href="{% static 'progressbar.css' %}"/>
{% endblock %}

{% block scripts_tool %}
    <script src="{% static 'PostEditor/js/modal.js' %}"></script>
    <script src="{% static 'PostEditor/js/notificator.js' %}"></script>
    <script src="{% static 'PostEditor/js/editor.js' %}"></script>
    {# Need for html_media_checker, which script to check, start point #}
    <script id='post_script_exporter_top_line' src="{% static 'PostEditor/js/utils.js' %}"></script>
      <script data-special='video' src="{% static 'video.js' %}"></script>
      <script data-special='table_of_content' type="application/json" src="{% static 'table_of_content.js' %}"></script>
      <script data-special='image_previewer' src="{% static 'image_previewer.js' %}"></script>
      <script data-special='tabs' src="{% static 'Post/js/tabs.js' %}"></script>
      <script data-special='code' src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    {# Need for html_media_checker, which script to check, end point #}
    <script id='post_script_exporter_bottom_line' src="{% static 'PostEditor/js/quill-engine.js' %}"></script>
    <script src="{% static 'PostEditor/js/side_menu.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_images.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_blocks.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_videos.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_codeblock.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_abbr.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_links.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_table.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill_table_of_contents.js' %}"></script>
    <script src="{% static 'PostEditor/js/quill.js' %}"></script>
{% endblock %}