{% load i18n %}
{% load static %}

<div id="table_of_content" class="table_of_content">
	<div class="table_of_content_title">{% trans "Содержание" %}</div>
	<ul class="table_of_content_list">
		{% for el in titles %}
		<li class="table_of_content_element {{el.padding}}">
			<p class="table_of_content_sign">{{el.tag_name}}</p>
			<p class="table_of_content_text" href="{{el.ref}}">{{el.text}}</p>
		</li>
		{% endfor %}
	</ul>
</div> 

<div id="current_header" data-current="0"></div>
<div id="table_of_content-minified" class="table_of_content-minified column max_gap padder">
	<div id="table_of_content-up" class="table_of_content_button_up squered_button  action_button_black">
		<img width="32" height="32" class="icon" src="/static/chevron.svg" alt="Chevron">
	</div>
	<div id="table_of_content-down" class="table_of_content_button_down squered_button  action_button_black">
		<img width="32" height="32" class="icon" src="/static/chevron.svg" alt="Chevron">
	</div>
</div>
