{% load i18n %}
{% load static %}

<fieldset class="el-expandable el-shrinkable el-300-min-basis">
    <legend>
        <div class="row mid_gap in_middle on_start no_wrap" >
            <div>{% trans "Сортировка постов по алфавиту" %}</div>
        </div>
    </legend>
    <div class="row min_gap">
        {% for letter in letters %}
            <div id='letter-{{letter}}' data-letter='{{letter}}' class='letter_button button action_button_white squered_button bordered_button' style='padding: 2px 6px 2px 6px;'>{{letter}}</div>
        {% endfor %}
    </div>
</fieldset>