.side_bar_container{
    display: flex;
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    width: 0;
    left: 0;
    background-color: var(--secondary_color);
    transition: 0.2s;
    z-index: 3;
    border-right: 4px solid var(--main_color);
    margin-bottom: 36px;
}