.comments_counter_header{
    font-weight: 100;
    font-size: 20px;
    vertical-align: text-top;
    font-family: initial;
}
.empty_comments_placeholder{
    display: flex;
    width: 100%;
    min-height: 200px;
    background-color: #ffffff73;
    border-radius: var(--post_preview_border-radius);
    padding: 5px;
    z-index: 0;
    position: relative;
}
.comment{
    background-color: #ffffff73;
    border-radius: var(--post_preview_border-radius);
    padding: 5px;
    z-index: 0;
    position: relative;
    box-shadow: var(--box-shadow);
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
}
.comment_person{
    font-weight: 300;
}
.comment_time{
    font-weight: 300;
}
.add_comment_form{
    background-color: #ffffff73;
    padding: var(--button_padding_top_bot);
    border-radius: var(--post_preview_border-radius);
    z-index: 0;
    position: relative;
    box-shadow: var(--box-shadow);
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
}
/* Rating stuff */
.comment_rating{
    display: flex;
    gap: var(--min_gap);
}

#id_rating > div:nth-child(7) > label:nth-child(1), #id_rating > div:nth-child(1) > label:nth-child(1), #id_rating > * > label > input  {
    display: none;
}

#id_rating{
    display: flex;
    flex-direction: row;
}

#id_rating > * > label {
    font-size: 30px;
}

.selected_star{
    color: rgb(255, 255, 86);
}
.selected_star::after{
    content: '★';
}
.not_selected_star{
    color: rgb(0, 0, 0);
}
.not_selected_star::after{
    content: '✰';
}