.list_simple{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.list_simple_el{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.list_simple_el__sign{
	font-size: 10px;
	margin-right: 20px;
}
.list_simple_el__text{
	
}

.list_nested{
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 10px;
}

.list_nested_el{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.list_nested_el__sign{
	display: flex;
	align-self: center;
	font-size: 10px;
	margin-right: 20px;
	padding: 3px;
	border: 1px solid black;
}
.list_nested_el__text{
	word-wrap:break-word;	
}
