{% load static%}
{% load i18n %}

<div id="feed_meta_data" data-feed-id="{{feed_id}}" data-offset="{{feed_offset}}" data-sorted="{{feed_sorted}}" data-view="{{feed_view}} "data-elements-in-feed="{{feed_length}}"></div>
{% for p in posts %}
<div class="post_preview column min_row_gap">
    <h2><a class="text_button" href="{{ p.link }}">{{ p.title | safe | truncatewords:10 }}</a></h2>
    <div class="row min_col_gap">
        <img class="in_middle-self icon_small dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% static "Post/img/clock.svg" %}' alt="{% trans "Часы" %}">
        <div>{{ p.date_published | safe }}</div>
    </div>
    <div class="post_preview_body">
        {{ p.description | safe | truncatewords:50 }}
    </div>
</div>
{% endfor %}