{% extends 'Post/base_tool.html' %}
{% load static%}
{% load i18n %}

{% block head_tool %}
	<title>{% trans "RSS Лента и агрегатор | Тим зе вебмастер" %}</title>
	<meta name="description" content="{% trans "Данный инструмент позволит просматривать и подписываться на интерерующие тебя rss фиды и каналы бесплатно и в неограниченом количестве." %}">
	<meta name="keywords" content="{% trans 'rss поток, добавление rss, rss приложение, регистрация rss, чтение rss, подключение rss, добавить rss ленту, rss фильтр, мобильные rss, веб rss, rss лента онлайн, сортировка rss ленты' %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'rss_aggregator'%}" />
{% endblock %}


{% block hat_tool %}
	<div class="header_button"  data-body="rss_aggregator_mobile_groups_container">
		<img id="feeds_group" width="32" height="32" class="icon button dynamic_image squered_button active_group_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'RSSAggregator/img/groups.svg' %}" alt="{% trans 'one layer on top of anothe' %}">
	</div>
{% endblock %}

{% block content_tool %}
	<div id="rss_aggregator_mobile_groups_container">
	</div>
	<div class="modal modal-window" data-btn-id="onAddFeed" data-btn-close-id="onCloseModal">
		<div class="modal-content">
			<div class="modal_body">
				<div class="row in_middle">
					<div class="row mid_gap on_end_other">
						<form id="toAddFeed column">
							<div>{% trans "Введи URL RSS канала" %}</div>
							<p id="feedurl-error" class="hint-required"></p>
							<input placeholder="{% trans "http(s)://domain.com/file.rss" %}" type="text" name="feedname" autocomplete="off" id="feedname">						
						</form>
					</div>
				</div>
			</div>
			<hr>
			<div class="modal_actions">
				<img id="onAddFeedSubmit" width="32" height="32" class="close_modal svg_icon_inverted icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'ok.svg' %}" alt="{% trans 'Крестик' %}" style='border-bottom-left-radius: var(--modal-radius)'>	
				<img id='onCloseModal' width="32" height="32" class="close_modal svg_icon_inverted icon dynamic_image bordered_button button" src="{% static 'placeholder.svg'%}" data-src="{% static 'close.svg' %}" alt="{% trans 'Крестик' %}" style='border-bottom-right-radius: var(--modal-radius)'>
			</div>
		</div>
	</div>
	<div id="progressbar" class="marger in_middle" >
		<div class="progressbar-container">
			<div class="progress-loader"></div>
		</div>
	</div>
	<div class="limiter in_middle in_middle-self no_wrap padder">
		<h1 class="paragraph">{% trans 'RSS Лента и агрегатор' %}</h1>
		<div id="rss_aggregator_main" class="row in_middle-farapart mid_gap">
			<div id="rss_aggregator_feed" class="el-40-half column el-expandable  mid_row_gap">
				<div class="row in_middle-farapart in_middle">
					<h2>{% trans 'Просмотр фидов' %}</h2>
					<div class="tooltip">
						<span class="tooltiptext">{% trans 'Сортировка по времени'%}</span>
						<img id="onSort" data-sort="true" width="32" height="32" class="icon dynamic_image bordered_button button squered_button loader" src="{% static 'placeholder.svg'%}" data-src="{% static 'Post/img/sort.svg' %}" alt="{% trans 'Значок сортировки' %}">
					</div>
				</div>
				<hr>
				<div id="rss_posts" class="toObserve column max_gap">
				
				</div>
				<hr class="hr_paginator">
				<div id="rss-paginator" class="full_width no_wrap row in_middle max_col_gap">
					<div id="rss-paginator_first_page_example" data-feed-id="" data-offset="" class="example_pagin_button pagin_button first_pagin_button button bordered_button squered_button"></div>
					<div id="rss-paginator_dots_example" data-feed-id="" data-offset=""  class="example_pagin_button pagin_dots">...</div>
					<div id="rss-paginator_default_page_example" data-feed-id="" data-offset=""  class="example_pagin_button pagin_button button bordered_button squered_button"></div>
					<div id="rss-paginator_last_page_example" data-feed-id="" data-offset=""  class="example_pagin_button pagin_button last_pagin_button  button bordered_button squered_button"></div>
					<div id="prev_pagin_button" data-feed-id="" data-offset=""  class=" button  squered_button  action_button">
						<img width="32" height="32" class="icon flip_vert" src="{% static "chevron.svg" %}" alt="{% trans "Шеврон"%}">
					</div>
					<div id="paginator_body" class="row no_wrap full_width in_middle min_col_gap">
						{# Place to insert buttons #}
					</div>
					<div id="next_pagin_button" data-feed-id="" data-offset="" class=" button  squered_button  action_button">
						<img width="32" height="32" class="icon" src="{% static "chevron.svg" %}" alt="{% trans "Шеврон"%}">
					</div>
				</div>
			</div>
			<div id="rss_aggregator_groups" class="el-40-half column el-expandable mid_row_gap">
				<div class="row in_middle-farapart in_middle">
					<h2>{% trans 'Подписки на rss каналы/фиды' %}</h2>
				</div>
				<hr>
				<div id="rss_feeds" class="toObserve min_gap">
					
				</div>
				<div id="feeds_actions" class="row">
					<div class="row el-expandable" >
						<img id="onAddFeed" width="32" height="32" class="icon dynamic_image bordered_button button squered_button" src="{% static 'placeholder.svg'%}" data-src="{% static 'RSSAggregator/img/add_feed.svg' %}" alt="{% trans 'Иконка корзины' %}">
					</div>
				</div>
			</div>
		</div>
		<h2 class="paragraph">{% trans 'О данном RSS сервисе' %}</h2>
		<div class="text">
			{% blocktrans %}
			Этот онлайн агрегатор лент позволяет добавлять, регистрировать и подключатть любые rss фиды по ссылке на этот фид. Количество подписок не ограничено. Поддерживается 1-я и 2-я версия rss, также ленты работающие на атоме.
			{% endblocktrans %}
		</div>
		<div class="text">
			{% blocktrans %}
			Он доступен как на десктопах, так и на мобильных устройствах.
			{% endblocktrans %}
		</div>
	</div>
{% endblock %}

{% block footer_tool %}
{% endblock %}

{% block styles_tool %}
	<link type="text/css" rel="stylesheet" href="{% static 'RSSAggregator/css/paginator.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'RSSAggregator/css/rss-aggregator.css' %}"/>
{% endblock %}

{% block scripts_tool %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'RSSAggregator/js/paginator.js' %}"></script>
	<script src="{% static 'RSSAggregator/js/rss-aggregator.js' %}"></script>
{% endblock %}

