{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<meta name="robots" content="noindex">
<meta name="description" content="{% trans "Страница не найдена на сайте Тим вебмастер" %}">
<title>{% trans "Тим вебмастер. Страница не найдена" %}</title>
{% endblock %}

{% block navigation_head %}
<div class="name"><b>404</b></div>
<p class="quote">{% trans "Неправильный URL" %}</p>
{% endblock navigation_head %}


{% block content %}
	<div class="page_not_found">
		{% trans "Страница не найдена" %}
	</div>
{% endblock %}


{% block styles %}
{% endblock %}
