{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
	<title>{% trans "Тим, Вебмастер. Всё об авторе и его деятельности." %}</title>
	<meta name="description" content="{% trans "О вебмастере Тиме Чудуке. Его истории, интересах и оказываемых услугах разработки сайтов, тг ботов, скриптов, парсеров и копирайта" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'about'%}" />
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "ProfilePage",
		  "dateCreated": "2023-10-09T12:34:00-05:00",
		  "dateModified": "2024-10-02T14:53:00-05:00",
		  "mainEntity": {
			"@type": "Person",
			"name": "{% trans 'Тима Чудук' %}",
			"description": "Defender of Truth",
			"image": "{% static '/Main/img/me1.jpg' %}",
			"sameAs": [
			  "https://vk.com/timachuduk",
			  "https://x.com/TimaChedr",
			  "https://www.reddit.com/user/DmRafaule/",
			  "https://www.instagram.com/timachedr/"
			]
		  }
		}
	</script>	
{% endblock %}

{% block content %}

<div class="limiter in_middle in_middle-self no_wrap padder">
	{% if feedback_message|length > 0 %}
	<div class="notification">
		{{ feedback_message }}
	</div>
	{% endif %}

	<div class="row in_middle">
		<h1 class="home_title" >{% trans "О Тиме Вебмастере" %}</h1>
		<canvas id='canvas' class="canvas_as_element" data-vertex-shader="{% static "WebGLEngine/shaders/home_gik.vert" %}" data-fragment-shader="{% static "WebGLEngine/shaders/home_gik.frag" %}"></canvas>
	</div>
	<div class="text row max_gap">
		<div class="column el-expandable el-no_shrinkable el-300-min-basis">
			<div class="text" style='margin: 0'>
				{% blocktrans %}
				Знаешь, я эту страницу 10й переписываю. Мне это “немножко” надоело, хочу рассказать и то и сё и хочется о своей боли рассказать, и о том почему я занялся этим, и вообще, кто я такой. Но слов всегда не достаточно и всегда, что-нибудь перечитывая, я натыкаюсь на какую-нибудь неточность или недосказанность и понеслась … Начинаю с редактирования одного предложения, а заканчиваю полной переделкой всей страницы.
				{% endblocktrans %}
			</div>
			<div class="text">
				{% blocktrans %}
				Но не в этот раз. На этот раз, эта страница должна продержаться очень долго). Отчего же я так в этом уверен ? Ну просто потому, что я напишу максимально кратко и ёмко. Кто я, зачем я и почему я.
				{% endblocktrans %}
			</div>
			<div class="text">
				{% blocktrans %}
				Начну с себя. Я Дима, приятно познакомиться. Теперь ты знаешь почему timthewebmaster. (Тим это одна из форм имени Димы, ну если ты не догадался или не знал). Фамилия моя Чудук. Прикольная фамилия, скажу я тебе, однофамильцев пока не встречал, только родственников).
				{% endblocktrans %}
			</div>
		</div>
		<div>	
			<img src="placeholder.svg" data-src="{% static '/Main/img/me1.jpg' %}" class=" dynamic_image " style="border-radius: 10px; max-width: 300px; max-height: 400px;">
			<div class="under_image">
				{% trans 'А это я.' %}
			</div>
		</div>
	</div>
	<div class="text row max_gap" style='flex-wrap: wrap-reverse;'>
		<div>
			<img src="placeholder.svg" data-src="{% static '/Main/img/sity1.jpg' %}" class=" dynamic_image " style="border-radius: 10px; max-width: 300px; max-height: 400px;">
			<div class="under_image">
				{% trans 'Просто красивый вид. Где я живу.' %}
			</div>
		</div>
		<div class="column el-expandable el-no_shrinkable el-300-min-basis">
			<div class="text">
				{% blocktrans %}
				Кем работаю, учусь ли я и какое вообще у меня образование? Во всех гайдах и рекомендациях указывается, что такие данные нужно обязательно указывать, чтобы вызвать доверие и показать что ты реальный ЧЕЛОВЕК. Ну хорошо, что ещё паспортные данные не рекомендуют указывать)
				{% endblocktrans %}
			</div>
			<div class="text">
				{% blocktrans %}
				Ну а если серьёзно, то я не очень люблю рассказывать такие детали. Скажу лишь что моим образованием можно подтереть ****. А работаю я где придётся и где берут. Будь то фриланс или реальная физическая работа. Не карьерист я короче).
				{% endblocktrans %}
			</div>
			<div class="text">
				{% blocktrans %}
				Впрочем, об учёбе. Да я учусь, постоянно и самостоятельно. То есть, нет я не студент. Меня скорее лучше опишет слово Маргинал или Хастлер. Вот.
				{% endblocktrans %}
			</div>
		</div>
	</div>
	
	<div class="text">
		{% blocktrans %}
		Теперь, напишу о чём этот сайт и что тут можно найти. Вообще, у этого сайта нет какой-то определённой цели или направленности. Это сайт обо всём что мне интересно и скорее существует с той целью, чтобы обозначить моё присутствие в интернете. А вот темы которые меня интересуют: 
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		<li>Разработка телеграм ботов</li>
		<li>Разработка и продвижение сайтов</li>
		<li>Копирайтинг (писательское искуство)</li>
		<li>Маркетинг (SEO, SEM, SMM)</li>
		<li>Создание парсеров и их поддержка</li>
		<li>Сетевое администрирование</li>
		<li>3D рендеринг и математика</li>
		<li>Разработка игр и сервисов</li>
		<li>История</li>
		{% endblocktrans %}
	</ul>
	<div class="text">
		{% blocktrans %}
		Если тебя также интересуют такие вещи, то рад знакомству). Если нет, то всё равно рад встрече). Так же на сайте ты сможешь найти, такие штуки как: 
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		<li>Статьи на <u>интересующие меня темы</u></li>
		<li>Статьи личного характера</li>
		<li>Кейсы связанные с моей работай</li>
		<li>Инструменты и вебсервисы под различные нужды и потребности</li>
		<li>Новости касающиеся меня лично, либо <u>интересных мне тем</u></li>
		<li>Авторские изображения/карикатуры ( т.е. мои)</li>
		<li>Архивы, скрипты, программы и прочие файлы для скачивания</li>
		{% endblocktrans %}
	</ul>
	{% if more_about_me_tag %}
	<div class="text ref">
		{% blocktrans %}
		Вот, собственно говоря, всё что я хотел сказать про себя и сайт. Если хочешь узнать больше обо мне и моём прошлом, милости прошу 
		{% endblocktrans %}
		<a href="{% url 'articles-list' %}?page=1&type=full&is_recent=true&mode=basic&tag={{more_about_me_tag}}">{% trans 'почитать соответствующие статьи' %}</a>. 
		{% blocktrans %}
		Кстати, где-то здесь будет облако тегов всего моего сайта, каждое слово будет представлять из себя ссылку на соответствующую страницу пагинации. (Если его нет, то прости, ещё в процессе)
		{% endblocktrans %}
	</div>
	{% else %}
	<div class="text">
		{% blocktrans %}
		Вот, собственно говоря, всё что я хотел сказать про себя и сайт. Если хочешь узнать больше обо мне и моём прошлом, милости прошу почитать соответствующие статьи. Кстати, где-то здесь будет облако тегов всего моего сайта, каждое слово будет представлять из себя ссылку на соответствующую страницу пагинации. (Если его нет, то прости, ещё в процессе)
		{% endblocktrans %}
	</div>
	{% endif %}
	<img src="placeholder.svg" data-src="{% static '/Main/img/sity2.jpg' %}" class="marger_top_mid dynamic_image full_width" style="border-radius: 10px; ">
	<div class="under_image">
        {% trans 'Ещё одно красивое фото, где я когда-то жил.' %}
    </div>
	<div class="text">
		{% blocktrans %}
		На момент прочтения данной страницы тобой, мне 
		{% endblocktrans %}
		{{me_years}} 
		{% blocktrans %}
		года. И моему сайту 1 год.
		{% endblocktrans %}
	</div>
</div>
{% endblock %}


{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/about.css' %}"/>
{% endblock %}

{% block scripts %}
    {% csrf_token %}
    <script>
		var STATIC = "{% static . %}"
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
	<!-- Простой 3д рендерер для сайта -->
	<script src="{% static 'WebGLEngine/js/webgl_engine_v1.js' %}"></script>
	<script src="{% static 'WebGLEngine/shaders/shader-simple_pcp.js' %}"></script>
	<!-- Скрипт для рендеринга на определённом канвасе -->
    <script src="{% static 'WebGLEngine/js/home_gik.js' %}"></script>
{% endblock %}
