{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
	<title>{% trans "Тим, Вебмастер. Всё об авторе и его деятельности." %}</title>
	<meta name="description" content="{% trans "О вебмастере Тиме Чудуке. Его истории, интересах и оказываемых услугах разработки сайтов, тг ботов, скриптов, парсеров и копирайта" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'about'%}" />
{% endblock %}

{% block content %}
<div class="limiter in_middle in_middle-self no_wrap padder">
	<h1 class="title_in_middle">{% trans "О Тиме" %}</h1>
	<h2 class="paragraph">{% trans "Знакомство"%}</h2>
	<div class="introduction">
		<div>
			<div class="text">
				{% blocktrans %}
				Привет, рад что ты решил узнать меня поближе.
				{% endblocktrans %}
			</div>
			<div class="text">
				{% blocktrans %}
				Давай знакомиться. Я Дима Чудук, или просто Тим <i>(мне этот вариант имени больше нравится)</i>.
				Текущее место проживания город Минск, Беларусь.
				{% endblocktrans %}
				{% trans "Сейчас мне " %}{% now "y" %}{% trans " года."%}
			</div>
		</div>
		<img class="image image-min_sized dynamic_image" width="629" height="1200" src="{% static 'placeholder.svg' %}" data-src="{% static 'Main/img/me1.jpg' %}" alt="{% trans "Дмитрий Чудук или Тим Вебмастер" %}">
	</div>
	<h2 class="paragraph">{% trans "Чем занимаюсь" %}</h2>
	<div class="text">
		{% blocktrans %}
		Фрилансер в сфере IT, а конкретно в Вебе. 
		{% endblocktrans %}
	</div>
	<div class="text">
		{% blocktrans %}
		Занимаюсь тем, что разрабатываю:
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		<li>Телеграмм ботов</li>
		<li>Парсеры</li>
		<li>Скрипты, различной тематики и направленности
		<li>Утилиты и инструменты</li>
		{% endblocktrans %}
	</ul>
	<div class="text">
		{% blocktrans %}
		Всё это делаю в различных интерфейсах:
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		<li>Web интерфейс </li>
		<li>Интерфейс командной строки.</li>
		<li>Графический интерфейс </li>
		{% endblocktrans %}
	</ul>
	<div class="text">
		{% blocktrans %}
		Создаю, поддерживаю и продвигаю сайты, с использованием Django фреймворка.
		{% endblocktrans %}
	</div>
	<h2 class="paragraph">{% trans "С чего начать" %}</h2>
	<div class="text ref">
		{% blocktrans %}
		Если ты не знаешь с чего начать, то советую зайти в раздел 
		{% endblocktrans %}
		<a href="{% url 'tools-list' %}">{% trans " инструментов "%}</a>
		{% blocktrans %}
		и поиграть там немного.
		{% endblocktrans %}
	</div>
	<div class="text ref">
		{% blocktrans %}
		Дальше можно перейти в раздел
		{% endblocktrans %}
		<a href="{% url 'articles-list' %}">{% trans " статей. "%}</a>
		{% blocktrans %}
		Мой блог создан таким образом, что каждая статья это почти чистый лист, без ограничений, в творческом
		смысле этого слова. И поэтому, каждая статья уникальна в плане вёрстки и дизайна
		{% endblocktrans %}
	</div>
	<div class="text ref">
		{% blocktrans %}
		Интересует мой опыт и навыки? Тогда тебе в раздел 
		{% endblocktrans %}
		<a href="{% url 'cases-list' %}">{% trans " кейсов "%}</a>
		{% trans " или "%}
		<a href="{% url 'services-list' %}">{% trans " услуг "%}</a>
		{% blocktrans %}
		( тоже самое, что кейсы, только сгруппированы по направлениям моей деятельности). 
		{% endblocktrans %}
	</div>
	<h2 class="paragraph">{% trans "Как связаться" %}</h2>
	<div class="text">
		{% blocktrans %}
		Со мной можно связаться через данные соцсети:
		{% endblocktrans %}
	</div>
	<ul class="list_without_sign">
		<li class="ref">
			<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'instagram.svg' %}" alt="{% trans "instagram иконка" %}">
			<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://www.instagram.com/timachedr/" >Instagram</a>
		</li>
		<li class="ref">
			<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'vk.svg' %}" alt="{% trans "vk иконка" %}">
			<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://vk.com/timachuduk" >VK</a>
		</li>
		<li class="ref">
			<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'telegram.svg' %}" alt="{% trans "telegram иконка" %}">
			<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://t.me/DmitryChedr" >Telegram</a>
		</li>
		<li class="ref">
			<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'twitter.svg' %}" alt="{% trans "twitter иконка" %}">
			<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://twitter.com/TimaChedr" >Twitter</a>
		</li>
	</ul>
	<div class="text">
		{% blocktrans %}
		Или форму обратной связи.
		{% endblocktrans %}
	</div>
	<form id="toSignup">
		<div>
			<p id="username-error" class="hint-required"></p>
			<input placeholder="{% trans "* имя" %}" type="text" name="username" id="username">
		</div>
		<div>
			<p id="email-error" class="hint-required"></p>
			<input placeholder="{% trans "* почта" %}" type="email" name="email" id="email">
		</div>
		<div>
			<textarea placeholder="{% trans "Сообщение" %}" name="about" id="about"></textarea>
		</div>
		<div class="rules">
			<ul class="list_without_sign">
				<li>{% trans "Поля отмеченые * обязательны к заполнению" %}</li>
				<li>{% trans "Имя должно состоять от 3 до 25 букв" %}</li>
				<li>{% trans "Email должен быть настоящим" %}</li>
			</ul>
		</div>
		<div id="common-error" class="hint-required"></div>
		<div id="send_button" class="button squered_button action_button">
			{% trans "Отправить" %}
		</div>
	</form> 
	<div class="text ref">
		{% blocktrans %}
		Или почту chedrden@gmail.com. А можно сразу написать
		{% endblocktrans %} 
		<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://mail.google.com/mail/?view=cm&source=mailto&to=ChedrDen@gmail.com" >{% trans "письмо." %} </a>
	</div>
</div>
{% endblock %}


{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/about.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'Main/js/contact.js' %}"></script>
{% endblock %}
