{% load static%}
{% load i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block head %}
	{% endblock %}
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="icon" href="/favicon.ico" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="{% static 'config.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'zero.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'text.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'layout.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'buttons.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'dynamic.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'icons.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'links.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'sticky.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'menu_items.css' %}"/>
	{% block styles %}
	{% endblock %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9ND0H16BPP"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-9ND0H16BPP');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter95199635 = new Ya.Metrika({
						id:95199635,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				x = "https://mc.yandex.ru/metrika/watch.js",
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			for (var i = 0; i < document.scripts.length; i++) {
				if (document.scripts[i].src === x) { return; }
			}
			s.type = "text/javascript";
			s.async = true;
			s.src = x;

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/95199635" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<body class="wrapper">
	{% url 'profile' user.slug  as tested_url %}
	<header id="header" class="sticky">
		<div id="menu_button" class="button squered_button">
			<img width="32" height="32" class="icon dynamic_image squered_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'menu.svg' %}" alt="{% trans '3 горизонтальные линии, бургер' %}">
		</div>
		<div class="expander">
		</div>
		{% if request.session.is_auth %}
			<div  class="button rounded_button">
				<a href="{{ tested_url }}" id="profile_ref">
				{% if user.avatar|length > 0 %}
				<img class="icon icon_avatar dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src='{% get_media_prefix %}{{ user.avatar }}' alt="{% trans "Твой аватар" %}">
				{% else %}
					<img class="icon icon_avatar dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'User/img/default_avatar.svg' %}" alt="{% trans "Аватар по умолчанию" %}">
				{% endif %}
				</a>
			</div>
		{% endif %}
		<div class="button rounded_button">
			<a class="logo" href="{% url 'home' %}">
				<img class="icon dynamic_image rounded_button" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'favicon.svg' %}" alt="{% trans 'Главная иконка сайта' %}">
			</a>
		</div>
	</header>
	<main id="main">
		<nav id="nav">
			<ul>
				<li class="nav_menu_item"><a class=" text_button" href="{% url 'home'%}">{% trans "Домашняя" %}</a></li>
				<li class="nav_menu_item"><a class=" text_button" href="{% url 'about'%}">{% trans "Об авторе" %}</a></li>
				<li class="nav_menu_item"><a class=" text_button" href="{% url 'contacts'%}">{% trans "Контакты" %}</a></li>
				{% for cat_spec in categories_special %}
				<li class="nav_menu_item"><a class=" text_button" href="{{ cat_spec.get_absolute_url }}">{{cat_spec.name}}</a></li>
				{% endfor %}
				<li class="nav_menu_item">
					<div class="text_button toggle_button">
						{% trans "Контент" %}
						<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'chevron.svg' %}"  alt="{% trans 'Шеврон' %}">
					</div>
					<div class="toggle_button_body">
						<ul>
							{% for cat_spec in categories %}
							<li class="nav_menu_item"><a class=" text_button" href="{{ cat_spec.get_absolute_url }}">{{cat_spec.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</li>
				<li class="nav_menu_item">
					<div class="text_button toggle_button">
						{% trans "Язык" %}
						<img class="icon dynamic_image" width="32" height="32" src="{% static 'placeholder.svg' %}" data-src="{% static 'chevron.svg' %}" alt="{% trans 'Шеврон' %}" >
					</div>
					<div class="toggle_button_body">
						<ul>
							<li class="nav_menu_item"><a class=" text_button" href="/ru{{ request.get_full_path|cut:"ru/"|cut:"en/" }}">{% trans "Русский" %}</a></li>
							<li class="nav_menu_item"><a class=" text_button" href="/en{{ request.get_full_path|cut:"ru/"|cut:"en/" }}">{% trans "Английский" %}</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
		<!--Here you should paste (posts, articles, projects, about, contacts, busket, home )-->
		{% block content %}
		{% endblock %}
	</main>
	<footer>
		<div class="footer_links">
			<div class="other_links">
				<div class="footer_links_title">
					<b>{% trans "Другие ссылки" %}</b>
				</div>
				<ul class="footer_links_links">
					<li class="ref"><a href="/sitemap.xml">{% trans "Карта сайта" %}</a></li>
					<li class="ref"><a href="{% url 'login' %}">{% trans "Войти" %}</a></li>
					<li class="ref"><a href="{% url 'signup' %}">{% trans "Зарегистрироваться" %}</a></li>
					<li class="ref"><a href="{% url 'about' %}">{% trans "Об авторе" %}</a></li>
					<li class="ref"><a href="{% url 'contacts' %}">{% trans "Контакты" %}</a></li>
				</ul>
			</div>
			<div class="popular_links">
				<div class="footer_links_title">
					<b>{% trans "Популярные ссылки" %}</b>
				</div>
				<ul>
				{% block footer_links %}
				{% endblock %}
				</ul>
			</div>
			<div class="social_links">
				<div class="footer_links_title">
					<b>{% trans "Социальные сети" %}</b>
				</div>
				<ul>
					<li><a target="_blank" rel="contact" rev="{% trans "Контактная страница Тимы"%}" href="https://t.me/DmitryChedr" ><img width="32" height="32" class="icon button rounded_button dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% static 'telegram.svg' %}" alt="{% trans "telegram иконка" %}"></a></li>
					<li><a target="_blank" rel="contact" rev="{% trans "Контактная страница Тимы"%}" href="https://mail.google.com/mail/?view=cm&source=mailto&to=ChedrDen@gmail.com" ><img width="32" height="32" class="icon button rounded_button dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% static 'email.svg' %}" alt="{% trans "email иконка"%}"></a></li>
				<li><a target="_blank" rel="contact" rev="{% trans "Контактная страница Тимы"%}" href="https://vk.com/timachuduk" ><img width="32" height="32" class="icon button rounded_button dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% static 'vk.svg' %}" alt="{% trans "vk иконка"%}"></a></li>
				<li><a target="_blank" rel="contact" rev="{% trans "Контактная страница Тимы"%}" href="https://www.instagram.com/timachedr/" ><img width="32" height="32" class="icon button rounded_button dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% static 'instagram.svg' %}" alt="{% trans "instagram иконка"%}"></a></li>
					<li><a target="_blank" rel="contact" rev="{% trans "Контактная страница Тимы"%}" href="https://twitter.com/TimaChedr" ><img width="32" height="32" class="icon button rounded_button dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% static 'twitter.svg' %}" alt="{% trans "twitter иконка"%}"></a></li>
				</ul>
			</div>
		</div>
		<div class="footer_copywrite">
			Copywrite @ {% now "Y"%} Tim the Webmaster
		</div>
	</footer>
    <!-- This is for knowing where to look for an images-->
    <script>
        var PATH = "{% static .%}"
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            {% if language.code == LANGUAGE_CODE %}
				const language_code = "{{ language.code }}" 	
			{% endif %}
        {% endfor %}
    </script>
    <script src="{% static 'sticky.js' %}"></script>
    <script src="{% static 'toggle_nav.js' %}"></script>
    <script src="{% static 'toggle_button.js' %}"></script>
    <script src="{% static 'media_loader.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>
