{% extends 'Main/base.html' %}
{% load i18n%}
{% load static%}

{% block head %}
	<title>{% trans "Тим, Вебмастер и его контакты" %}</title>
	<meta name="description" content="{% trans "Тим, Вебмастер. Его контактные данные, ссылки на соцсети, почта и форма обратной связи" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'contacts'%}" />
{% endblock %}

{% block content %}
<div class="contact_limiter in_middle in_middle-self no_wrap padder">
	{% if feedback_message|length > 0 %}
	<div class="notification">
		{{ feedback_message }}
	</div>
	{% endif %}
	<h1>{% trans "Тим Вебмастер, его контакты и обратная связь" %}</h1>
	<div class="row in_middle-farapart">
		<div class="el-40-half">
			<h2 class="paragraph">{% trans "Я в социальных сетях" %}</h2>
			<ul class="list_without_sign">
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image squered_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'instagram.svg' %}" alt="{% trans "instagram иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://www.instagram.com/timachedr/" >Instagram</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image squered_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'vk.svg' %}" alt="{% trans "vk иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://vk.com/timachuduk" >VK</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image squered_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'telegram.svg' %}" alt="{% trans "telegram иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://t.me/DmitryChedr" >Telegram</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image squered_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'twitter.svg' %}" alt="{% trans "twitter иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://twitter.com/TimaChedr" >Twitter</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image squered_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'gmail.svg' %}" alt="{% trans "email иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://mail.google.com/mail/?view=cm&source=mailto&to=ChedrDen@gmail.com" >Email</a>
				</li>
			</ul>
		</div>
		<div class="el-40-half">
			<h2 class="paragraph">{% trans "Форма для обратной связи"%}</h2>
			<form action="" method="post">
				{% csrf_token %}
				{% for field in form %}
					<div>
						{{ field }}
					</div>
					{% for error in field.errors %}
					<p class="form_error">{{ error }}</p>
					{% endfor %}	
				{% endfor %}
				<div class="rules">
					<ul class="list_without_sign">
						<li>{% trans "Имя должно состоять от 3 до 25 букв" %}</li>
						<li>{% trans "Email должен быть настоящим" %}</li>
					</ul>
				</div>
				<input id="feedback" class="button squered_button action_button" type="submit" value="{% trans "Отправить" %}">
			</form> 
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
{% endblock %}


{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
{% endblock %}
