{% extends 'Main/base.html' %}
{% load i18n%}
{% load static%}

{% block head %}
	<title>{% trans "Тим, Вебмастер и его контакты" %}</title>
	<meta name="description" content="{% trans "Тим, Вебмастер. Его контактные данные, ссылки на соцсети, почта и форма обратной связи" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'contacts'%}" />
{% endblock %}

{% block content %}
<div class="limiter in_middle in_middle-self no_wrap padder">
	<h1 class="title_in_middle">{% trans "Тим Вебмастер, его контакты и обратная связь" %}</h1>
	<div class="row in_middle-even">
		<div>
			<h2 class="paragraph">{% trans "Я в социальных сетях" %}</h2>
			<ul class="list_without_sign">
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'instagram.svg' %}" alt="{% trans "instagram иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://www.instagram.com/timachedr/" >Instagram</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'vk.svg' %}" alt="{% trans "vk иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://vk.com/timachuduk" >VK</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'telegram.svg' %}" alt="{% trans "telegram иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://t.me/DmitryChedr" >Telegram</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'twitter.svg' %}" alt="{% trans "twitter иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://twitter.com/TimaChedr" >Twitter</a>
				</li>
				<li class="ref">
					<img width="32" height="32" class="icon dynamic_image rounded_button" src="{% static 'placeholder.svg' %}" data-src="{% static 'email.svg' %}" alt="{% trans "email иконка" %}">
					<a target="_blank" rel="contact" rev="{% trans "контактная страница Тимы, Вебмастера"%}" href="https://mail.google.com/mail/?view=cm&source=mailto&to=ChedrDen@gmail.com" >Email</a>
				</li>
			</ul>
		</div>
		<div>
			<h2 class="paragraph">{% trans "Форма для обратной связи"%}</h2>
			{% csrf_token %}
			<form id="toSignup">
				<div>
					<p id="username-error" class="hint-required"></p>
					<input placeholder="{% trans "* имя" %}" type="text" name="username" id="username">
				</div>
				<div>
					<p id="email-error" class="hint-required"></p>
					<input placeholder="{% trans "* почта" %}" type="email" name="email" id="email">
				</div>
				<div>
					<textarea placeholder="{% trans "Сообщение" %}" name="about" id="about"></textarea>
				</div>
				<div class="rules">
					<ul class="list_without_sign">
						<li>{% trans "Поля отмеченые * обязательны к заполнению" %}</li>
						<li>{% trans "Имя должно состоять от 3 до 25 букв" %}</li>
						<li>{% trans "Email должен быть настоящим" %}</li>
					</ul>
				</div>
				<div id="common-error" class="hint-required"></div>
				<div id="send_button" class="button squered_button action_button">
					{% trans "Отправить" %}
				</div>
			</form> 
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'forms.css' %}"/>
{% endblock %}


{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'Main/js/contact.js' %}"></script>
{% endblock %}
