{% extends 'Main/base.html' %}
{% load i18n %}
{% load static%}


{% block head %}
	<title>{% trans "Тим, вебмастер" %}</title>
	<meta name="description" content="{% trans "Вебмастер Тим, он занимается разработкой сайтов на django, написанием тг ботов, скриптов и парсеров, а также выполняет заказы по копирайту"%}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'home'%}" />
{% endblock %}

{% block content %}
<div class="limiter in_middle in_middle-self no_wrap padder">
	<div class="home_title column in_middle">
		<h1>{% trans "Тим Вебмастер" %}</h1>
		<p class="quote">{% trans "Вебмастер и в некотором роде художник" %}</p>
	</div>
	<div class="row in_middle-even home_art_cas_news">
		<div class="column home_art_cas">
			<div class="column max_row_gap">
				<h2><a class="text_button" href="{% url 'articles-list' %}">{% trans "Статьи" %}</a></h2>
				<hr>
				<div id="article_to_upload" class="post_to_upload toObserve" data-category="articles" data-forwho="home" data-offset="0" >
				</div>
			</div>
			<div class="column max_row_gap">
				<h2><a class="text_button" href="{% url 'cases-list' %}">{% trans "Кейсы" %}</a></h2>
				<hr>
				<div id="case_to_upload" class="post_to_upload toObserve" data-category="cases" data-forwho="home" data-offset="0" >
				</div>
			</div>
		</div>
		<div class="column home_news max_row_gap">
			<h2><a class="text_button" href="{% url 'news-list' %}">{% trans "Новости" %}</a></h2>
			<hr>
			<div class="column news_to_upload max_row_gap toObserve">
			</div>
			<div class="row home_buttons">
				<div id="more_news" class="button action_button squered_button">
					{% trans 'Ещё'%}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/home.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'Main/js/home.js' %}"></script>
{% endblock %}
