{% extends 'Main/base.html' %}
{% load i18n %}
{% load static%}


{% block head %}
	<title>{% trans "Тим, вебмастер" %}</title>
	<meta name="description" content="{% trans "Вебмастер Тим, он занимается разработкой сайтов на django, написанием тг ботов, скриптов и парсеров, а также выполняет заказы по копирайту"%}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'home'%}" />
{% endblock %}

{% block content %}
<div class="limiter in_middle in_middle-self no_wrap padder">
	<div class="row in_middle">
		<h1 class="home_title" >{% trans "Тим Вебмастер" %}</h1>
		<canvas id='canvas' class="canvas_as_element" data-vertex-shader="{% static "WebGLEngine/shaders/home_gik.vert" %}" data-fragment-shader="{% static "WebGLEngine/shaders/home_gik.frag" %}"></canvas>
	</div>
	<div class="column in_middle-even home_art_cas_news">
		{% if internal_tools_length > 0 %}
		<div class="home_ui_el ">
			<h2 class=""><a class="text_button" href="{% url 'tools-list' %}">{% trans "Инструменты" %}</a></h2>
			<div class="post_previews--category mid_gap">
			{% include 'Post/basic--post_preview-tool.html' with posts=internal_tools_posts %}
			</div>
			<div class="see_more_button button action_button">
				<a class="white_text_button " href="{% url 'tools-list' %}?page=1&tag={{internal_tool_tag}}">{% trans 'Больше ...' %}</a>
			</div>
		</div>
		{% endif %}
		<div class="home_ui_el">
			<h2 class="" >{% trans "Новые статьи" %}</h2>
			<div class="post_previews--category-forNews mid_gap">
				{% include 'Post/basic--post_preview-article.html' with posts=most_popular_article_posts %}
			</div>
			<div class="see_more_button button action_button">
				<a class="white_text_button " href="{% url 'articles-list' %}">{% trans 'Больше ...' %}</a>
			</div>
		</div>
		<div class="row max_gap">
			<div class="home_ui_el">
				<h2 class=""><a class="text_button" href="{% url 'articles-list' %}?page=1&tag={{latest_news_tag}}">{% trans "Последние новости" %}</a></h2>
				<div class="post_previews--category-forSeries mid_gap">
					{% include 'Post/basic--post_preview-article.html' with posts=latest_news_posts %}
				</div>
				<div class="see_more_button button action_button">
					<a class="white_text_button " href="{% url 'articles-list' %}?page=1&tag={{latest_news_tag}}">{% trans 'Больше ...' %}</a>
				</div>
			</div>
			<div class="home_ui_el">
				<h2 class="">{% trans "Заметки" %}</h2>
				<div class="post_previews--category-forSeries mid_gap">
						{% include 'Post/basic--post_preview-note.html' with posts=latest_notes_posts %}
				</div>
				<div class="see_more_button button action_button">
					<a class="white_text_button " href="{% url 'notes-list' %}">{% trans 'Больше ...' %}</a>
				</div>
			</div>
		</div>
		<div class="home_ui_el">
			<h2 class="" >{% trans "Другие ресурсы" %}</h2>
			<div class="post_previews--category-forResources mid_gap">
				<div class="tabs tabs-full-width">
					{% for res in my_resources %}
						{% if forloop.counter == 1 %}
						<div class="tab_button tab_active" data-bodyid="1">
							{{res.title}}
						</div>
						{% else %}
						<div class="tab_button" data-bodyid="{{forloop.counter}}">
							{{res.title}}
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="tab_body">
					{% for res in my_resources %}
						{% if forloop.counter == 1 %}
						<div id="tab_body-1" class="tab_element tab_element__active mid_gap">
							{% include 'Post/basic--post_preview-tool.html' with posts=res.objs %}
							<div class="see_more_button button action_button">
								<a class="white_text_button " href="{% url 'tools-list' %}?page=1&tag={{res.tag}}">{% trans 'Больше ...' %}</a>
							</div>
						</div>
						{% else %}
						<div id="tab_body-{{forloop.counter}}" class="tab_element  mid_gap">
							{% include 'Post/basic--post_preview-tool.html' with posts=res.objs %}
							<div class="see_more_button button action_button">
								<a class="white_text_button " href="{% url 'tools-list' %}?page=1&tag={{res.tag}}">{% trans 'Больше ...' %}</a>
							</div>
						</div>
						{% endif%}
					{% endfor %}
					</div>
				</div>
		</div>
		<div class="home_ui_el">
			<h2 class="" >{% trans "Другие статьи (по темам)" %}</h2>
			<div class="post_previews--category-forResources mid_gap">
				<div class="tabs tabs-full-width">
					{% for res in other_articles %}
						{% if forloop.counter == 1 %}
						<div class="tab_button tab_active" data-bodyid="1">
							{{res.title}}
						</div>
						{% else %}
						<div class="tab_button" data-bodyid="{{forloop.counter}}">
							{{res.title}}
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="tab_body">
					{% for res in other_articles %}
						{% if forloop.counter == 1 %}
						<div id="tab_body-1" class="tab_element tab_element__active mid_gap">
							{% include 'Post/basic--post_preview-article.html' with posts=res.objs %}
							<div class="see_more_button button action_button">
								<a class="white_text_button " href="{% url 'articles-list' %}?page=1&tag={{res.tag}}">{% trans 'Больше ...' %}</a>
							</div>
						</div>
						{% else %}
						<div id="tab_body-{{forloop.counter}}" class="tab_element mid_gap">
							{% include 'Post/basic--post_preview-article.html' with posts=res.objs %}
							<div class="see_more_button button action_button">
								<a class="white_text_button " href="{% url 'articles-list' %}?page=1&tag={{res.tag}}">{% trans 'Больше ...' %}</a>
							</div>
						</div>
						{% endif%}
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Post/css/tabs.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'Post/css/posts_preview.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/home.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% csrf_token %}
    <script>
		var STATIC = "{% static . %}"
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'Post/js/tabs.js' %}"></script>
	<!-- Простой 3д рендерер для сайта -->
    <script src="{% static 'WebGLEngine/js/webgl_engine_v1.js' %}"></script>
	<script src="{% static 'WebGLEngine/shaders/shader-simple_pcp.js' %}"></script>
	<!-- Скрипт для рендеринга на определённом канвасе -->
    <script src="{% static 'WebGLEngine/js/home_gik.js' %}"></script>
{% endblock %}
