{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
	<title>{% trans "Тим, Вебмастер. Предоставляемые услуги, работа" %}</title>
	<meta name="description" content="{% trans "Услуги которые предоставляет Тим, Вебмастер. Услуги рода разработки сайтов, написание скриптов, парсеров, тг ботов и копирайтинга" %}">
	<link rel="canonical" href="https://{{domain_name}}{%url 'services'%}" />
{% endblock %}

{% block content %}
<div class="limiter in_middle in_middle-self no_wrap padder">
	<h1 class="title" >{% trans "Оказываемые услуги и сфера ответственности Тимы" %}</h1>
	<h2 class="paragraph">{% trans "Разработка веб сайтов с бэкендом на Django, с примерами и шаблонами" %}</h2>
	<div class="text">
		{% blocktrans %}
		Чтобы начать писать бэкенд сайта необходимо чётко представлять будущую структуру сайта,
		иметь хотя бы одно готовое( кластеризированное ядро ), и желательно готовый дизайн сайта, или
		хотя бы его временный аналог.
		{% endblocktrans %}
	</div>
	<div class="text">
		{% blocktrans %}
		Тима делает сайты при помощи фреймворка <b>django</b>, который построен на популярнейшим языке
		програмирования python. Поэтому выбирая в качестве основы сайта django, вы будете уверены, что 
		всегда сможете найти специалистов для поддержки ваших онлайн проектов. Будь они вебсайтами или 
		вебприложениям.
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		Итак, можно заказать:
		{% endblocktrans %}
		<li>{% trans "Создание новых сайтов" %}</li>
		<li>{% trans "Поддержка уже существующих" %}</li>
		<li>{% trans "Обновление и улучшение сайтов" %}</li>
		<li>{% trans "Подключение и настройка сервисов почты, шифрования, баз данных" %}</li>
	</ul>
	<ul class="list">
		{% blocktrans %}
		Заказывая эту услугу вы можете быть уверены, что ваш сайт будет:
		{% endblocktrans %}
		<li>{% trans "Мультиязычным" %}</li>
		<li>{% trans "Динамическим( с использованием <i>ajax</i> технологий )" %}</li>
		<li>{% trans "А главное легко поддерживаемым"%}</li>
	</ul>
	<div class="text">
		{% blocktrans %}
		В качестве бонуса, можно помочь с развёртыванием вашего
		сайта на <i>хостинге</i> с привязкой доменного имени к нему.
		{% endblocktrans %}
	</div>
	<h2 class="paragraph">{% trans "SEO оптимизация и продвижение сайтов" %}</h2>
	<div class="text">
		{% blocktrans %}
		Тима не занимается seo продвижением, прям целых сайтов, ибо это очень сложно
		и долго для одного его, но Тима может выполнитять отдельные аспекты продвижения
		и снять часть обязанностей с вас.
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		Если вы продвигаете сайт, то Тима сможет вам облегчить работу в следующих направлениях:
		{% endblocktrans %}
		<li>{% trans "Линкбилдинг" %}</li>
		<li>{% trans "Гостевые посты на сайтах(моих)" %}</li>
		<li>{% trans "Внутренняя оптимизация. Так как я разработчик, могу предложить доработку сайта под сео нужды" %}</li>
	</ul>
	<h2 class="paragraph">{% trans "Написание скриптов" %}</h2>
	<div class="text">
		{% blocktrans %}
		Области применения скриптов ограничиваются только фантазией заказчика и возможностями того кто
		их пишет. И написание сложных скриптов может задействовать целый стек технологий. Это, конечно,
		зависит от заказаной услуги.
		{% endblocktrans %}
	</div>
	<div class="text">
		{% blocktrans %}
		Тим не хочет предлагать написать на N-языке программирования ибо, опять же, всё зависит от задач
		которые стоят перед тем кто эти скрипты реализует. Если написать скрипт на <b>bash</b> более целесообразно чем на
		python, то так тому и быть. Если хотите скрипт на JS в сайте, отлично. А если захотите скрипт на С, что же, очень
		странный выбор, но тоже можно.
		{% endblocktrans %}
	</div>
	<ul class="list">
		<li>{% trans "Автоматизаторы" %}</li>
		<li>{% trans "Решение спецефических задач. Инструментные" %}</li>
		<li>{% trans "Для игр, и программ ( встроенные, они же плагины, они же модули )" %}</li>
	</ul>
	<h2 class="paragraph">{% trans "Написание парсеров сайтов на сайты" %}</h2>
	<div class="text">
		{% blocktrans %}
		Скажем сразу, не существует универсального парсера, для всех сайтов. Хороший парсер, выполняет
		только одну задачу, спарсить необходимое количство данных за определённое время. 
		Плохой парсер, пытается быть всем и сразу.
		{% endblocktrans %}
	</div>
	<div class="text">
		{% blocktrans %}
		Можно считать парсер как картой в колоде. И в зависимости от игры в которую играют, каждая карта
		приобретает совершенно другой смысл, если не полностью его теряет. 
		Суть остаётся одной, чтобы играть тебе нужна колода. То есть, переводя с аналогии, тебе нужна своя
		колекция парсеров, под разные задачи и нужды.
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		Создам парсеры на:
		{% endblocktrans %}
		<li>{% trans "Парсеры на компъютер" %}</li>
		<li>{% trans "Парсеры на сайт" %}</li>
		<li>{% trans "Парсеры на мобильный телефон" %}</li>
	</ul>
	<div class="text">
		{% blocktrans %}
		Создам <b>парсер</b> для сбора больших объёмов данных 	с интересующих для вас ресурсов, будь то <i>криптобиржи</i> 	или <i>сайты знакомств</i>
		{% endblocktrans %}
	</div>
	<div class="text">
		{% blocktrans %}
		Также предоставляю свою колекцию бесплатных парсеров которые перекрывают примерно <b>80%</b> всех решаемых задач.
		{% endblocktrans %}
	</div>
	<h2 class="paragraph">{% trans "Создание телеграм ботов на заказ" %}</h2>
	<div class="text">
		{% blocktrans %}
		Боты очень популярны. И это факт. Каждому нужен бот, будь то обычный менеджер групп в телеграм или 
		бот интегрированный с ChatGPT для решения, например задач бизнеса, с такой скоростью, о которой человек
		и не мечтал.
		{% endblocktrans %}
	</div>
	<div class="text">
		{% blocktrans %}
		В своей работе Тим использует <i>aiogram</i> или <i>pyTelegramBotAPI</i>. Желательно определиться 
		заранее с функциями которые должен выполнять заказаный бот.
		{% endblocktrans %}
	</div>
	<ul class="list">
		{% blocktrans %}
		Что можно сделать:
		{% endblocktrans %}
		<li>{% trans "Боты-инструменты" %}</li>
		<li>{% trans "Боты-каталоги" %}</li>
		<li>{% trans "Боты-напоминалки/менеджеры" %}</li>
		<li>{% trans "Боты контент-менеджеры" %}</li>
		<li>{% trans "Чат-боты" %}</li>
	</ul>
	<h2 class="paragraph">{% trans "Услуги копирайтинга" %}</h2>
	<div class="text">
		{% blocktrans %}
		Тимон думает, что все мои посетители согласны с тем что наполнение сайтов, их контент,
		это одно из обязательных условий хорошего сайта. И копирайт помогает с этим наполнением.
		Ведь чтобы писать для веба, недостаточно просто писать то, что хочет автор, надо писать то,
		что ищут люди. Ведь если люди не ищют то что ты пишешь, то никто и не прочтёт.
		{% endblocktrans %}
	</div>
	<div class="text">
		{% blocktrans %}
		Поэтому копирайту нужно уделять много времени и писать так, чтобы люди это находили и
		читали соответсвенно. Так вот, что конретно можно заказать:
		{% endblocktrans %}
	</div>
	<ul class="list">
		<li>{% trans "Создание посадочной страницы и макет к ней" %}</li>
		<li>{% trans "Составление рекламного объявления для Яндекс Директ и Google Ads" %}</li>
		<li>{% trans "Составление коммерческих предложений ( холодных и горячих)" %}</li>
		<li>{% trans "Написание новостей и пресс-релизов" %}</li>
		<li>{% trans "Написание объявлений для онлайн досок" %}</li>
		<li>{% trans "Разработка и публикация постов для соц сетей"%}</li>
		<li>{% trans "Разработка и написание SEO/LSI текстов с предоставляемым	макетом для верстальщика" %}</li>
	</ul>
<div>
{% endblock %}

{% block footer_links %}
	{% for ref in popular_posts %}
		<li class="ref"><a href="{{ref.get_absolute_url}}">{{ref|truncatechars:15}}</a></li>
	{% endfor %}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'blocks.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'lists.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'table_of_content.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'table_of_content.js' %}"></script>
{% endblock %}
