{% extends 'Main/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<meta name="description" content="{% trans "Услуги которые предоставляет Тим, Вебмастер. Услуги рода разработки сайтов, написание скриптов, парсеров, тг ботов и копирайтинга" %}">
<link rel="canonical" href="https://{{domain_name}}{%url 'services'%}" />
	<title>{% trans "Тим, Вебмастер. Предоставляемые услуги, работа" %}</title>
{% endblock %}

{% block navigation_head %}
<div class="name"><b>{% trans "Услуги" %}</b></div>
<p class="quote">{% trans "То, чем Тима может быть полезен другим" %}</p>
{% endblock navigation_head %}


{% block content %}
	<div class="content_body">
		<div class="content_body__main_title content_body__main_title--horizontal">
			<h1>{% trans "Оказываемые услуги и сфера ответственности Тимы" %}</h1>
		</div>
		<div class="content_body__body">
			<div class="content_body__block">
				<div class="content_body__title ">
					<h2>{% trans "Разработка веб сайтов с бэкендом на Django, с примерами и шаблонами" %}</h2>
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Чтобы начать писать бэкенд сайта необходимо чётко представлять будущую структуру сайта,
					иметь хотя бы одно готовое( кластеризированное ядро ), и желательно готовый дизайн сайта, или
					хотя бы его временный аналог.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Тима делает сайты при помощи фреймворка <b>django</b>, который построен на популярнейшим языке
					програмирования python. Поэтому выбирая в качестве основы сайта django, вы будете уверены, что 
					всегда сможете найти специалистов для поддержки ваших онлайн проектов. Будь они вебсайтами или 
					вебприложениям.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Заказывая эту услугу вы можете быть уверены, что ваш сайт будет:
					{% endblocktrans %}
					<div class="list_simple">
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Мультиязычным" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Динамическим( с использованием <i>ajax</i> технологий )" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "А главное легко поддерживаемым"%}</div>
						</div>
					</div>
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					В качестве бонуса, можно помочь с развёртыванием вашего
					сайта на <i>хостинге</i> с привязкой доменного имени к нему.
					{% endblocktrans %}
				</div>
			</div>
			<div class="content_body__block">
				<div class="content_body__title ">
					<h2>{% trans "SEO оптимизация и продвижение сайтов" %}</h2>
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Тима не занимается seo продвижением, прям целых сайтов, ибо это очень сложно
					и долго для одного его, но Тима может выполнитять отдельные аспекты продвижения
					и снять часть обязанностей с вас.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Если вы продвигаете сайт, то Тима сможет вам облегчить работу в следующих направлениях:
					{% endblocktrans %}
					<div class="list_simple">
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Линкбилдинг" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Гостевые посты на сайтах(моих)" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Внутренняя оптимизация. Так как я разработчик, могу предложить доработку сайта под сео нужды</div>" %}
						</div>
					</div>
				</div>
			</div>
			<div class="content_body__block">
				<div class="content_body__title ">
					<h2>{% trans "Написание скриптов" %}</h2>
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Области применения скриптов ограничиваются только фантазией заказчика и возможностями того кто
					их пишет. И написание сложных скриптов может задействовать целый стек технологий. Это, конечно,
					зависит от заказаной услуги.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Тим не хочет предлагать написать на N-языке программирования ибо, опять же, всё зависит от задач
					которые стоят перед тем кто эти скрипты реализует. Если написать скрипт на <b>bash</b> более целесообразно чем на
					python, то так тому и быть. Если хотите скрипт на JS в сайте, отлично. А если захотите скрипт на С, что же, очень
					странный выбор, но тоже можно.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					<div class="list_simple">
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Напишет <b>скрипты</b> для автоматизации работ, с интеграцией  в <i>цифровые таблицы</i> и <i>базами данных</i> на python" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Скрипты на сервера и на сайты" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Домашние скрипты, так сказать, для домашних нужд" %}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="content_body__block">
				<div class="content_body__title ">
					<h2>{% trans "Написание парсеров сайтов на сайты" %}</h2>
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Скажем сразу, не существует универсального парсера, для всех сайтов. Хороший парсер, выполняет
					только одну задачу, спарсить необходимое количство данных за определённое время. 
					Плохой парсер, пытается быть всем и сразу.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Можно считать парсер как картой в колоде. И в зависимости от игры в которую играют, каждая карта
					приобретает совершенно другой смысл, если не полностью его теряет. 
					Суть остаётся одной, чтобы играть тебе нужна колода. То есть, переводя с аналогии, тебе нужна своя
					колекция парсеров, под разные задачи и нужды.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Создам <b>парсер</b> для сбора больших объёмов данных 	с интересующих для вас ресурсов, будь то <i>криптобиржи</i> 	или <i>сайты знакомств</i>
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Также предоставляю свою колекцию бесплатных парсеров которые перекрывают примерно <b>80%</b> всех решаемых задач.
					{% endblocktrans %}
				</div>
			</div>
			<div class="content_body__block">
				<div class="content_body__title ">
					<h2>{% trans "Создание телеграм ботов на заказ" %}</h2>
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Боты очень популярны. И это факт. Каждому нужен бот, будь то обычный менеджер групп в телеграм или 
					бот интегрированный с ChatGPT для решения, например задач бизнеса, с такой скоростью, о которой человек
					и не мечтал.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					В своей работе Тим использует <i>aiogram</i> или <i>pyTelegramBotAPI</i>. Желательно определиться 
					заранее с функциями которые должен выполнять заказаный бот.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Что можно сделать:
					{% endblocktrans %}
					<div class="list_simple">
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Создание телеграм бота" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Интеграция ботов на сайт. Связка <b>телеграм - сайт</b>" %}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content_body__block">
				<div class="content_body__title ">
					<h2>{% trans "Услуги копирайтинга" %}</h2>
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Тимон думает, что все мои посетители согласны с тем что наполнение сайтов, их контент,
					это одно из обязательных условий хорошего сайта. И копирайт помогает с этим наполнением.
					Ведь чтобы писать для веба, недостаточно просто писать то, что хочет автор, надо писать то,
					что ищут люди. Ведь если люди не ищют то что ты пишешь, то никто и не прочтёт.
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					{% blocktrans %}
					Поэтому копирайту нужно уделять много времени и писать так, чтобы люди это находили и
					читали соответсвенно. Так вот, что конретно можно заказать:
					{% endblocktrans %}
				</div>
				<div class="content_body__text">
					<div class="list_simple">
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Создание посадочной страницы и макет к ней" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Составление рекламного объявления для Яндекс Директ и Google Ads" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Составление коммерческих предложений ( холодных и горячих)" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Написание новостей и пресс-релизов" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Написание объявлений для онлайн досок" %}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Разработка и публикация постов для соц сетей"%}</div>
						</div>
						<div class="list_simple_el">
							<div class="list_simple_el__sign">◼️</div>
							<div class="list_simple_el__text">{% trans "Разработка и написание SEO/LSI текстов с предоставляемым	макетом для верстальщика" %}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/images.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/titles.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/text.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/lists.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}
