{% load i18n %}
{% load static %}

<hr>
<div class="table_of_content">
	<div class="table_of_content_title">{% trans "Содержание" %}</div>
	<ul class="table_of_content_list">
		{% for el in titles %}
		<li class="table_of_content_element {{el.padding}}">
			<p class="table_of_content_sign">{{el.tag_name}}</p>
			<p class="table_of_content_text" href="{{el.ref}}">{{el.text}}</p>
		</li>
		{% endfor %}
	</ul>
</div> 
<a href="#">
	<div class="up_button button">
		<img width="32" height="32" class="icon dynamic_image" src="{% static 'placeholder.svg' %}" data-src="{% static 'up_arrow.svg' %}" alt="{% trans 'Стрелка на верх' %}">
	</div>
</a>
<hr>
