{% load i18n %}
{% load static %}

<div id="table_of_content" class="table_of_content">
	<div class="table_of_content_title">{% trans "Содержание" %}</div>
	<ul class="table_of_content_list">
		{% for el in titles %}
		<li class="table_of_content_element {{el.padding}}">
			<p class="table_of_content_sign">{{el.tag_name}}</p>
			<p class="table_of_content_text" href="{{el.ref}}">{{el.text}}</p>
		</li>
		{% endfor %}
	</ul>
</div> 

<div id="current_header" data-current="0"></div>
<div id="table_of_content-minified" class="table_of_content-minified row no_wrap min_gap full_width in_middle-farapart in_middle padder">
	<div id="table_of_content-sign" class="table_of_content_sign"></div>
	<div id="table_of_content-text"></div>
	<div  class="row no_wrap min_gap">
		<div id="table_of_content-up" class="button text_button bordered_button squered_button ">
			▲
		</div>
		<div id="table_of_content-down" class="button bordered_button squered_button">
			▼
		</div>
	</div>
</div>
