.contacts{
    width: 100%;
    padding: 10% 10% 0 10%;
}
.contacts li {
  list-style: none;
  margin-top: 10px;
}
.contacts ul{
    margin-left: 50px;
}

.contacts img{
    max-width: 32px;
    min-width: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
.contacts img:hover{
    animation-name: "hoverd2";
    animation-timing-function: linear;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}
@keyframes hoverd2 {
   0% {
    } 
   100% {
    margin-right: 20px;
    } 
}

.contacts p{
    margin: 25px 0 25px 0;
}


.contacts li span img{
    position: relative;
    bottom: 10px;
}