.form{
	display: flex;
	flex-direction: column;
}

.form_form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content:center;
	align-items: center;
}

.form_el__about{
	width: 100%;
	margin: 10px;
	font-size: 16px;
	padding: 8px;
	border: 2px solid grey;
}
.form_el__about {
  resize: none;
}

.form_el{
	margin: 10px;
	font-size: 16px;
	max-width: 250px;
	padding: 8px;
	border: 2px solid grey;
	background-color: white;
}
.form_el__file{
	margin: 10px;
	font-size: 16px;
	max-width: 250px;
	padding: 8px;
}
.sel_file{
	display: flex;
    align-items: center;
	flex-wrap:wrap;
	justify-content: center;
}

.hint-container{
	padding: 10px;
	font-size: 12px;
	color: grey;
}
.hint-required{
	color:red;
	font-size: 14px;
}
.hint-error{
	padding: 5px;
}

.hint-common_error{
	color:red;
	font-size: 18px;
}


