.content_body__main_title{ 
	font-weight: bold;
	padding: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.content_body__main_title--horizontal{ 
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content_body__main_title--horizontal > h1{ 
	margin: 25px;

}

.content_body__main_title--horizontal > img{ 
	border: 2px solid black;
}
.content_body__title{
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	padding: 10px;
	margin-bottom: 10px;
	border-top: 2px solid black;
	color: white;
	background-color: black;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.content_body__title-fieldset{
	font-weight: bold;
	text-align: center;
	padding: 10px;
	color: white;
	background-color: black;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.content_body__title--clean{
	margin-top: 0px;
}
.content_body__title--super_clean{
	margin: 0px;
}
.content_body__title > h2, .content_body__title > h3 {
	display: flex;
	justify-content: center;
}
.content_body__title-fieldset > h2, .content_body__title-fieldset > h3 {
	display: flex;
	justify-content: center;
}
.content_body__main_title > h1{
    font-size : clamp(1.5rem, 3vw, 3rem);
}

.content_body__title > h2{
    font-size : clamp(1.0rem, 3vw, 3rem);
}

.content_body__title > h3{
    font-size : clamp(0.8rem, 2vw, 3rem);
}

.content_body__title-fieldset > h2{
    font-size : clamp(1.0rem, 2vw, 3rem);
}

.content_body__title-fieldset > h3{
    font-size : clamp(0.8rem, 2vw, 3rem);
}
.content_body__quote{
	display: flex;
	justify-content: center;
	font-style: italic;
	text-align: center;
	margin-top: 25px;
}

.content_body__title--simple{
	border: 0px;
	color: black;
	background-color: white;
}
