.content_body__main_title{ 
	font-weight: bold;
	padding: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 60vh;
}

.content_body__main_title--horizontal{ 
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content_body__main_title--horizontal > h1{ 
	margin: 25px;
}

.content_body__main_title--horizontal > img{ 
	border: 2px solid black;
}
.content_body__title{
	font-weight: bold;
	text-align: center;
	max-width: 100%;
	margin-top: 50px;
	padding-right: 10px;
	margin-bottom: 10px;
	border-top: 2px solid black;
	color: white;
	background-color: black;
}
.content_body__title > h2, .content_body__title > h3 {
	display: flex;
	justify-content: center;
}
.content_body__main_title > h1{
	font-size: 40px;
}

.content_body__title > h2{
	font-size: 32px;
}

.content_body__title > h3{
	font-size: 24px;
}
.content_body__quote{
	display: flex;
	justify-content: center;
	font-style: italic;
	text-align: center;
	margin-top: 25px;
}

.content_body__title--simple{
	border: 0px;
	color: black;
	background-color: white;
}

@media screen and (max-width: 900px){
	.content_body__title{
	}
	.content_body__main_title > h1{
		font-size: 32px;
	}

	.content_body__title > h2{
		font-size: 24px;
	}

	.content_body__title > h3{
		font-size: 16px;
	}
}
