.content_body__toggler_header{
	align-items: center;
	display: flex;
	justify-content: start;
	cursor: pointer;
	padding-left: 25px;
}
.content_body__toggler_header--sign{
	padding-right: 20px;
	font-size: 40px;
}
.hidden{
	display: none;
}
